# Codebusters KPIs and Other Usefull Patterns

## import libraries

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

Import and clean `all_incident_requests` data set 
- remove unnecessary columns
- rename columns

# Prepare data with all tickets

### Import all incident request

Tickets are taken from the following jira filter:<br/> `project = CI AND issuetype in (standardIssueTypes(), "Expense Delivery") AND "Epic Link" is EMPTY AND "Case Number/s" is not EMPTY AND cf[14125] in ("Service Request (ir)") AND resolved is not EMPTY AND resolutiondate >= 2022-12-19`

In [2]:
all_ir_origin = pd.read_csv('DataSets/MainTickets/all_incident_requests.csv')
all_ir_origin

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Comment.26,Comment.27,Comment.28,Comment.29,Comment.30,Comment.31,Comment.32,Comment.33,Comment.34,Comment.35
0,porsche:EMSconfigure correctly: no perdiem gen...,CI-9061,492388,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Allianz: analyze the Export script SEV-2,CI-9054,492081,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HB: wrong idoc configuration,CI-9006,489967,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EH - Set export job,CI-8995,489495,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,oebb : unable to create statements keeps loading,CI-8974,488267,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,ÖBB: Paid By Company Information is overwritten,CI-7375,411778,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,29/Nov/22 8:18 PM;debert;[~dykiert] This is lo...,"12/Dec/22 8:59 AM;kmarscholl;Dear [~dykiert], ...",13/Dec/22 9:56 PM;debert;[~marscholl] [~dykier...,14/Dec/22 8:52 AM;kmarscholl;[~ebert] Noted. T...,22/Dec/22 8:39 AM;nsanchezruiz;[~dykiert] feed...,"18/Jan/23 6:25 AM;ddykiert;Hello, any news her...",18/Jan/23 8:23 AM;kmarscholl;[~dykiert] As I c...,23/Jan/23 10:53 AM;kmarscholl;[~dykiert] ÖBB v...,26/Jan/23 10:21 AM;ddykiert;Hello [~marscholl]...,26/Jan/23 10:26 AM;kmarscholl;[~nsanchez] Can...
103,ÖBB: Paid by Company for Flight only present i...,CI-7373,411758,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Amadeus - Unbalanced Lines (Per diem) in expor...,CI-7361,410979,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Cepsa - XLM export issue,CI-7080,401042,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Amadeus - Unbalanced Lines in export file,CI-6942,394707,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Select from the dataset only columns necessary for the further analysis

In [3]:
all_ir = all_ir_origin[['Issue key', 'Issue id', 'Status', 'Reporter', 'Created', 'Due Date', 'Resolved', 'Custom field (Customer/s)','Custom field (Type of Request)']]
all_ir.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\1003624474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

In [4]:
all_ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        107 non-null    object
 1   Issue id         107 non-null    int64
 2   Status           107 non-null    object
 3   Reporter         107 non-null    object
 4   Created          107 non-null    object
 5   Due Date         107 non-null    object
 6   Resolved         107 non-null    object
 7   Customer         107 non-null    object
 8   Type of Request  107 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.6+ KB

In [5]:
all_ir.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
dtype: int64

### Convert date table to `datetime` object

In [6]:
all_ir["Created"] = pd.to_datetime(all_ir["Created"])
all_ir["Resolved"] = pd.to_datetime(all_ir["Resolved"])

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\119588641.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_ir["Created"] = pd.to_datetime(all_ir["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\119588641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir["Created"] = pd.to_datetime(all_ir["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\119588641.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_ir["Resolved"] = pd.to_datetime(all_ir["Resolved"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\119588641.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir["Resolved"] = pd.to_datetime(all_ir["Resolved"])

In [7]:
all_ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        107 non-null    object
 1   Issue id         107 non-null    int64
 2   Status           107 non-null    object
 3   Reporter         107 non-null    object
 4   Created          107 non-null    datetime64[ns]
 5   Due Date         107 non-null    object
 6   Resolved         107 non-null    datetime64[ns]
 7   Customer         107 non-null    object
 8   Type of Request  107 non-null    object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 7.6+ KB

In [8]:
all_ir.shape

(107, 9)

In [9]:
all_ir["ticket_age"] = all_ir["Resolved"] - all_ir["Created"]
all_ir

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\2921873505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir["ticket_age"] = all_ir["Resolved"] - all_ir["Created"]

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age
0,CI-9061,492388,Closed,nsanchezruiz,2023-08-04 13:44:00,09/Aug/23 12:00 AM,2023-08-07 13:51:00,Porsche,Incident Request (IR),3 days 00:07:00
1,CI-9054,492081,Closed,mmaciejczyk,2023-08-03 13:35:00,04/Aug/23 12:00 AM,2023-08-04 16:01:00,Allianz,Incident Request (IR),1 days 02:26:00
2,CI-9006,489967,Closed,nsanchezruiz,2023-07-25 14:56:00,26/Jul/23 12:00 AM,2023-08-04 08:58:00,Hugo Boss,Incident Request (IR),9 days 18:02:00
3,CI-8995,489495,Closed,ssanz,2023-07-24 08:52:00,26/Jul/23 12:00 AM,2023-07-24 12:36:00,Endress Hauser,Incident Request (IR),0 days 03:44:00
4,CI-8974,488267,Closed,nsanchezruiz,2023-07-17 13:48:00,19/Jul/23 12:00 AM,2023-07-25 09:24:00,OBB,Incident Request (IR),7 days 19:36:00
...,...,...,...,...,...,...,...,...,...,...
102,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),147 days 22:58:00
103,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),164 days 18:30:00
104,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00
105,CI-7080,401042,Closed,ssanz,2022-07-05 16:41:00,08/Jul/22 12:00 AM,2023-01-24 10:14:00,CEPSA,Incident Request (IR),202 days 17:33:00
106,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00

**Summary**
- there is not ir ticket without `resolved` date
- there is no `null` value in any of the column
- date type columns converted to `datetime` object in order to make calculucations on these columns

# Prepare data with individuals tasks for incident requests

## Import and clean `all_individual_tasks` data set 
- we are not able to downaload full data becuase of jira limitation, therefore we need to combine data from differen periods
- remove unnecessary columns
- replace missing `date` values with 0
- drop rows with "null" values

In [10]:
individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20221231_till_20230331.csv')
# individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230401_till_20230516.csv')
individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230331_till_20230703.csv')


all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3], axis=0)
all_individual_tasks_combined

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\251257024.py:1: DtypeWarning: Columns (216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\251257024.py:2: DtypeWarning: Columns (25,222,223,224,225,226,227,228,229,230,264) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20221231_till_20230331.csv')
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\251257024.py:4: DtypeWarning: Columns (27,37,38,39,78,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,329,330,331) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230331_till_20230703.csv')

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Sprint.44,Sprint.45,Sprint.46,Sprint.47,Sprint.48,Comment.2,Comment.3,Comment.4,Comment.5,Comment.6
0,Configure,CI-10230383,438469,437773,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Import to Test System,CI-10230381,438460,437698,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Import in Production,CI-10230377,438438,432387,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Import to Customer Test System,CI-10230376,438437,435618,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3410,Import in Production,CI-10236611,461949,457052,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3411,Communicate,CI-10236609,461942,459898,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3412,Import to Customer Test System,CI-10236608,461941,459898,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3413,Verify,CI-10236607,461938,458212,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3414,Import to Customer Test System,CI-10236604,461910,452780,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Reset indexex of a combined dataset </br>
Indexes of a new dataset are not appropriate, we need to apply `reset_index` method in order to match them with the number of rows

In [11]:
all_individual_tasks_combined.reset_index(inplace=True)
all_individual_tasks_combined

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\4115877976.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_individual_tasks_combined.reset_index(inplace=True)

,index,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,...,Sprint.44,Sprint.45,Sprint.46,Sprint.47,Sprint.48,Comment.2,Comment.3,Comment.4,Comment.5,Comment.6
0,0,Configure,CI-10230383,438469,437773,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Import to Test System,CI-10230381,438460,437698,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Import in Production,CI-10230377,438438,432387,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Import to Customer Test System,CI-10230376,438437,435618,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,3410,Import in Production,CI-10236611,461949,457052,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9985,3411,Communicate,CI-10236609,461942,459898,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9986,3412,Import to Customer Test System,CI-10236608,461941,459898,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9987,3413,Verify,CI-10236607,461938,458212,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9988,3414,Import to Customer Test System,CI-10236604,461910,452780,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
all_individual_tasks_combined.to_csv("all_individual_tasks_combined.csv")

### Filter columns and select only the ones needed for further calculations

In [13]:
all_individual_tasks = all_individual_tasks_combined[['Summary','Issue id', 'Parent id', 'Created', 'Resolved']]
all_individual_tasks

,Summary,Issue id,Parent id,Created,Resolved
0,Configure,438469,437773,30/12/2022 13:56,02/01/2023 13:18
1,Import to Test System,438460,437698,30/12/2022 13:14,02/01/2023 13:33
2,Configure,438459,437698,30/12/2022 13:14,30/12/2022 13:14
3,Import in Production,438438,432387,30/12/2022 11:38,05/01/2023 09:48
4,Import to Customer Test System,438437,435618,30/12/2022 11:01,03/01/2023 12:17
...,...,...,...,...,...
9984,Import in Production,461949,457052,31/Mar/23 9:08 AM,06/Apr/23 12:39 PM
9985,Communicate,461942,459898,31/Mar/23 9:02 AM,31/Mar/23 9:02 AM
9986,Import to Customer Test System,461941,459898,31/Mar/23 9:02 AM,31/Mar/23 9:02 AM
9987,Verify,461938,458212,31/Mar/23 8:54 AM,31/Mar/23 10:58 AM
9988,Import to Customer Test System,461910,452780,31/Mar/23 2:09 AM,31/Mar/23 11:04 AM

In [14]:
all_individual_tasks[all_individual_tasks['Parent id'] == 461872]

,Summary,Issue id,Parent id,Created,Resolved
3771,Review,461873,461872,30/Mar/23 4:52 PM,05/Apr/23 11:25 AM
8262,Clarify,473108,461872,18/May/23 12:10 PM,18/May/23 12:20 PM
8263,Configure,473107,461872,18/May/23 12:10 PM,18/May/23 12:10 PM
8998,Verify,467945,461872,26/Apr/23 8:53 AM,18/May/23 12:10 PM
9383,Import to Customer Test System,465060,461872,14/Apr/23 12:04 PM,26/Apr/23 8:53 AM
9621,Verify,464042,461872,11/Apr/23 9:33 AM,14/Apr/23 12:04 PM
9622,Import to Test System,464041,461872,11/Apr/23 9:33 AM,11/Apr/23 9:33 AM
9626,Configure,463983,461872,10/Apr/23 4:14 PM,11/Apr/23 9:33 AM
9744,Verify,463104,461872,05/Apr/23 12:50 PM,10/Apr/23 4:14 PM
9745,Import to Test System,463103,461872,05/Apr/23 12:50 PM,05/Apr/23 12:50 PM
9759,Configure,463060,461872,05/Apr/23 11:25 AM,05/Apr/23 12:50 PM

In [15]:
all_individual_tasks.shape

(9989, 5)

### Convert date like columns to `datetime` object

In [16]:
all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"], dayfirst=True, format='mixed')
all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"], dayfirst=True,  format='mixed')
all_individual_tasks.info()

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\2151095576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"], dayfirst=True, format='mixed')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9989 entries, 0 to 9988
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    9989 non-null   object
 1   Issue id   9989 non-null   int64
 2   Parent id  9989 non-null   int64
 3   Created    9989 non-null   datetime64[ns]
 4   Resolved   9662 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 390.3+ KB

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\2151095576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"], dayfirst=True,  format='mixed')

In [17]:
all_individual_tasks['Summary'].value_counts()

Summary
Configure                               1765
Review                                  1717
Verify                                  1637
Communicate                             1437
Import to Test System                   1291
Import in Production                    1126
Import to Customer Test System           610
Explain                                  229
Clarify                                   92
Do                                        80
CLONE - Review                             1
Contact Mattia about risks assesment       1
Rename the repository                      1
Check secrets with ITS                     1
Configure2                                 1
Name: count, dtype: int64

### Check if there are any `null` values

In [18]:
all_individual_tasks.isnull().sum()

Summary        0
Issue id       0
Parent id      0
Created        0
Resolved     327
dtype: int64

In [19]:
all_individual_tasks[all_individual_tasks["Parent id"] == 461872]

,Summary,Issue id,Parent id,Created,Resolved
3771,Review,461873,461872,2023-03-30 16:52:00,2023-04-05 11:25:00
8262,Clarify,473108,461872,2023-05-18 12:10:00,2023-05-18 12:20:00
8263,Configure,473107,461872,2023-05-18 12:10:00,2023-05-18 12:10:00
8998,Verify,467945,461872,2023-04-26 08:53:00,2023-05-18 12:10:00
9383,Import to Customer Test System,465060,461872,2023-04-14 12:04:00,2023-04-26 08:53:00
9621,Verify,464042,461872,2023-04-11 09:33:00,2023-04-14 12:04:00
9622,Import to Test System,464041,461872,2023-04-11 09:33:00,2023-04-11 09:33:00
9626,Configure,463983,461872,2023-04-10 16:14:00,2023-04-11 09:33:00
9744,Verify,463104,461872,2023-04-05 12:50:00,2023-04-10 16:14:00
9745,Import to Test System,463103,461872,2023-04-05 12:50:00,2023-04-05 12:50:00
9759,Configure,463060,461872,2023-04-05 11:25:00,2023-04-05 12:50:00

### Drop all rows with null value

In [20]:
all_individual_tasks_without_null = all_individual_tasks.dropna()
all_individual_tasks_without_null.isnull().sum()

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

In [21]:
all_individual_tasks_without_null[all_individual_tasks_without_null["Issue id"] == 461872]

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved]
Index: []

### Identify and drop duplicated rows

In [22]:
all_individual_tasks_duplicated_rows = all_individual_tasks_without_null[all_individual_tasks_without_null.duplicated()]
all_individual_tasks_duplicated_rows

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved]
Index: []

In [23]:
all_individual_tasks_no_duplicates = all_individual_tasks_without_null.drop_duplicates()
all_individual_tasks_no_duplicates

,Summary,Issue id,Parent id,Created,Resolved
0,Configure,438469,437773,2022-12-30 13:56:00,2023-01-02 13:18:00
1,Import to Test System,438460,437698,2022-12-30 13:14:00,2023-01-02 13:33:00
2,Configure,438459,437698,2022-12-30 13:14:00,2022-12-30 13:14:00
3,Import in Production,438438,432387,2022-12-30 11:38:00,2023-01-05 09:48:00
4,Import to Customer Test System,438437,435618,2022-12-30 11:01:00,2023-01-03 12:17:00
...,...,...,...,...,...
9984,Import in Production,461949,457052,2023-03-31 09:08:00,2023-04-06 12:39:00
9985,Communicate,461942,459898,2023-03-31 09:02:00,2023-03-31 09:02:00
9986,Import to Customer Test System,461941,459898,2023-03-31 09:02:00,2023-03-31 09:02:00
9987,Verify,461938,458212,2023-03-31 08:54:00,2023-03-31 10:58:00
9988,Import to Customer Test System,461910,452780,2023-03-31 02:09:00,2023-03-31 11:04:00

**Summary:**

- We are interested only in completed tickets so we have droped rows which contain `null` in `resolved` columns
- Data is filtered and cleaned we are ready for analysis part

# Data Analysis

# Daterminate how long each ticket was in particular individual task

- calculate time for eacch subtask
- calculate how long each ticket was in review
- calculate how long each ticket was "on codebusters"
- calculate how long each ticket was "outside codebusters"

## Calculate time spent in each of the subtask

In [24]:
all_individual_tasks_time_calculation = all_individual_tasks_no_duplicates
all_individual_tasks_time_calculation["time_in"] = all_individual_tasks_time_calculation["Resolved"] - all_individual_tasks_time_calculation["Created"]

### List all available statuses of the CI ticket subtask

In [25]:
all_individual_tasks_time_calculation["Summary"].value_counts()

Summary
Configure                         1735
Review                            1608
Verify                            1597
Communicate                       1360
Import to Test System             1284
Import in Production              1117
Import to Customer Test System     596
Explain                            217
Clarify                             89
Do                                  58
Configure2                           1
Name: count, dtype: int64

## Calculate time ticket was in review step

In [26]:
all_individual_tasks_reivew = all_individual_tasks_time_calculation[all_individual_tasks_time_calculation['Summary'] == 'Review']
all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)
all_individual_tasks_reivew.reset_index(inplace=True)
all_individual_tasks_reivew

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\3555403275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
0,11,Review,438430,438429,2022-12-30 10:21:00,2023-01-09 17:06:00,10 days 06:45:00
1,19,Review,438405,436853,2022-12-29 16:55:00,2023-01-04 09:50:00,5 days 16:55:00
2,25,Review,438383,438382,2022-12-29 14:47:00,2023-01-04 11:44:00,5 days 20:57:00
3,38,Review,438363,438360,2022-12-29 11:45:00,2022-12-29 12:21:00,0 days 00:36:00
4,40,Review,438361,438360,2022-12-29 11:30:00,2022-12-29 11:42:00,0 days 00:12:00
...,...,...,...,...,...,...,...
1603,9953,Review,462120,462119,2023-03-31 13:37:00,2023-04-18 16:44:00,18 days 03:07:00
1604,9954,Review,462118,462117,2023-03-31 13:35:00,2023-04-18 16:44:00,18 days 03:09:00
1605,9955,Review,462116,462115,2023-03-31 13:32:00,2023-04-18 10:34:00,17 days 21:02:00
1606,9974,Review,462016,462015,2023-03-31 10:19:00,2023-04-05 12:30:00,5 days 02:11:00
1607,9980,Review,462001,455701,2023-03-31 10:04:00,2023-04-03 15:08:00,3 days 05:04:00

In [27]:
all_ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        107 non-null    object
 1   Issue id         107 non-null    int64
 2   Status           107 non-null    object
 3   Reporter         107 non-null    object
 4   Created          107 non-null    datetime64[ns]
 5   Due Date         107 non-null    object
 6   Resolved         107 non-null    datetime64[ns]
 7   Customer         107 non-null    object
 8   Type of Request  107 non-null    object
 9   ticket_age       107 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(6), timedelta64[ns](1)
memory usage: 8.5+ KB

### Grup tickets by the `Parent id` and sum total time spent in `review` subtask

In [28]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 441934]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
1028,6150,Review,441935,441934,2023-01-17 09:12:00,2023-01-18 11:15:00,1 days 02:03:00
1244,7646,Review,477501,441934,2023-06-07 09:44:00,2023-06-07 09:44:00,0 days 00:00:00

In [29]:
all_individual_tasks_reivew_sum = all_individual_tasks_reivew.groupby(by=["Parent id"], dropna=False)["time_in_review"].sum()
all_individual_tasks_reivew_sum = all_individual_tasks_reivew_sum.to_frame()
all_individual_tasks_reivew_sum.reset_index(inplace=True)
all_individual_tasks_reivew_sum

      Parent id   time_in_review
0        336670  0 days 00:01:00
1        349721  0 days 00:02:00
2        393585  3 days 13:22:00
3        399228 52 days 06:54:00
4        402477  0 days 18:56:00
...         ...              ...
1431     485193  0 days 22:15:00
1432     485356  0 days 04:19:00
1433     485367  0 days 00:05:00
1434     485418  0 days 01:44:00
1435     485500  0 days 00:12:00

[1436 rows x 2 columns]

In [30]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1082     465210 2 days 22:40:00

In [31]:
all_individual_tasks_reivew_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Parent id       1436 non-null   int64
 1   time_in_review  1436 non-null   timedelta64[ns]
dtypes: int64(1), timedelta64[ns](1)
memory usage: 22.6 KB

In [32]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1082     465210 2 days 22:40:00

### Check on the particular ticket if the total time is summed correctly

In [33]:
all_individual_tasks_reivew.groupby("Parent id").count()

           index  Summary  Issue id  Created  Resolved  time_in_review
Parent id
336670         1        1         1        1         1               1
349721         1        1         1        1         1               1
393585         1        1         1        1         1               1
399228         3        3         3        3         3               3
402477         2        2         2        2         2               2
...          ...      ...       ...      ...       ...             ...
485193         1        1         1        1         1               1
485356         1        1         1        1         1               1
485367         2        2         2        2         2               2
485418         1        1         1        1         1               1
485500         1        1         1        1         1               1

[1436 rows x 6 columns]

In [34]:
all_individual_tasks_reivew.loc[all_individual_tasks_reivew["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Summary, Issue id, Parent id, Created, Resolved, time_in_review]
Index: []

In [35]:
type(all_individual_tasks_reivew_sum)

pandas.core.frame.DataFrame

In [36]:
all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum
all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
all_individual_tasks_reivew_sum_df

      index  Parent id   time_in_review
0         0     336670  0 days 00:01:00
1         1     349721  0 days 00:02:00
2         2     393585  3 days 13:22:00
3         3     399228 52 days 06:54:00
4         4     402477  0 days 18:56:00
...     ...        ...              ...
1431   1431     485193  0 days 22:15:00
1432   1432     485356  0 days 04:19:00
1433   1433     485367  0 days 00:05:00
1434   1434     485418  0 days 01:44:00
1435   1435     485500  0 days 00:12:00

[1436 rows x 3 columns]

In [37]:
all_individual_tasks_reivew_sum_df.loc[all_individual_tasks_reivew_sum_df["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Parent id, time_in_review]
Index: []

In [38]:
all_individual_tasks_reivew_sum_df.isnull().sum()

index             0
Parent id         0
time_in_review    0
dtype: int64

In [39]:
all_individual_tasks_reivew_sum_df

      index  Parent id   time_in_review
0         0     336670  0 days 00:01:00
1         1     349721  0 days 00:02:00
2         2     393585  3 days 13:22:00
3         3     399228 52 days 06:54:00
4         4     402477  0 days 18:56:00
...     ...        ...              ...
1431   1431     485193  0 days 22:15:00
1432   1432     485356  0 days 04:19:00
1433   1433     485367  0 days 00:05:00
1434   1434     485418  0 days 01:44:00
1435   1435     485500  0 days 00:12:00

[1436 rows x 3 columns]

**Summary:**
- There are some tickets which have been more than once in the `Review` step
- We can notice that after gruping and summing tickets, case with 'Parent id' `345462` has total time equals more than `8 days`, which is the sum of the time spend in previous two `Review` subtasks

### Merge `all_ir` dataset with `all_individual_tasks_reivew_sum_df`

In [40]:
all_ir_review_time = pd.merge(all_ir, all_individual_tasks_reivew_sum_df[['Parent id', 'time_in_review']], how="left",left_on = "Issue id",right_on = "Parent id")
all_ir_review_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-9061,492388,Closed,nsanchezruiz,2023-08-04 13:44:00,09/Aug/23 12:00 AM,2023-08-07 13:51:00,Porsche,Incident Request (IR),3 days 00:07:00,NaN,NaT
1,CI-9054,492081,Closed,mmaciejczyk,2023-08-03 13:35:00,04/Aug/23 12:00 AM,2023-08-04 16:01:00,Allianz,Incident Request (IR),1 days 02:26:00,NaN,NaT
2,CI-9006,489967,Closed,nsanchezruiz,2023-07-25 14:56:00,26/Jul/23 12:00 AM,2023-08-04 08:58:00,Hugo Boss,Incident Request (IR),9 days 18:02:00,NaN,NaT
3,CI-8995,489495,Closed,ssanz,2023-07-24 08:52:00,26/Jul/23 12:00 AM,2023-07-24 12:36:00,Endress Hauser,Incident Request (IR),0 days 03:44:00,NaN,NaT
4,CI-8974,488267,Closed,nsanchezruiz,2023-07-17 13:48:00,19/Jul/23 12:00 AM,2023-07-25 09:24:00,OBB,Incident Request (IR),7 days 19:36:00,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
102,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),147 days 22:58:00,411778.0,4 days 21:13:00
103,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),164 days 18:30:00,411758.0,4 days 21:51:00
104,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,NaN,NaT
105,CI-7080,401042,Closed,ssanz,2022-07-05 16:41:00,08/Jul/22 12:00 AM,2023-01-24 10:14:00,CEPSA,Incident Request (IR),202 days 17:33:00,NaN,NaT
106,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,NaN,NaT

In [41]:
all_ir_review_time.isnull().sum()

Issue key           0
Issue id            0
Status              0
Reporter            0
Created             0
Due Date            0
Resolved            0
Customer            0
Type of Request     0
ticket_age          0
Parent id          10
time_in_review     10
dtype: int64

### Investigate `null` rows after merging  main ir tickets with individual subtasks

In [42]:
null_rows = all_ir_review_time[all_ir_review_time["time_in_review"].isnull()]
null_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 106
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        10 non-null     object
 1   Issue id         10 non-null     int64
 2   Status           10 non-null     object
 3   Reporter         10 non-null     object
 4   Created          10 non-null     datetime64[ns]
 5   Due Date         10 non-null     object
 6   Resolved         10 non-null     datetime64[ns]
 7   Customer         10 non-null     object
 8   Type of Request  10 non-null     object
 9   ticket_age       10 non-null     timedelta64[ns]
 10  Parent id        0 non-null      float64
 11  time_in_review   0 non-null      timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(6), timedelta64[ns](2)
memory usage: 1.0+ KB

In [43]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-9061,492388,Closed,nsanchezruiz,2023-08-04 13:44:00,09/Aug/23 12:00 AM,2023-08-07 13:51:00,Porsche,Incident Request (IR),3 days 00:07:00,NaN,NaT
1,CI-9054,492081,Closed,mmaciejczyk,2023-08-03 13:35:00,04/Aug/23 12:00 AM,2023-08-04 16:01:00,Allianz,Incident Request (IR),1 days 02:26:00,NaN,NaT
2,CI-9006,489967,Closed,nsanchezruiz,2023-07-25 14:56:00,26/Jul/23 12:00 AM,2023-08-04 08:58:00,Hugo Boss,Incident Request (IR),9 days 18:02:00,NaN,NaT
3,CI-8995,489495,Closed,ssanz,2023-07-24 08:52:00,26/Jul/23 12:00 AM,2023-07-24 12:36:00,Endress Hauser,Incident Request (IR),0 days 03:44:00,NaN,NaT
4,CI-8974,488267,Closed,nsanchezruiz,2023-07-17 13:48:00,19/Jul/23 12:00 AM,2023-07-25 09:24:00,OBB,Incident Request (IR),7 days 19:36:00,NaN,NaT
5,CI-8967,487857,Closed,yutaka.yasumi,2023-07-14 04:38:00,17/Jul/23 12:00 AM,2023-07-17 09:08:00,Amadeus,Incident Request (IR),3 days 04:30:00,NaN,NaT
6,CI-8939,485970,Closed,mmaciejczyk,2023-07-06 15:30:00,13/Jul/23 12:00 AM,2023-07-27 15:59:00,Rheinmetall,Incident Request (IR),21 days 00:29:00,NaN,NaT
104,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,NaN,NaT
105,CI-7080,401042,Closed,ssanz,2022-07-05 16:41:00,08/Jul/22 12:00 AM,2023-01-24 10:14:00,CEPSA,Incident Request (IR),202 days 17:33:00,NaN,NaT
106,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,NaN,NaT

In [44]:
all_ir_review_time_without_null = all_ir_review_time.dropna()
all_ir_review_time_without_null.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
ticket_age         0
Parent id          0
time_in_review     0
dtype: int64

**Summary**:
- Ror tickets like `CI-8488`revew time equals 0, so we need to drop it, because it can leads to wrong KPIs calculations

# TO DO
- update the lates dateset

## Determinate time spent on codebusters

- calculate the total time ticket was in subtasks "Configure", "Review", "mport to Test System", "Import in Production", "Import to Customer Test System"
- apply the results to all tickets dataset

In [45]:
all_individual_with_codebusters_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Configure", "Review", "Import to Test System", "Import in Production", "Import to Customer Test System", "Import to Test", "Import to Staging System"])]

Summarize time for each codebusters subtask

In [46]:
all_individual_with_codebusters_time.groupby("Parent id").count()

           Summary  Issue id  Created  Resolved  time_in
Parent id
336670           1         1        1         1        1
349721           3         3        3         3        3
356993           3         3        3         3        3
359781           3         3        3         3        3
360791           1         1        1         1        1
...            ...       ...      ...       ...      ...
485193           3         3        3         3        3
485356           2         2        2         2        2
485367           6         6        6         6        6
485418           2         2        2         2        2
485500           2         2        2         2        2

[1556 rows x 5 columns]

In [47]:
all_individual_with_codebusters_time[all_individual_with_codebusters_time['Parent id'] == 329036]

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved, time_in]
Index: []

In [48]:
all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
all_individual_with_codebusters_time_sum_df

      Parent id time_on_codebusters
0        336670     0 days 00:01:00
1        349721    65 days 00:18:00
2        356993    18 days 04:09:00
3        359781    29 days 18:25:00
4        360791     0 days 00:01:00
...         ...                 ...
1551     485193     0 days 22:22:00
1552     485356     0 days 04:20:00
1553     485367     0 days 00:06:00
1554     485418     0 days 01:44:00
1555     485500     0 days 00:12:00

[1556 rows x 2 columns]

In [49]:
# all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum.to_frame()
# all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
# all_individual_tasks_reivew_sum_df

### Merge total time on codebusters with all jira ticekts dataset

In [50]:
all_ir_codebusters_time = pd.merge(all_ir, all_individual_with_codebusters_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_ir_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8866,483461,Closed,yutaka.yasumi,2023-06-26 02:15:00,28/Jun/23 12:00 AM,2023-07-12 04:52:00,TotalEnergies,Incident Request (IR),16 days 02:37:00,483461,0 days 10:07:00
1,CI-8865,483425,Closed,ssanz,2023-06-23 16:46:00,30/Jun/23 12:00 AM,2023-07-25 15:22:00,Apleona,Incident Request (IR),31 days 22:36:00,483425,4 days 21:29:00
2,CI-8817,481961,Closed,ssanz,2023-06-19 15:44:00,26/Jun/23 12:00 AM,2023-06-23 18:42:00,Allianz,Incident Request (IR),4 days 02:58:00,481961,0 days 22:18:00
3,CI-8799,480036,Closed,ssanz,2023-06-14 12:21:00,15/Jun/23 12:00 AM,2023-06-23 18:51:00,TotalEnergies,Incident Request (IR),9 days 06:30:00,480036,2 days 20:35:00
4,CI-8796,479834,Closed,ssanz,2023-06-13 17:47:00,14/Jun/23 12:00 AM,2023-06-13 18:11:00,TotalEnergies,Incident Request (IR),0 days 00:24:00,479834,0 days 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...
94,CI-7597,423336,Closed,ssanz,2022-10-25 16:47:00,01/Nov/22 12:00 AM,2023-02-07 09:04:00,DER,Incident Request (IR),104 days 16:17:00,423336,47 days 04:34:00
95,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),147 days 22:58:00,411778,74 days 10:56:00
96,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),164 days 18:30:00,411758,73 days 03:59:00
97,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,410979,1 days 10:28:00
98,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,40 days 12:08:00

### Investigate `null` rows after merging  main ir tickets with individual subtasks

In [51]:
all_ir_codebusters_time.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [52]:
all_ir_codebusters_time_without_null = all_ir_codebusters_time.dropna()
all_ir_codebusters_time_without_null.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [53]:
all_ir_codebusters_time_without_null

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8866,483461,Closed,yutaka.yasumi,2023-06-26 02:15:00,28/Jun/23 12:00 AM,2023-07-12 04:52:00,TotalEnergies,Incident Request (IR),16 days 02:37:00,483461,0 days 10:07:00
1,CI-8865,483425,Closed,ssanz,2023-06-23 16:46:00,30/Jun/23 12:00 AM,2023-07-25 15:22:00,Apleona,Incident Request (IR),31 days 22:36:00,483425,4 days 21:29:00
2,CI-8817,481961,Closed,ssanz,2023-06-19 15:44:00,26/Jun/23 12:00 AM,2023-06-23 18:42:00,Allianz,Incident Request (IR),4 days 02:58:00,481961,0 days 22:18:00
3,CI-8799,480036,Closed,ssanz,2023-06-14 12:21:00,15/Jun/23 12:00 AM,2023-06-23 18:51:00,TotalEnergies,Incident Request (IR),9 days 06:30:00,480036,2 days 20:35:00
4,CI-8796,479834,Closed,ssanz,2023-06-13 17:47:00,14/Jun/23 12:00 AM,2023-06-13 18:11:00,TotalEnergies,Incident Request (IR),0 days 00:24:00,479834,0 days 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...
94,CI-7597,423336,Closed,ssanz,2022-10-25 16:47:00,01/Nov/22 12:00 AM,2023-02-07 09:04:00,DER,Incident Request (IR),104 days 16:17:00,423336,47 days 04:34:00
95,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),147 days 22:58:00,411778,74 days 10:56:00
96,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),164 days 18:30:00,411758,73 days 03:59:00
97,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,410979,1 days 10:28:00
98,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,40 days 12:08:00

**Summary:**

## Determinate time spent outside codebusters

- calculate the total time ticket was in one of the subtask "Explain", "Verify", "Clarify", "Communicate"
- apply results to all ir tickets dataset

In [54]:
all_individual_others_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Explain", "Verify", "Clarify", "Communicate"])]
all_individual_others_time

,Summary,Issue id,Parent id,Created,Resolved,time_in
7,Communicate,438434,427628,2022-12-30 10:49:00,2023-01-02 11:04:00,3 days 00:15:00
12,Verify,438428,421362,2022-12-30 09:59:00,2022-12-30 10:52:00,0 days 00:53:00
13,Verify,438427,435618,2022-12-30 09:58:00,2022-12-30 11:01:00,0 days 01:03:00
15,Verify,438421,436629,2022-12-30 09:13:00,2023-01-04 12:56:00,5 days 03:43:00
16,Verify,438420,434536,2022-12-30 09:05:00,2023-01-05 14:53:00,6 days 05:48:00
...,...,...,...,...,...,...
9972,Verify,462018,461596,2023-03-31 10:23:00,2023-03-31 10:58:00,0 days 00:35:00
9973,Verify,462017,461612,2023-03-31 10:23:00,2023-03-31 10:59:00,0 days 00:36:00
9979,Communicate,462005,457190,2023-03-31 10:04:00,2023-04-24 18:12:00,24 days 08:08:00
9985,Communicate,461942,459898,2023-03-31 09:02:00,2023-03-31 09:02:00,0 days 00:00:00
9987,Verify,461938,458212,2023-03-31 08:54:00,2023-03-31 10:58:00,0 days 02:04:00

In [55]:
all_individual_others_time[all_individual_others_time["Parent id"] == 461872]

,Summary,Issue id,Parent id,Created,Resolved,time_in
8262,Clarify,473108,461872,2023-05-18 12:10:00,2023-05-18 12:20:00,0 days 00:10:00
8998,Verify,467945,461872,2023-04-26 08:53:00,2023-05-18 12:10:00,22 days 03:17:00
9621,Verify,464042,461872,2023-04-11 09:33:00,2023-04-14 12:04:00,3 days 02:31:00
9744,Verify,463104,461872,2023-04-05 12:50:00,2023-04-10 16:14:00,5 days 03:24:00

Summarize time for each subtask outside codeubsters

In [56]:
all_individual_others_time_sum = all_individual_others_time.groupby("Parent id")["time_in"].sum()
all_individual_others_time_sum_df = all_individual_others_time_sum.to_frame()
all_individual_others_time_sum_df.rename({"time_in": "time_outside_codebusters"},axis=1, inplace=True)
all_individual_others_time_sum_df.reset_index(inplace=True)
all_individual_others_time_sum_df

      Parent id time_outside_codebusters
0        308144          0 days 00:01:00
1        331914          0 days 00:00:00
2        335272          0 days 00:00:00
3        336670          3 days 15:01:00
4        338034         17 days 05:13:00
...         ...                      ...
1501     484570          0 days 00:00:00
1502     484613          0 days 02:59:00
1503     484946          0 days 00:00:00
1504     485057          0 days 22:33:00
1505     485367          0 days 00:05:00

[1506 rows x 2 columns]

In [57]:
all_individual_others_time_sum_df[all_individual_others_time_sum_df['Parent id'] == 461872]

      Parent id time_outside_codebusters
1147     461872         30 days 09:22:00

In [58]:
all_individual_with_codebusters_time_sum_df[all_individual_with_codebusters_time_sum_df["Parent id"] == 461872]

      Parent id time_on_codebusters
1114     461872    18 days 10:06:00

In [59]:
# all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
# all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
# all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
# all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
# all_individual_with_codebusters_time_sum_df

### Merge `all_ir` with `all_individual_others_time_sum_df` dataset

In [60]:
all_ir_outside_codebusters_time = pd.merge(all_ir, all_individual_others_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_ir_outside_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters
0,CI-8866,483461,Closed,yutaka.yasumi,2023-06-26 02:15:00,28/Jun/23 12:00 AM,2023-07-12 04:52:00,TotalEnergies,Incident Request (IR),16 days 02:37:00,483461,0 days 01:01:00
1,CI-8865,483425,Closed,ssanz,2023-06-23 16:46:00,30/Jun/23 12:00 AM,2023-07-25 15:22:00,Apleona,Incident Request (IR),31 days 22:36:00,483425,1 days 20:12:00
2,CI-8817,481961,Closed,ssanz,2023-06-19 15:44:00,26/Jun/23 12:00 AM,2023-06-23 18:42:00,Allianz,Incident Request (IR),4 days 02:58:00,481961,3 days 04:40:00
3,CI-8799,480036,Closed,ssanz,2023-06-14 12:21:00,15/Jun/23 12:00 AM,2023-06-23 18:51:00,TotalEnergies,Incident Request (IR),9 days 06:30:00,480036,6 days 09:55:00
4,CI-8796,479834,Closed,ssanz,2023-06-13 17:47:00,14/Jun/23 12:00 AM,2023-06-13 18:11:00,TotalEnergies,Incident Request (IR),0 days 00:24:00,479834,0 days 00:21:00
...,...,...,...,...,...,...,...,...,...,...,...,...
93,CI-7597,423336,Closed,ssanz,2022-10-25 16:47:00,01/Nov/22 12:00 AM,2023-02-07 09:04:00,DER,Incident Request (IR),104 days 16:17:00,423336,57 days 11:43:00
94,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),147 days 22:58:00,411778,73 days 12:02:00
95,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),164 days 18:30:00,411758,91 days 14:31:00
96,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,410979,19 days 05:06:00
97,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,23 days 00:35:00

In [61]:
all_ir_outside_codebusters_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
dtype: int64

**Summary:**

## Combine all created datasets
- In this step we will merge all created erlier datasets: `all_ir_outside_codebusters_time`, `all_ir_codebusters_time` and `all_ir_review_time`

Merge df containing "review" time with df containg "time on codebusters"

In [62]:
all_ir_time_on_and_outside_codebusters = pd.merge(all_ir_outside_codebusters_time, all_ir_codebusters_time[['Issue id','time_on_codebusters']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_ir_time_on_and_outside_codebusters

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters
0,CI-8866,483461,Closed,yutaka.yasumi,2023-06-26 02:15:00,28/Jun/23 12:00 AM,2023-07-12 04:52:00,TotalEnergies,Incident Request (IR),16 days 02:37:00,483461,0 days 01:01:00,0 days 10:07:00
1,CI-8865,483425,Closed,ssanz,2023-06-23 16:46:00,30/Jun/23 12:00 AM,2023-07-25 15:22:00,Apleona,Incident Request (IR),31 days 22:36:00,483425,1 days 20:12:00,4 days 21:29:00
2,CI-8817,481961,Closed,ssanz,2023-06-19 15:44:00,26/Jun/23 12:00 AM,2023-06-23 18:42:00,Allianz,Incident Request (IR),4 days 02:58:00,481961,3 days 04:40:00,0 days 22:18:00
3,CI-8799,480036,Closed,ssanz,2023-06-14 12:21:00,15/Jun/23 12:00 AM,2023-06-23 18:51:00,TotalEnergies,Incident Request (IR),9 days 06:30:00,480036,6 days 09:55:00,2 days 20:35:00
4,CI-8796,479834,Closed,ssanz,2023-06-13 17:47:00,14/Jun/23 12:00 AM,2023-06-13 18:11:00,TotalEnergies,Incident Request (IR),0 days 00:24:00,479834,0 days 00:21:00,0 days 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,CI-7597,423336,Closed,ssanz,2022-10-25 16:47:00,01/Nov/22 12:00 AM,2023-02-07 09:04:00,DER,Incident Request (IR),104 days 16:17:00,423336,57 days 11:43:00,47 days 04:34:00
94,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),147 days 22:58:00,411778,73 days 12:02:00,74 days 10:56:00
95,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),164 days 18:30:00,411758,91 days 14:31:00,73 days 03:59:00
96,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,410979,19 days 05:06:00,1 days 10:28:00
97,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,23 days 00:35:00,40 days 12:08:00

In [63]:
all_ir_time_on_and_outside_codebusters.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
dtype: int64

### Merge `all_tickets_time_on_and_outside_codebusters` with `all_ir_review_time` dataset

In [64]:
all_ir_with_time = pd.merge(all_ir_time_on_and_outside_codebusters, all_ir_review_time[['Issue id','time_in_review']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_ir_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,CI-8866,483461,Closed,yutaka.yasumi,2023-06-26 02:15:00,28/Jun/23 12:00 AM,2023-07-12 04:52:00,TotalEnergies,Incident Request (IR),16 days 02:37:00,483461,0 days 01:01:00,0 days 10:07:00,0 days 09:48:00
1,CI-8865,483425,Closed,ssanz,2023-06-23 16:46:00,30/Jun/23 12:00 AM,2023-07-25 15:22:00,Apleona,Incident Request (IR),31 days 22:36:00,483425,1 days 20:12:00,4 days 21:29:00,4 days 21:13:00
2,CI-8817,481961,Closed,ssanz,2023-06-19 15:44:00,26/Jun/23 12:00 AM,2023-06-23 18:42:00,Allianz,Incident Request (IR),4 days 02:58:00,481961,3 days 04:40:00,0 days 22:18:00,0 days 19:58:00
3,CI-8799,480036,Closed,ssanz,2023-06-14 12:21:00,15/Jun/23 12:00 AM,2023-06-23 18:51:00,TotalEnergies,Incident Request (IR),9 days 06:30:00,480036,6 days 09:55:00,2 days 20:35:00,2 days 00:17:00
4,CI-8796,479834,Closed,ssanz,2023-06-13 17:47:00,14/Jun/23 12:00 AM,2023-06-13 18:11:00,TotalEnergies,Incident Request (IR),0 days 00:24:00,479834,0 days 00:21:00,0 days 00:03:00,0 days 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,CI-7597,423336,Closed,ssanz,2022-10-25 16:47:00,01/Nov/22 12:00 AM,2023-02-07 09:04:00,DER,Incident Request (IR),104 days 16:17:00,423336,57 days 11:43:00,47 days 04:34:00,8 days 17:39:00
94,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),147 days 22:58:00,411778,73 days 12:02:00,74 days 10:56:00,4 days 21:13:00
95,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),164 days 18:30:00,411758,91 days 14:31:00,73 days 03:59:00,4 days 21:51:00
96,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,410979,19 days 05:06:00,1 days 10:28:00,NaT
97,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,394707,23 days 00:35:00,40 days 12:08:00,NaT

Check for null values

In [65]:
all_ir_with_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              2
dtype: int64

In [66]:
all_ir_with_time.shape

(98, 14)

### Drop rows which contain null value

In [67]:
all_ir_with_time_without_null = all_ir_with_time.dropna()
all_ir_with_time_without_null.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              0
dtype: int64

In [68]:
all_ir_with_time_without_null.shape

(96, 14)

In [69]:
# all_ir_with_time_without_null.to_csv('all_ir.csv')

## Convert `time in..` columns to minutes

Convert `timedelta` columns to float

In [70]:
all_ir_with_time_converted = all_ir_with_time_without_null
all_ir_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 0 to 95
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 96 non-null     object
 1   Issue id                  96 non-null     int64
 2   Status                    96 non-null     object
 3   Reporter                  96 non-null     object
 4   Created                   96 non-null     datetime64[ns]
 5   Due Date                  96 non-null     object
 6   Resolved                  96 non-null     datetime64[ns]
 7   Customer                  96 non-null     object
 8   Type of Request           96 non-null     object
 9   ticket_age                96 non-null     timedelta64[ns]
 10  Parent id                 96 non-null     int64
 11  time_outside_codebusters  96 non-null     timedelta64[ns]
 12  time_on_codebusters       96 non-null     timedelta64[ns]
 13  time_in_review            96 non-null     timedelta64[ns]
dtypes: datetime64[ns](2), int64(2), object(6), timedelta64[ns](4)
memory usage: 11.2+ KB

Convert `time in..` columns to minutes

In [71]:
all_ir_with_time_converted['time_in_review'] = all_ir_with_time_converted['time_in_review'].dt.total_seconds().div(60)
all_ir_with_time_converted['time_on_codebusters'] = all_ir_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
all_ir_with_time_converted['time_outside_codebusters'] = all_ir_with_time_converted['time_outside_codebusters'].dt.total_seconds().div(60)
all_ir_with_time_converted['ticket_age'] = all_ir_with_time_converted['ticket_age'].dt.total_seconds().div(60)

all_ir_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 0 to 95
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 96 non-null     object
 1   Issue id                  96 non-null     int64
 2   Status                    96 non-null     object
 3   Reporter                  96 non-null     object
 4   Created                   96 non-null     datetime64[ns]
 5   Due Date                  96 non-null     object
 6   Resolved                  96 non-null     datetime64[ns]
 7   Customer                  96 non-null     object
 8   Type of Request           96 non-null     object
 9   ticket_age                96 non-null     float64
 10  Parent id                 96 non-null     int64
 11  time_outside_codebusters  96 non-null     float64
 12  time_on_codebusters       96 non-null     float64
 13  time_in_review            96 non-null     float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(6)
memory usage: 11.2+ KB

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\3678482499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['time_in_review'] = all_ir_with_time_converted['time_in_review'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\3678482499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['time_on_codebusters'] = all_ir_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\3678482499.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['time_outside_codebusters'] = all_ir_with_time_converted['time_outside_codebusters'].dt.total_seconds().div(60)
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6232\3678482499.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ir_with_time_converted['ticket_age'] = all_ir_with_time_converted['ticket_age'].dt.total_seconds().div(60)

In [72]:
all_ir_with_time_converted.reset_index(inplace=True)
all_ir_with_time_converted

,index,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,0,CI-8866,483461,Closed,yutaka.yasumi,2023-06-26 02:15:00,28/Jun/23 12:00 AM,2023-07-12 04:52:00,TotalEnergies,Incident Request (IR),23197.0,483461,61.0,607.0,588.0
1,1,CI-8865,483425,Closed,ssanz,2023-06-23 16:46:00,30/Jun/23 12:00 AM,2023-07-25 15:22:00,Apleona,Incident Request (IR),45996.0,483425,2652.0,7049.0,7033.0
2,2,CI-8817,481961,Closed,ssanz,2023-06-19 15:44:00,26/Jun/23 12:00 AM,2023-06-23 18:42:00,Allianz,Incident Request (IR),5938.0,481961,4600.0,1338.0,1198.0
3,3,CI-8799,480036,Closed,ssanz,2023-06-14 12:21:00,15/Jun/23 12:00 AM,2023-06-23 18:51:00,TotalEnergies,Incident Request (IR),13350.0,480036,9235.0,4115.0,2897.0
4,4,CI-8796,479834,Closed,ssanz,2023-06-13 17:47:00,14/Jun/23 12:00 AM,2023-06-13 18:11:00,TotalEnergies,Incident Request (IR),24.0,479834,21.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,91,CI-7674,427373,Closed,ssanz,2022-11-10 16:11:00,17/Nov/22 12:00 AM,2023-02-17 08:24:00,Allianz,Incident Request (IR),142093.0,427373,43911.0,98182.0,11251.0
92,92,CI-7604,423551,Closed,nsanchezruiz,2022-10-26 13:11:00,26/Oct/22 12:00 AM,2023-02-22 16:04:00,Rewe Group,Incident Request (IR),171533.0,423551,60.0,171473.0,70.0
93,93,CI-7597,423336,Closed,ssanz,2022-10-25 16:47:00,01/Nov/22 12:00 AM,2023-02-07 09:04:00,DER,Incident Request (IR),150737.0,423336,82783.0,67954.0,12579.0
94,94,CI-7375,411778,Closed,debert,2022-09-01 12:49:00,15/Sep/22 12:00 AM,2023-01-27 11:47:00,OBB,Incident Request (IR),213058.0,411778,105842.0,107216.0,7033.0
95,95,CI-7373,411758,Closed,debert,2022-09-01 12:11:00,15/Sep/22 12:00 AM,2023-02-13 06:41:00,OBB,Incident Request (IR),237270.0,411758,131911.0,105359.0,7071.0

In [73]:
file_path = Path('DataSets/KPIs/all_ir_kpi.csv')
all_ir_with_time_converted.to_csv(path_or_buf=file_path)

# Investigation starts

In [74]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 438360]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
3,38,Review,438363,438360,2022-12-29 11:45:00,2022-12-29 12:21:00,0 days 00:36:00
4,40,Review,438361,438360,2022-12-29 11:30:00,2022-12-29 11:42:00,0 days 00:12:00

In [75]:
all_ir[all_ir["Issue id"] == 438360]

Empty DataFrame
Columns: [Issue key, Issue id, Status, Reporter, Created, Due Date, Resolved, Customer, Type of Request, ticket_age]
Index: []

In [76]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-9061,492388,Closed,nsanchezruiz,2023-08-04 13:44:00,09/Aug/23 12:00 AM,2023-08-07 13:51:00,Porsche,Incident Request (IR),3 days 00:07:00,NaN,NaT
1,CI-9054,492081,Closed,mmaciejczyk,2023-08-03 13:35:00,04/Aug/23 12:00 AM,2023-08-04 16:01:00,Allianz,Incident Request (IR),1 days 02:26:00,NaN,NaT
2,CI-9006,489967,Closed,nsanchezruiz,2023-07-25 14:56:00,26/Jul/23 12:00 AM,2023-08-04 08:58:00,Hugo Boss,Incident Request (IR),9 days 18:02:00,NaN,NaT
3,CI-8995,489495,Closed,ssanz,2023-07-24 08:52:00,26/Jul/23 12:00 AM,2023-07-24 12:36:00,Endress Hauser,Incident Request (IR),0 days 03:44:00,NaN,NaT
4,CI-8974,488267,Closed,nsanchezruiz,2023-07-17 13:48:00,19/Jul/23 12:00 AM,2023-07-25 09:24:00,OBB,Incident Request (IR),7 days 19:36:00,NaN,NaT
5,CI-8967,487857,Closed,yutaka.yasumi,2023-07-14 04:38:00,17/Jul/23 12:00 AM,2023-07-17 09:08:00,Amadeus,Incident Request (IR),3 days 04:30:00,NaN,NaT
6,CI-8939,485970,Closed,mmaciejczyk,2023-07-06 15:30:00,13/Jul/23 12:00 AM,2023-07-27 15:59:00,Rheinmetall,Incident Request (IR),21 days 00:29:00,NaN,NaT
104,CI-7361,410979,Closed,yutaka.yasumi,2022-08-30 06:51:00,02/Sep/22 12:00 AM,2023-01-06 01:37:00,Amadeus,Incident Request (IR),128 days 18:46:00,NaN,NaT
105,CI-7080,401042,Closed,ssanz,2022-07-05 16:41:00,08/Jul/22 12:00 AM,2023-01-24 10:14:00,CEPSA,Incident Request (IR),202 days 17:33:00,NaN,NaT
106,CI-6942,394707,Closed,yutaka.yasumi,2022-05-31 08:07:00,03/Jun/22 12:00 AM,2023-01-06 01:38:00,Amadeus,Incident Request (IR),219 days 17:31:00,NaN,NaT

# Investigation ends

# To Do