# Codebusters KPIs

## import libraries

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import glob

Import and clean `all_tickets_2022` data set 
- remove unnecessary columns
- rename columns

# Prepare data with all tickets

### Import all service request from partners

Tickets are taken from the following jira filter:<br/> `project = CI AND issuetype in (standardIssueTypes(), "Expense Delivery") AND "Epic Link" is EMPTY AND "Case Number/s" is not EMPTY AND cf[14125] in ("Service Request (SR)") AND labels in (Partners) AND resolved is not EMPTY AND resolutiondate >= 2022-12-19`

In [2]:
all_partners_origin = pd.read_csv('DataSets/MainTickets/all_partners.csv')
all_partners_origin

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Custom field (UXW RTM Code),Custom field (User-business Value (WSJF)),Custom field (User-business Value explanation),Custom field (Validation),Comment,Comment.1,Comment.2,Comment.3,Comment.4,Comment.5
0,ProcurX EverC - Add FDFs and receipts,CI-8999,489633,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,01/Aug/23 1:43 PM;alejandro.ruizrobles;Hello [...,NaN,NaN,NaN,NaN,NaN
1,Numiga Cleverbridge - Change timeouts for appr...,CI-8980,488527,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ProcurX EverC - Add regrex expression in FDF,CI-8972,488119,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Numiga BerlinHyp - Increase the timeout,CI-8968,487949,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ProcurX EverC - Make FDFs mandatory,CI-8956,487348,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Numiga OGE - Change link in the email,CI-7806,432465,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,13/Dec/22 5:00 PM;alejandro.ruizrobles;Hi [~pj...,NaN,NaN,NaN,NaN,NaN
70,Numiga GBO - create new receipts,CI-7773,431180,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,01/Dec/22 1:34 PM;alejandro.ruizrobles;Hi [~pj...,12/Dec/22 11:03 AM;alejandro.ruizrobles;Hi [~p...,NaN,NaN,NaN,NaN
71,Numiga VFL Wolfsburg - Create a new system,CI-7755,430512,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,08/Dec/22 8:40 PM;alejandro.ruizrobles;Hello [...,12/Dec/22 10:08 AM;alejandro.ruizrobles;Hello ...,21/Dec/22 9:12 AM;alejandro.ruizrobles;Hello [...,NaN,NaN,NaN
72,Numiga Scania - Changes in Receipts and a FDF,CI-7736,429541,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,01/Dec/22 8:39 AM;alejandro.ruizrobles;Hi [~pj...,"06/Dec/22 3:49 PM;jbonnavion;Hi [~pjakubiec] ,...",09/Dec/22 1:48 PM;pjakubiec;Hello [~bonnavion]...,NaN,NaN,NaN
73,Numiga Elli - Add new formats for attachments,CI-7700,428349,Expense Delivery,Closed,CI,codebusters,software,mrohkamm,NaN,...,NaN,0,NaN,NaN,17/Nov/22 1:30 PM;alejandro.ruizrobles;Hi [~mk...,NaN,NaN,NaN,NaN,NaN

### Select from the dataset only columns necessary for the further analysis

In [3]:
all_partners = all_partners_origin[['Issue key', 'Issue id', 'Status', 'Reporter', 'Created', 'Due Date', 'Resolved', 'Custom field (Customer/s)','Custom field (Type of Request)']]
all_partners.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\417625219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_partners.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

In [4]:
all_partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        74 non-null     object
 1   Issue id         74 non-null     int64
 2   Status           74 non-null     object
 3   Reporter         74 non-null     object
 4   Created          74 non-null     object
 5   Due Date         74 non-null     object
 6   Resolved         74 non-null     object
 7   Customer         74 non-null     object
 8   Type of Request  74 non-null     object
dtypes: int64(1), object(8)
memory usage: 5.3+ KB

In [5]:
all_partners.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
dtype: int64

### Convert date table to `datetime` object

In [6]:
all_partners["Created"] = pd.to_datetime(all_partners["Created"])
all_partners["Resolved"] = pd.to_datetime(all_partners["Resolved"])

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\3266364689.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_partners["Created"] = pd.to_datetime(all_partners["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\3266364689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_partners["Created"] = pd.to_datetime(all_partners["Created"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\3266364689.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_partners["Resolved"] = pd.to_datetime(all_partners["Resolved"])
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\3266364689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_partners["Resolved"] = pd.to_datetime(all_partners["Resolved"])

In [7]:
all_partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        74 non-null     object
 1   Issue id         74 non-null     int64
 2   Status           74 non-null     object
 3   Reporter         74 non-null     object
 4   Created          74 non-null     datetime64[ns]
 5   Due Date         74 non-null     object
 6   Resolved         74 non-null     datetime64[ns]
 7   Customer         74 non-null     object
 8   Type of Request  74 non-null     object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 5.3+ KB

In [8]:
all_partners.shape

(74, 9)

In [9]:
all_partners["ticket_age"] = all_partners["Resolved"] - all_partners["Created"]
all_partners

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\3972566984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_partners["ticket_age"] = all_partners["Resolved"] - all_partners["Created"]

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age
0,CI-8999,489633,Closed,alejandro.ruizrobles,2023-07-24 15:46:00,31/Jul/23 12:00 AM,2023-08-02 15:37:00,ProcurX,Service Request (SR),8 days 23:51:00
1,CI-8980,488527,Closed,alejandro.ruizrobles,2023-07-18 14:31:00,21/Jul/23 12:00 AM,2023-07-20 11:58:00,Numiga,Service Request (SR),1 days 21:27:00
2,CI-8972,488119,Closed,alejandro.ruizrobles,2023-07-17 08:33:00,24/Jul/23 12:00 AM,2023-07-28 01:06:00,ProcurX,Service Request (SR),10 days 16:33:00
3,CI-8968,487949,Closed,alejandro.ruizrobles,2023-07-14 12:09:00,18/Jul/23 12:00 AM,2023-07-20 11:57:00,Numiga,Service Request (SR),5 days 23:48:00
4,CI-8956,487348,Closed,alejandro.ruizrobles,2023-07-12 11:16:00,19/Jul/23 12:00 AM,2023-07-20 11:00:00,ProcurX,Service Request (SR),7 days 23:44:00
...,...,...,...,...,...,...,...,...,...,...
69,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),17 days 17:44:00
70,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),21 days 21:26:00
71,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),41 days 19:08:00
72,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),27 days 20:19:00
73,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),147 days 21:14:00

**Summary**
- there is not partners ticket without `resolved` date
- there is no `null` value in any of the column
- date type columns converted to `datetime` object in order to make calculucations on these columns

# Prepare data with individuals tasks for service requests

## Import and clean `all_individual_tasks` data set 
- we are not able to downaload full data becuase of jira limitation, therefore we need to combine data from differen periods
- remove unnecessary columns
- replace missing `date` values with 0
- drop rows with "null" values

In [10]:
individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20221231_till_20230331.csv')
# individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230401_till_20230516.csv')
individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230331_till_20230703.csv')


all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3], axis=0)
all_individual_tasks_combined

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\251257024.py:1: DtypeWarning: Columns (216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_1 = pd.read_csv('DataSets/IndividualTasks/from_20220901_till_20221231.csv')
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\251257024.py:2: DtypeWarning: Columns (25,222,223,224,225,226,227,228,229,230,264) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_2 = pd.read_csv('DataSets/IndividualTasks/from_20221231_till_20230331.csv')
C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\251257024.py:4: DtypeWarning: Columns (27,37,38,39,78,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,329,330,331) have mixed types. Specify dtype option on import or set low_memory=False.
  individual_part_3 = pd.read_csv('DataSets/IndividualTasks/from_20230331_till_20230703.csv')

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Sprint.44,Sprint.45,Sprint.46,Sprint.47,Sprint.48,Comment.2,Comment.3,Comment.4,Comment.5,Comment.6
0,Configure,CI-10230383,438469,437773,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Import to Test System,CI-10230381,438460,437698,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Import in Production,CI-10230377,438438,432387,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Import to Customer Test System,CI-10230376,438437,435618,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3410,Import in Production,CI-10236611,461949,457052,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3411,Communicate,CI-10236609,461942,459898,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3412,Import to Customer Test System,CI-10236608,461941,459898,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3413,Verify,CI-10236607,461938,458212,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3414,Import to Customer Test System,CI-10236604,461910,452780,Individual Task,Done,CI,codebusters,software,mrohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Reset indexex of a combined dataset </br>
Indexes of a new dataset are not appropriate, we need to apply `reset_index` method in order to match them with the number of rows

In [11]:
all_individual_tasks_combined.reset_index(inplace=True)
all_individual_tasks_combined

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\4115877976.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  all_individual_tasks_combined.reset_index(inplace=True)

,index,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,...,Sprint.44,Sprint.45,Sprint.46,Sprint.47,Sprint.48,Comment.2,Comment.3,Comment.4,Comment.5,Comment.6
0,0,Configure,CI-10230383,438469,437773,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Import to Test System,CI-10230381,438460,437698,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Configure,CI-10230380,438459,437698,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Import in Production,CI-10230377,438438,432387,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Import to Customer Test System,CI-10230376,438437,435618,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,3410,Import in Production,CI-10236611,461949,457052,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9985,3411,Communicate,CI-10236609,461942,459898,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9986,3412,Import to Customer Test System,CI-10236608,461941,459898,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9987,3413,Verify,CI-10236607,461938,458212,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9988,3414,Import to Customer Test System,CI-10236604,461910,452780,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
all_individual_tasks_combined.to_csv("all_individual_tasks_combined.csv")

### Filter columns and select only the ones needed for further calculations

In [13]:
all_individual_tasks = all_individual_tasks_combined[['Summary','Issue id', 'Parent id', 'Created', 'Resolved']]
all_individual_tasks

,Summary,Issue id,Parent id,Created,Resolved
0,Configure,438469,437773,30/12/2022 13:56,02/01/2023 13:18
1,Import to Test System,438460,437698,30/12/2022 13:14,02/01/2023 13:33
2,Configure,438459,437698,30/12/2022 13:14,30/12/2022 13:14
3,Import in Production,438438,432387,30/12/2022 11:38,05/01/2023 09:48
4,Import to Customer Test System,438437,435618,30/12/2022 11:01,03/01/2023 12:17
...,...,...,...,...,...
9984,Import in Production,461949,457052,31/Mar/23 9:08 AM,06/Apr/23 12:39 PM
9985,Communicate,461942,459898,31/Mar/23 9:02 AM,31/Mar/23 9:02 AM
9986,Import to Customer Test System,461941,459898,31/Mar/23 9:02 AM,31/Mar/23 9:02 AM
9987,Verify,461938,458212,31/Mar/23 8:54 AM,31/Mar/23 10:58 AM
9988,Import to Customer Test System,461910,452780,31/Mar/23 2:09 AM,31/Mar/23 11:04 AM

In [14]:
all_individual_tasks[all_individual_tasks['Parent id'] == 465210]

,Summary,Issue id,Parent id,Created,Resolved
7612,Communicate,477694,465210,07/Jun/23 1:56 PM,NaN
7679,Import in Production,477344,465210,06/Jun/23 3:45 PM,07/Jun/23 1:56 PM
7680,Configure,477343,465210,06/Jun/23 3:45 PM,06/Jun/23 3:45 PM
7681,Review,477342,465210,06/Jun/23 3:44 PM,06/Jun/23 3:45 PM
9160,Explain,466478,465210,20/Apr/23 8:22 AM,26/Apr/23 10:33 AM
9367,Review,465211,465210,17/Apr/23 9:43 AM,20/Apr/23 8:22 AM

### Convert date like columns to `datetime` object

In [15]:
all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"], dayfirst=True, format='mixed')
all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"], dayfirst=True,  format='mixed')
all_individual_tasks.info()

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\2151095576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Created"] = pd.to_datetime(all_individual_tasks["Created"], dayfirst=True, format='mixed')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9989 entries, 0 to 9988
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    9989 non-null   object
 1   Issue id   9989 non-null   int64
 2   Parent id  9989 non-null   int64
 3   Created    9989 non-null   datetime64[ns]
 4   Resolved   9662 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 390.3+ KB

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\2151095576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks["Resolved"] = pd.to_datetime(all_individual_tasks["Resolved"], dayfirst=True,  format='mixed')

In [16]:
all_individual_tasks["Created"].iloc[3766]

Timestamp('2023-03-30 18:58:00')

In [17]:
all_individual_tasks["Created"].iloc[3765]

Timestamp('2022-09-01 02:07:00')

In [18]:
all_individual_tasks['Summary'].value_counts()

Summary
Configure                               1765
Review                                  1717
Verify                                  1637
Communicate                             1437
Import to Test System                   1291
Import in Production                    1126
Import to Customer Test System           610
Explain                                  229
Clarify                                   92
Do                                        80
CLONE - Review                             1
Contact Mattia about risks assesment       1
Rename the repository                      1
Check secrets with ITS                     1
Configure2                                 1
Name: count, dtype: int64

### Check if there are any `null` values

In [19]:
all_individual_tasks.isnull().sum()

Summary        0
Issue id       0
Parent id      0
Created        0
Resolved     327
dtype: int64

### Drop all rows with null value

In [20]:
all_individual_tasks_without_null = all_individual_tasks.dropna()
all_individual_tasks_without_null.isnull().sum()

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

### Identify and drop duplicated rows

In [21]:
all_individual_tasks_duplicated_rows = all_individual_tasks_without_null[all_individual_tasks_without_null.duplicated()]
all_individual_tasks_duplicated_rows

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved]
Index: []

In [22]:
all_individual_tasks_no_duplicates = all_individual_tasks_without_null.drop_duplicates()
all_individual_tasks_no_duplicates

,Summary,Issue id,Parent id,Created,Resolved
0,Configure,438469,437773,2022-12-30 13:56:00,2023-01-02 13:18:00
1,Import to Test System,438460,437698,2022-12-30 13:14:00,2023-01-02 13:33:00
2,Configure,438459,437698,2022-12-30 13:14:00,2022-12-30 13:14:00
3,Import in Production,438438,432387,2022-12-30 11:38:00,2023-01-05 09:48:00
4,Import to Customer Test System,438437,435618,2022-12-30 11:01:00,2023-01-03 12:17:00
...,...,...,...,...,...
9984,Import in Production,461949,457052,2023-03-31 09:08:00,2023-04-06 12:39:00
9985,Communicate,461942,459898,2023-03-31 09:02:00,2023-03-31 09:02:00
9986,Import to Customer Test System,461941,459898,2023-03-31 09:02:00,2023-03-31 09:02:00
9987,Verify,461938,458212,2023-03-31 08:54:00,2023-03-31 10:58:00
9988,Import to Customer Test System,461910,452780,2023-03-31 02:09:00,2023-03-31 11:04:00

**Summary:**

- We are interested only in completed tickets so we have droped rows which contain `null` in `resolved` columns
- Data is filtered and cleaned we are ready for analysis part

# Data Analysis

# Daterminate how long each ticket was in particular individual task

- calculate time for eacch subtask
- calculate how long each ticket was in review
- calculate how long each ticket was "on codebusters"
- calculate how long each ticket was "outside codebusters"

## Calculate time spent in each of the subtask

In [23]:
all_individual_tasks_time_calculation = all_individual_tasks_no_duplicates
all_individual_tasks_time_calculation["time_in"] = all_individual_tasks_time_calculation["Resolved"] - all_individual_tasks_time_calculation["Created"]

### List all available statuses of the CI ticket subtask

In [24]:
all_individual_tasks_time_calculation["Summary"].value_counts()

Summary
Configure                         1735
Review                            1608
Verify                            1597
Communicate                       1360
Import to Test System             1284
Import in Production              1117
Import to Customer Test System     596
Explain                            217
Clarify                             89
Do                                  58
Configure2                           1
Name: count, dtype: int64

## Calculate time ticket was in review step

In [25]:
all_individual_tasks_reivew = all_individual_tasks_time_calculation[all_individual_tasks_time_calculation['Summary'] == 'Review']
all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)
all_individual_tasks_reivew.reset_index(inplace=True)
all_individual_tasks_reivew

C:\Users\gmalarski\AppData\Local\Temp\ipykernel_6688\3555403275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_reivew.rename({"time_in": "time_in_review"},axis=1, inplace=True)

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
0,11,Review,438430,438429,2022-12-30 10:21:00,2023-01-09 17:06:00,10 days 06:45:00
1,19,Review,438405,436853,2022-12-29 16:55:00,2023-01-04 09:50:00,5 days 16:55:00
2,25,Review,438383,438382,2022-12-29 14:47:00,2023-01-04 11:44:00,5 days 20:57:00
3,38,Review,438363,438360,2022-12-29 11:45:00,2022-12-29 12:21:00,0 days 00:36:00
4,40,Review,438361,438360,2022-12-29 11:30:00,2022-12-29 11:42:00,0 days 00:12:00
...,...,...,...,...,...,...,...
1603,9953,Review,462120,462119,2023-03-31 13:37:00,2023-04-18 16:44:00,18 days 03:07:00
1604,9954,Review,462118,462117,2023-03-31 13:35:00,2023-04-18 16:44:00,18 days 03:09:00
1605,9955,Review,462116,462115,2023-03-31 13:32:00,2023-04-18 10:34:00,17 days 21:02:00
1606,9974,Review,462016,462015,2023-03-31 10:19:00,2023-04-05 12:30:00,5 days 02:11:00
1607,9980,Review,462001,455701,2023-03-31 10:04:00,2023-04-03 15:08:00,3 days 05:04:00

In [26]:
all_partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        74 non-null     object
 1   Issue id         74 non-null     int64
 2   Status           74 non-null     object
 3   Reporter         74 non-null     object
 4   Created          74 non-null     datetime64[ns]
 5   Due Date         74 non-null     object
 6   Resolved         74 non-null     datetime64[ns]
 7   Customer         74 non-null     object
 8   Type of Request  74 non-null     object
 9   ticket_age       74 non-null     timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(6), timedelta64[ns](1)
memory usage: 5.9+ KB

### Grup tickets by the `Parent id` and sum total time spent in `review` subtask

In [27]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 465210]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
1253,7681,Review,477342,465210,2023-06-06 15:44:00,2023-06-06 15:45:00,0 days 00:01:00
1513,9367,Review,465211,465210,2023-04-17 09:43:00,2023-04-20 08:22:00,2 days 22:39:00

In [28]:
all_individual_tasks_reivew_sum = all_individual_tasks_reivew.groupby(by=["Parent id"], dropna=False)["time_in_review"].sum()
all_individual_tasks_reivew_sum = all_individual_tasks_reivew_sum.to_frame()
all_individual_tasks_reivew_sum.reset_index(inplace=True)
all_individual_tasks_reivew_sum

      Parent id   time_in_review
0        336670  0 days 00:01:00
1        349721  0 days 00:02:00
2        393585  3 days 13:22:00
3        399228 52 days 06:54:00
4        402477  0 days 18:56:00
...         ...              ...
1431     485193  0 days 22:15:00
1432     485356  0 days 04:19:00
1433     485367  0 days 00:05:00
1434     485418  0 days 01:44:00
1435     485500  0 days 00:12:00

[1436 rows x 2 columns]

In [29]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1082     465210 2 days 22:40:00

In [30]:
all_individual_tasks_reivew_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Parent id       1436 non-null   int64
 1   time_in_review  1436 non-null   timedelta64[ns]
dtypes: int64(1), timedelta64[ns](1)
memory usage: 22.6 KB

In [31]:
all_individual_tasks_reivew_sum[all_individual_tasks_reivew_sum["Parent id"] == 465210]

      Parent id  time_in_review
1082     465210 2 days 22:40:00

### Check on the particular ticket if the total time is summed correctly

In [32]:
all_individual_tasks_reivew.groupby("Parent id").count()

           index  Summary  Issue id  Created  Resolved  time_in_review
Parent id
336670         1        1         1        1         1               1
349721         1        1         1        1         1               1
393585         1        1         1        1         1               1
399228         3        3         3        3         3               3
402477         2        2         2        2         2               2
...          ...      ...       ...      ...       ...             ...
485193         1        1         1        1         1               1
485356         1        1         1        1         1               1
485367         2        2         2        2         2               2
485418         1        1         1        1         1               1
485500         1        1         1        1         1               1

[1436 rows x 6 columns]

In [33]:
all_individual_tasks_reivew.loc[all_individual_tasks_reivew["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Summary, Issue id, Parent id, Created, Resolved, time_in_review]
Index: []

In [34]:
type(all_individual_tasks_reivew_sum)

pandas.core.frame.DataFrame

In [35]:
all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum
all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
all_individual_tasks_reivew_sum_df

      index  Parent id   time_in_review
0         0     336670  0 days 00:01:00
1         1     349721  0 days 00:02:00
2         2     393585  3 days 13:22:00
3         3     399228 52 days 06:54:00
4         4     402477  0 days 18:56:00
...     ...        ...              ...
1431   1431     485193  0 days 22:15:00
1432   1432     485356  0 days 04:19:00
1433   1433     485367  0 days 00:05:00
1434   1434     485418  0 days 01:44:00
1435   1435     485500  0 days 00:12:00

[1436 rows x 3 columns]

In [36]:
all_individual_tasks_reivew_sum_df.loc[all_individual_tasks_reivew_sum_df["Parent id"] == 345462]

Empty DataFrame
Columns: [index, Parent id, time_in_review]
Index: []

In [37]:
all_individual_tasks_reivew_sum_df.isnull().sum()

index             0
Parent id         0
time_in_review    0
dtype: int64

In [38]:
all_individual_tasks_reivew_sum_df

      index  Parent id   time_in_review
0         0     336670  0 days 00:01:00
1         1     349721  0 days 00:02:00
2         2     393585  3 days 13:22:00
3         3     399228 52 days 06:54:00
4         4     402477  0 days 18:56:00
...     ...        ...              ...
1431   1431     485193  0 days 22:15:00
1432   1432     485356  0 days 04:19:00
1433   1433     485367  0 days 00:05:00
1434   1434     485418  0 days 01:44:00
1435   1435     485500  0 days 00:12:00

[1436 rows x 3 columns]

**Summary:**
- There are some tickets which have been more than once in the `Review` step
- We can notice that after gruping and summing tickets, case with 'Parent id' `345462` has total time equals more than `8 days`, which is the sum of the time spend in previous two `Review` subtasks

### Merge `all_partners` dataset with `all_individual_tasks_reivew_sum_df`

In [39]:
all_partners_review_time = pd.merge(all_partners, all_individual_tasks_reivew_sum_df[['Parent id', 'time_in_review']], how="left",left_on = "Issue id",right_on = "Parent id")
all_partners_review_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-8999,489633,Closed,alejandro.ruizrobles,2023-07-24 15:46:00,31/Jul/23 12:00 AM,2023-08-02 15:37:00,ProcurX,Service Request (SR),8 days 23:51:00,NaN,NaT
1,CI-8980,488527,Closed,alejandro.ruizrobles,2023-07-18 14:31:00,21/Jul/23 12:00 AM,2023-07-20 11:58:00,Numiga,Service Request (SR),1 days 21:27:00,NaN,NaT
2,CI-8972,488119,Closed,alejandro.ruizrobles,2023-07-17 08:33:00,24/Jul/23 12:00 AM,2023-07-28 01:06:00,ProcurX,Service Request (SR),10 days 16:33:00,NaN,NaT
3,CI-8968,487949,Closed,alejandro.ruizrobles,2023-07-14 12:09:00,18/Jul/23 12:00 AM,2023-07-20 11:57:00,Numiga,Service Request (SR),5 days 23:48:00,NaN,NaT
4,CI-8956,487348,Closed,alejandro.ruizrobles,2023-07-12 11:16:00,19/Jul/23 12:00 AM,2023-07-20 11:00:00,ProcurX,Service Request (SR),7 days 23:44:00,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
69,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),17 days 17:44:00,432465.0,9 days 16:43:00
70,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),21 days 21:26:00,431180.0,1 days 20:36:00
71,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),41 days 19:08:00,430512.0,14 days 16:43:00
72,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),27 days 20:19:00,429541.0,6 days 22:28:00
73,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),147 days 21:14:00,428349.0,1 days 20:51:00

In [40]:
all_partners_review_time.isnull().sum()

Issue key           0
Issue id            0
Status              0
Reporter            0
Created             0
Due Date            0
Resolved            0
Customer            0
Type of Request     0
ticket_age          0
Parent id          10
time_in_review     10
dtype: int64

### Investigate `null` rows after merging  main partners tickets with individual subtasks

In [41]:
null_rows = all_partners_review_time[all_partners_review_time["time_in_review"].isnull()]
null_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        10 non-null     object
 1   Issue id         10 non-null     int64
 2   Status           10 non-null     object
 3   Reporter         10 non-null     object
 4   Created          10 non-null     datetime64[ns]
 5   Due Date         10 non-null     object
 6   Resolved         10 non-null     datetime64[ns]
 7   Customer         10 non-null     object
 8   Type of Request  10 non-null     object
 9   ticket_age       10 non-null     timedelta64[ns]
 10  Parent id        0 non-null      float64
 11  time_in_review   0 non-null      timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(6), timedelta64[ns](2)
memory usage: 1.0+ KB

In [42]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-8999,489633,Closed,alejandro.ruizrobles,2023-07-24 15:46:00,31/Jul/23 12:00 AM,2023-08-02 15:37:00,ProcurX,Service Request (SR),8 days 23:51:00,NaN,NaT
1,CI-8980,488527,Closed,alejandro.ruizrobles,2023-07-18 14:31:00,21/Jul/23 12:00 AM,2023-07-20 11:58:00,Numiga,Service Request (SR),1 days 21:27:00,NaN,NaT
2,CI-8972,488119,Closed,alejandro.ruizrobles,2023-07-17 08:33:00,24/Jul/23 12:00 AM,2023-07-28 01:06:00,ProcurX,Service Request (SR),10 days 16:33:00,NaN,NaT
3,CI-8968,487949,Closed,alejandro.ruizrobles,2023-07-14 12:09:00,18/Jul/23 12:00 AM,2023-07-20 11:57:00,Numiga,Service Request (SR),5 days 23:48:00,NaN,NaT
4,CI-8956,487348,Closed,alejandro.ruizrobles,2023-07-12 11:16:00,19/Jul/23 12:00 AM,2023-07-20 11:00:00,ProcurX,Service Request (SR),7 days 23:44:00,NaN,NaT
5,CI-8947,486492,Closed,alejandro.ruizrobles,2023-07-10 10:16:00,17/Jul/23 12:00 AM,2023-08-01 10:12:00,Munckhof,Service Request (SR),21 days 23:56:00,NaN,NaT
6,CI-8946,486478,Closed,alejandro.ruizrobles,2023-07-10 09:52:00,17/Jul/23 12:00 AM,2023-07-18 16:04:00,Numiga,Service Request (SR),8 days 06:12:00,NaN,NaT
7,CI-8945,486471,Closed,alejandro.ruizrobles,2023-07-10 09:45:00,14/Jul/23 12:00 AM,2023-07-19 14:53:00,Numiga,Service Request (SR),9 days 05:08:00,NaN,NaT
8,CI-8944,486464,Closed,alejandro.ruizrobles,2023-07-10 09:42:00,14/Jul/23 12:00 AM,2023-07-24 12:39:00,Numiga,Service Request (SR),14 days 02:57:00,NaN,NaT
9,CI-8933,485825,Closed,alejandro.ruizrobles,2023-07-06 09:30:00,13/Jul/23 12:00 AM,2023-07-11 12:00:00,Numiga,Service Request (SR),5 days 02:30:00,NaN,NaT

In [43]:
all_partners_review_time_without_null = all_partners_review_time.dropna()
all_partners_review_time_without_null.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
ticket_age         0
Parent id          0
time_in_review     0
dtype: int64

**Summary**:
- Ror tickets like `CI-8488`revew time equals 0, so we need to drop it, because it can leads to wrong KPIs calculations

# TO DO
- update the lates dateset

## Determinate time spent on codebusters

- calculate the total time ticket was in subtasks "Configure", "Review", "mport to Test System", "Import in Production", "Import to Customer Test System"
- apply the results to all tickets dataset

In [44]:
all_individual_with_codebusters_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Configure", "Review", "Import to Test System", "Import in Production", "Import to Customer Test System", "Import to Test", "Import to Staging System"])]

Summarize time for each codebusters subtask

In [45]:
all_individual_with_codebusters_time.groupby("Parent id").count()

           Summary  Issue id  Created  Resolved  time_in
Parent id
336670           1         1        1         1        1
349721           3         3        3         3        3
356993           3         3        3         3        3
359781           3         3        3         3        3
360791           1         1        1         1        1
...            ...       ...      ...       ...      ...
485193           3         3        3         3        3
485356           2         2        2         2        2
485367           6         6        6         6        6
485418           2         2        2         2        2
485500           2         2        2         2        2

[1556 rows x 5 columns]

In [46]:
all_individual_with_codebusters_time[all_individual_with_codebusters_time['Parent id'] == 329036]

Empty DataFrame
Columns: [Summary, Issue id, Parent id, Created, Resolved, time_in]
Index: []

In [47]:
all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
all_individual_with_codebusters_time_sum_df

      Parent id time_on_codebusters
0        336670     0 days 00:01:00
1        349721    65 days 00:18:00
2        356993    18 days 04:09:00
3        359781    29 days 18:25:00
4        360791     0 days 00:01:00
...         ...                 ...
1551     485193     0 days 22:22:00
1552     485356     0 days 04:20:00
1553     485367     0 days 00:06:00
1554     485418     0 days 01:44:00
1555     485500     0 days 00:12:00

[1556 rows x 2 columns]

In [48]:
# all_individual_tasks_reivew_sum_df = all_individual_tasks_reivew_sum.to_frame()
# all_individual_tasks_reivew_sum_df.reset_index(inplace=True)
# all_individual_tasks_reivew_sum_df

### Merge total time on codebusters with all jira ticekts dataset

In [49]:
all_partners_codebusters_time = pd.merge(all_partners, all_individual_with_codebusters_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_partners_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8924,485500,Closed,alejandro.ruizrobles,2023-07-04 15:24:00,11/Jul/23 12:00 AM,2023-07-06 08:18:00,Numiga,Service Request (SR),1 days 16:54:00,485500,0 days 00:12:00
1,CI-8923,485418,Closed,alejandro.ruizrobles,2023-07-04 13:42:00,11/Jul/23 12:00 AM,2023-07-11 12:07:00,Numiga,Service Request (SR),6 days 22:25:00,485418,0 days 01:44:00
2,CI-8920,485356,Closed,alejandro.ruizrobles,2023-07-04 10:59:00,11/Jul/23 12:00 AM,2023-07-05 18:37:00,Numiga,Service Request (SR),1 days 07:38:00,485356,0 days 04:20:00
3,CI-8916,485057,Closed,alejandro.ruizrobles,2023-07-03 10:00:00,06/Jul/23 12:00 AM,2023-07-07 08:30:00,Numiga,Service Request (SR),3 days 22:30:00,485057,0 days 05:10:00
4,CI-8908,484613,Closed,alejandro.ruizrobles,2023-06-29 16:16:00,06/Jul/23 12:00 AM,2023-07-03 14:27:00,Numiga,Service Request (SR),3 days 22:11:00,484613,3 days 19:12:00
...,...,...,...,...,...,...,...,...,...,...,...,...
59,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),17 days 17:44:00,432465,17 days 16:18:00
60,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),21 days 21:26:00,431180,17 days 18:21:00
61,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),41 days 19:08:00,430512,29 days 07:16:00
62,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),27 days 20:19:00,429541,17 days 02:30:00
63,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),147 days 21:14:00,428349,147 days 03:04:00

### Investigate `null` rows after merging  main partners tickets with individual subtasks

In [50]:
all_partners_codebusters_time.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [51]:
all_partners_codebusters_time_without_null = all_partners_codebusters_time.dropna()
all_partners_codebusters_time_without_null.isnull().sum()

Issue key              0
Issue id               0
Status                 0
Reporter               0
Created                0
Due Date               0
Resolved               0
Customer               0
Type of Request        0
ticket_age             0
Parent id              0
time_on_codebusters    0
dtype: int64

In [52]:
all_partners_codebusters_time_without_null

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_on_codebusters
0,CI-8924,485500,Closed,alejandro.ruizrobles,2023-07-04 15:24:00,11/Jul/23 12:00 AM,2023-07-06 08:18:00,Numiga,Service Request (SR),1 days 16:54:00,485500,0 days 00:12:00
1,CI-8923,485418,Closed,alejandro.ruizrobles,2023-07-04 13:42:00,11/Jul/23 12:00 AM,2023-07-11 12:07:00,Numiga,Service Request (SR),6 days 22:25:00,485418,0 days 01:44:00
2,CI-8920,485356,Closed,alejandro.ruizrobles,2023-07-04 10:59:00,11/Jul/23 12:00 AM,2023-07-05 18:37:00,Numiga,Service Request (SR),1 days 07:38:00,485356,0 days 04:20:00
3,CI-8916,485057,Closed,alejandro.ruizrobles,2023-07-03 10:00:00,06/Jul/23 12:00 AM,2023-07-07 08:30:00,Numiga,Service Request (SR),3 days 22:30:00,485057,0 days 05:10:00
4,CI-8908,484613,Closed,alejandro.ruizrobles,2023-06-29 16:16:00,06/Jul/23 12:00 AM,2023-07-03 14:27:00,Numiga,Service Request (SR),3 days 22:11:00,484613,3 days 19:12:00
...,...,...,...,...,...,...,...,...,...,...,...,...
59,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),17 days 17:44:00,432465,17 days 16:18:00
60,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),21 days 21:26:00,431180,17 days 18:21:00
61,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),41 days 19:08:00,430512,29 days 07:16:00
62,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),27 days 20:19:00,429541,17 days 02:30:00
63,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),147 days 21:14:00,428349,147 days 03:04:00

**Summary:**

## Determinate time spent outside codebusters

- calculate the total time ticket was in one of the subtask "Explain", "Verify", "Clarify", "Communicate"
- apply results to all partners tickets dataset

In [53]:
all_individual_others_time = all_individual_tasks_time_calculation.loc[all_individual_tasks_time_calculation["Summary"].isin(["Explain", "Verify", "Clarify", "Communicate"])]
all_individual_others_time

,Summary,Issue id,Parent id,Created,Resolved,time_in
7,Communicate,438434,427628,2022-12-30 10:49:00,2023-01-02 11:04:00,3 days 00:15:00
12,Verify,438428,421362,2022-12-30 09:59:00,2022-12-30 10:52:00,0 days 00:53:00
13,Verify,438427,435618,2022-12-30 09:58:00,2022-12-30 11:01:00,0 days 01:03:00
15,Verify,438421,436629,2022-12-30 09:13:00,2023-01-04 12:56:00,5 days 03:43:00
16,Verify,438420,434536,2022-12-30 09:05:00,2023-01-05 14:53:00,6 days 05:48:00
...,...,...,...,...,...,...
9972,Verify,462018,461596,2023-03-31 10:23:00,2023-03-31 10:58:00,0 days 00:35:00
9973,Verify,462017,461612,2023-03-31 10:23:00,2023-03-31 10:59:00,0 days 00:36:00
9979,Communicate,462005,457190,2023-03-31 10:04:00,2023-04-24 18:12:00,24 days 08:08:00
9985,Communicate,461942,459898,2023-03-31 09:02:00,2023-03-31 09:02:00,0 days 00:00:00
9987,Verify,461938,458212,2023-03-31 08:54:00,2023-03-31 10:58:00,0 days 02:04:00

Summarize time for each subtask outside codeubsters

In [54]:
all_individual_others_time_sum = all_individual_others_time.groupby("Parent id")["time_in"].sum()
all_individual_others_time_sum_df = all_individual_others_time_sum.to_frame()
all_individual_others_time_sum_df.rename({"time_in": "time_outside_codebusters"},axis=1, inplace=True)
all_individual_others_time_sum_df.reset_index(inplace=True)
all_individual_others_time_sum_df

      Parent id time_outside_codebusters
0        308144          0 days 00:01:00
1        331914          0 days 00:00:00
2        335272          0 days 00:00:00
3        336670          3 days 15:01:00
4        338034         17 days 05:13:00
...         ...                      ...
1501     484570          0 days 00:00:00
1502     484613          0 days 02:59:00
1503     484946          0 days 00:00:00
1504     485057          0 days 22:33:00
1505     485367          0 days 00:05:00

[1506 rows x 2 columns]

In [55]:
# all_individual_with_codebusters_time_sum = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()
# all_individual_with_codebusters_time_sum_df = all_individual_with_codebusters_time_sum.to_frame()
# all_individual_with_codebusters_time_sum_df.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
# all_individual_with_codebusters_time_sum_df.reset_index(inplace=True)
# all_individual_with_codebusters_time_sum_df

### Merge `all_partners` with `all_individual_others_time_sum_df` dataset

In [56]:
all_partners_outside_codebusters_time = pd.merge(all_partners, all_individual_others_time_sum_df, how="inner",left_on = "Issue id",right_on = "Parent id")
all_partners_outside_codebusters_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters
0,CI-8916,485057,Closed,alejandro.ruizrobles,2023-07-03 10:00:00,06/Jul/23 12:00 AM,2023-07-07 08:30:00,Numiga,Service Request (SR),3 days 22:30:00,485057,0 days 22:33:00
1,CI-8908,484613,Closed,alejandro.ruizrobles,2023-06-29 16:16:00,06/Jul/23 12:00 AM,2023-07-03 14:27:00,Numiga,Service Request (SR),3 days 22:11:00,484613,0 days 02:59:00
2,CI-8872,483676,Closed,alejandro.ruizrobles,2023-06-26 13:21:00,03/Jul/23 12:00 AM,2023-07-03 14:21:00,Numiga,Service Request (SR),7 days 01:00:00,483676,0 days 07:10:00
3,CI-8871,483671,Closed,alejandro.ruizrobles,2023-06-26 13:14:00,03/Jul/23 12:00 AM,2023-07-03 14:22:00,Numiga,Service Request (SR),7 days 01:08:00,483671,0 days 07:11:00
4,CI-8870,483664,Closed,alejandro.ruizrobles,2023-06-26 13:05:00,03/Jul/23 12:00 AM,2023-07-03 14:25:00,Numiga,Service Request (SR),7 days 01:20:00,483664,0 days 07:13:00
5,CI-8869,483660,Closed,alejandro.ruizrobles,2023-06-26 13:00:00,03/Jul/23 12:00 AM,2023-07-03 14:24:00,Numiga,Service Request (SR),7 days 01:24:00,483660,0 days 07:14:00
6,CI-8856,483291,Closed,alejandro.ruizrobles,2023-06-23 11:20:00,28/Jun/23 12:00 AM,2023-06-27 14:38:00,Numiga,Service Request (SR),4 days 03:18:00,483291,0 days 06:07:00
7,CI-8807,480768,Closed,alejandro.ruizrobles,2023-06-15 18:38:00,22/Jun/23 12:00 AM,2023-06-28 19:22:00,Numiga,Service Request (SR),13 days 00:44:00,480768,4 days 01:42:00
8,CI-8753,478233,Closed,jbonnavion,2023-06-08 16:41:00,15/Jun/23 12:00 AM,2023-07-24 15:41:00,ProcurX,Service Request (SR),45 days 23:00:00,478233,6 days 00:41:00
9,CI-8751,477625,Closed,alejandro.ruizrobles,2023-06-07 12:51:00,16/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),11 days 22:32:00,477625,2 days 20:55:00
10,CI-8750,477616,Closed,alejandro.ruizrobles,2023-06-07 12:37:00,14/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),11 days 22:46:00,477616,2 days 20:53:00
11,CI-8742,477428,Closed,alejandro.ruizrobles,2023-06-06 21:01:00,13/Jun/23 12:00 AM,2023-06-16 09:21:00,Numiga,Service Request (SR),9 days 12:20:00,477428,0 days 00:32:00
12,CI-8718,476392,Closed,alejandro.ruizrobles,2023-06-02 11:20:00,09/Jun/23 12:00 AM,2023-06-07 15:33:00,Numiga,Service Request (SR),5 days 04:13:00,476392,0 days 00:47:00
13,CI-8655,472964,Closed,alejandro.ruizrobles,2023-05-17 20:07:00,24/May/23 12:00 AM,2023-05-23 15:06:00,Numiga,Service Request (SR),5 days 18:59:00,472964,2 days 12:14:00
14,CI-8631,471896,Closed,alejandro.ruizrobles,2023-05-12 17:51:00,26/May/23 12:00 AM,2023-06-19 12:06:00,Numiga,Service Request (SR),37 days 18:15:00,471896,6 days 01:15:00
15,CI-8620,471645,Closed,alejandro.ruizrobles,2023-05-12 09:33:00,19/May/23 12:00 AM,2023-05-30 16:19:00,Numiga,Service Request (SR),18 days 06:46:00,471645,1 days 11:52:00
16,CI-8603,471072,Closed,alejandro.ruizrobles,2023-05-10 14:44:00,17/May/23 12:00 AM,2023-05-26 09:42:00,Numiga,Service Request (SR),15 days 18:58:00,471072,5 days 04:32:00
17,CI-8597,470604,Closed,alejandro.ruizrobles,2023-05-09 13:50:00,16/May/23 12:00 AM,2023-05-17 20:13:00,Numiga,Service Request (SR),8 days 06:23:00,470604,0 days 14:17:00
18,CI-8581,469414,Closed,alejandro.ruizrobles,2023-05-03 13:12:00,10/May/23 12:00 AM,2023-05-23 21:07:00,Numiga,Service Request (SR),20 days 07:55:00,469414,7 days 13:15:00
19,CI-8568,468149,Closed,alejandro.ruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,5 days 03:02:00
20,CI-8434,463294,Closed,alejandro.ruizrobles,2023-04-05 17:43:00,12/Apr/23 12:00 AM,2023-04-12 14:31:00,Numiga,Service Request (SR),6 days 20:48:00,463294,4 days 01:38:00
21,CI-8427,462869,Closed,alejandro.ruizrobles,2023-04-04 17:02:00,11/Apr/23 12:00 AM,2023-04-12 14:10:00,Numiga,Service Request (SR),7 days 21:08:00,462869,3 days 23:37:00
22,CI-8338,457190,Closed,alejandro.ruizrobles,2023-03-17 15:17:00,21/Mar/23 12:00 AM,2023-04-24 18:12:00,Numiga,Service Request (SR),38 days 02:55:00,457190,24 days 16:04:00
23,CI-8319,456556,Closed,alejandro.ruizrobles,2023-03-16 09:27:00,23/Mar/23 12:00 AM,2023-03-20 11:38:00,Numiga,Service Request (SR),4 days 02:11:00,456556,3 days 00:28:00
24,CI-8315,456393,Closed,jbonnavion,2023-03-15 15:03:00,22/Mar/23 12:00 AM,2023-04-13 14:22:00,DERPART,Service Request (SR),28 days 23:19:00,456393,2 days 20:27:00
25,CI-8312,456181,Closed,alejandro.ruizrobles,2023-03-15 09:51:00,22/Mar/23 12:00 AM,2023-03-29 15:51:00,Numiga,Service Request (SR),14 days 06:00:00,456181,2 days 17:17:00
26,CI-8299,455585,Closed,alejandro.ruizrobles,2023-03-13 17:31:00,17/Mar/23 12:00 AM,2023-03-20 09:42:00,Numiga,Service Request (SR),6 days 16:11:00,455585,3 days 18:02:00
27,CI-8276,453986,Closed,alejandro.ruizrobles,2023-03-07 17:24:00,14/Mar/23 12:00 AM,2023-03-14 09:47:00,Numiga,Service Request (SR),6 days 16:23:00,453986,0 days 01:19:00
28,CI-8260,453010,Closed,alejandro.ruizrobles,2023-03-03 17:56:00,10/Mar/23 12:00 AM,2023-03-21 10:14:00,Numiga,Service Request (SR),17 days 16:18:00,453010,0 days 06:28:00
29,CI-8259,453008,Closed,alejandro.ruizrobles,2023-03-03 17:46:00,10/Mar/23 12:00 AM,2023-03-13 09:49:00,Numiga,Service Request (SR),9 days 16:03:00,453008,0 days 01:08:00
30,CI-8247,452731,Closed,alejandro.ruizrobles,2023-03-02 16:14:00,16/Mar/23 12:00 AM,2023-03-21 17:00:00,Numiga,Service Request (SR),19 days 00:46:00,452731,1 days 07:44:00
31,CI-8226,450975,Closed,alejandro.ruizrobles,2023-02-23 15:50:00,02/Mar/23 12:00 AM,2023-02-27 16:42:00,Numiga,Service Request (SR),4 days 00:52:00,450975,2 days 21:20:00
32,CI-8178,448801,Closed,alejandro.ruizrobles,2023-02-16 10:22:00,20/Feb/23 12:00 AM,2023-02-16 18:10:00,Numiga,Service Request (SR),0 days 07:48:00,448801,0 days 00:00:00
33,CI-8138,447085,Closed,alejandro.ruizrobles,2023-02-08 13:54:00,15/Feb/23 12:00 AM,2023-02-22 09:22:00,Numiga,Service Request (SR),13 days 19:28:00,447085,1 days 05:28:00
34,CI-8136,447059,Closed,alejandro.ruizrobles,2023-02-08 13:08:00,15/Feb/23 12:00 AM,2023-02-17 10:53:00,Numiga,Service Request (SR),8 days 21:45:00,447059,0 days 06:34:00
35,CI-8102,446156,Closed,alejandro.ruizrobles,2023-02-03 14:28:00,10/Feb/23 12:00 AM,2023-02-09 10:45:00,Numiga,Service Request (SR),5 days 20:17:00,446156,0 days 09:33:00
36,CI-8093,445763,Closed,alejandro.ruizrobles,2023-02-02 08:59:00,09/Feb/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),126 days 06:07:00,445763,0 days 21:15:00
37,CI-8047,443341,Closed,alejandro.ruizrobles,2023-01-24 12:33:00,31/Jan/23 12:00 AM,2023-02-09 17:16:00,Numiga,Service Request (SR),16 days 04:43:00,443341,0 days 03:37:00
38,CI-8039,443101,Closed,alejandro.ruizrobles,2023-01-23 13:30:00,31/Jan/23 12:00 AM,2023-01-31 17:57:00,Numiga,Service Request (SR),8 days 04:27:00,443101,0 days 09:29:00
39,CI-8038,443091,Closed,alejandro.ruizrobles,2023-01-23 12:38:00,27/Jan/23 12:00 AM,2023-01-26 10:28:00,Numiga,Service Request (SR),2 days 21:50:00,443091,0 days 02:05:00
40,CI-8022,441937,Closed,alejandro.ruizrobles,2023-01-17 09:19:00,24/Jan/23 12:00 AM,2023-01-19 17:40:00,Numiga,Service Request (SR),2 days 08:21:00,441937,0 days 00:40:00
41,CI-8021,441934,Closed,alejandro.ruizrobles,2023-01-17 09:12:00,24/Jan/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),142 days 05:54:00,441934,0 days 21:57:00
42,CI-8010,441353,Closed,alejandro.ruizrobles,2023-01-13 10:38:00,20/Jan/23 12:00 AM,2023-01-20 11:17:00,Numiga,Service Request (SR),7 days 00:39:00,441353,0 days 02:49:00
43,CI-8009,441346,Closed,alejandro.ruizrobles,2023-01-13 10:32:00,20/Jan/23 12:00 AM,2023-01-23 09:09:00,Numiga,Service Request (SR),9 days 22:37:00,441346,0 days 01:49:00
44,CI-8007,441339,Closed,alejandro.ruizrobles,2023-01-13 10:14:00,20/Jan/23 12:00 AM,2023-01-20 09:09:00,Numiga,Service Request (SR),6 days 22:55:00,441339,0 days 00:54:00
45,CI-8000,441080,Closed,alejandro.ruizrobles,2023-01-12 10:46:00,18/Jan/23 12:00 AM,2023-01-17 12:09:00,Numiga,Service Request (SR),5 days 01:23:00,441080,0 days 01:40:00
46,CI-7997,441058,Closed,alejandro.ruizrobles,2023-01-12 10:21:00,18/Jan/23 12:00 AM,2023-01-20 10:56:00,Numiga,Service Request (SR),8 days 00:35:00,441058,0 days 02:37:00
47,CI-7990,440916,Closed,alejandro.ruizrobles,2023-01-11 16:50:00,18/Jan/23 12:00 AM,2023-03-08 16:45:00,Numiga,Service Request (SR),55 days 23:55:00,440916,1 days 02:47:00
48,CI-7987,440793,Closed,alejandro.ruizrobles,2023-01-11 12:47:00,18/Jan/23 12:00 AM,2023-01-24 16:06:00,Numiga,Service Request (SR),13 days 03:19:00,440793,0 days 03:25:00
49,CI-7986,440789,Closed,alejandro.ruizrobles,2023-01-11 12:39:00,18/Jan/23 12:00 AM,2023-01-19 17:28:00,Numiga,Service Request (SR),8 days 04:49:00,440789,0 days 03:07:00
50,CI-7952,438984,Closed,alejandro.ruizrobles,2023-01-04 09:45:00,11/Jan/23 12:00 AM,2023-01-18 14:19:00,Numiga,Service Request (SR),14 days 04:34:00,438984,0 days 07:07:00
51,CI-7948,438711,Closed,alejandro.ruizrobles,2023-01-03 10:07:00,12/Jan/23 12:00 AM,2023-01-12 11:25:00,Numiga,Service Request (SR),9 days 01:18:00,438711,6 days 18:56:00
52,CI-7947,438670,Closed,alejandro.ruizrobles,2023-01-02 18:00:00,09/Jan/23 12:00 AM,2023-01-05 12:27:00,Numiga,Service Request (SR),2 days 18:27:00,438670,0 days 05:21:00
53,CI-7876,436253,Closed,alejandro.ruizrobles,2022-12-15 17:01:00,22/Dec/22 12:00 AM,2022-12-23 13:18:00,Numiga,Service Request (SR),7 days 20:17:00,436253,0 days 04:59:00
54,CI-7807,432492,Closed,alejandro.ruizrobles,2022-12-03 13:20:00,15/Dec/22 12:00 AM,2023-03-21 16:54:00,Numiga,Service Request (SR),108 days 03:34:00,432492,45 days 02:37:00
55,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),17 days 17:44:00,432465,0 days 01:26:00
56,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),21 days 21:26:00,431180,4 days 03:05:00
57,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),41 days 19:08:00,430512,12 days 11:52:00
58,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),27 days 20:19:00,429541,10 days 17:48:00
59,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),147 days 21:14:00,428349,0 days 18:10:00

In [57]:
all_partners_outside_codebusters_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
dtype: int64

**Summary:**

## Combine all created datasets
- In this step we will merge all created erlier datasets: `all_partners_outside_codebusters_time`, `all_partners_codebusters_time` and `all_partners_review_time`

Merge df containing "review" time with df containg "time on codebusters"

In [58]:
all_partners_time_on_and_outside_codebusters = pd.merge(all_partners_outside_codebusters_time, all_partners_codebusters_time[['Issue id','time_on_codebusters']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_partners_time_on_and_outside_codebusters

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters
0,CI-8916,485057,Closed,alejandro.ruizrobles,2023-07-03 10:00:00,06/Jul/23 12:00 AM,2023-07-07 08:30:00,Numiga,Service Request (SR),3 days 22:30:00,485057,0 days 22:33:00,0 days 05:10:00
1,CI-8908,484613,Closed,alejandro.ruizrobles,2023-06-29 16:16:00,06/Jul/23 12:00 AM,2023-07-03 14:27:00,Numiga,Service Request (SR),3 days 22:11:00,484613,0 days 02:59:00,3 days 19:12:00
2,CI-8872,483676,Closed,alejandro.ruizrobles,2023-06-26 13:21:00,03/Jul/23 12:00 AM,2023-07-03 14:21:00,Numiga,Service Request (SR),7 days 01:00:00,483676,0 days 07:10:00,6 days 17:50:00
3,CI-8871,483671,Closed,alejandro.ruizrobles,2023-06-26 13:14:00,03/Jul/23 12:00 AM,2023-07-03 14:22:00,Numiga,Service Request (SR),7 days 01:08:00,483671,0 days 07:11:00,6 days 17:57:00
4,CI-8870,483664,Closed,alejandro.ruizrobles,2023-06-26 13:05:00,03/Jul/23 12:00 AM,2023-07-03 14:25:00,Numiga,Service Request (SR),7 days 01:20:00,483664,0 days 07:13:00,6 days 18:07:00
5,CI-8869,483660,Closed,alejandro.ruizrobles,2023-06-26 13:00:00,03/Jul/23 12:00 AM,2023-07-03 14:24:00,Numiga,Service Request (SR),7 days 01:24:00,483660,0 days 07:14:00,6 days 18:10:00
6,CI-8856,483291,Closed,alejandro.ruizrobles,2023-06-23 11:20:00,28/Jun/23 12:00 AM,2023-06-27 14:38:00,Numiga,Service Request (SR),4 days 03:18:00,483291,0 days 06:07:00,3 days 21:11:00
7,CI-8807,480768,Closed,alejandro.ruizrobles,2023-06-15 18:38:00,22/Jun/23 12:00 AM,2023-06-28 19:22:00,Numiga,Service Request (SR),13 days 00:44:00,480768,4 days 01:42:00,8 days 23:02:00
8,CI-8753,478233,Closed,jbonnavion,2023-06-08 16:41:00,15/Jun/23 12:00 AM,2023-07-24 15:41:00,ProcurX,Service Request (SR),45 days 23:00:00,478233,6 days 00:41:00,18 days 21:50:00
9,CI-8751,477625,Closed,alejandro.ruizrobles,2023-06-07 12:51:00,16/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),11 days 22:32:00,477625,2 days 20:55:00,9 days 01:37:00
10,CI-8750,477616,Closed,alejandro.ruizrobles,2023-06-07 12:37:00,14/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),11 days 22:46:00,477616,2 days 20:53:00,9 days 01:53:00
11,CI-8742,477428,Closed,alejandro.ruizrobles,2023-06-06 21:01:00,13/Jun/23 12:00 AM,2023-06-16 09:21:00,Numiga,Service Request (SR),9 days 12:20:00,477428,0 days 00:32:00,9 days 11:48:00
12,CI-8718,476392,Closed,alejandro.ruizrobles,2023-06-02 11:20:00,09/Jun/23 12:00 AM,2023-06-07 15:33:00,Numiga,Service Request (SR),5 days 04:13:00,476392,0 days 00:47:00,5 days 03:26:00
13,CI-8655,472964,Closed,alejandro.ruizrobles,2023-05-17 20:07:00,24/May/23 12:00 AM,2023-05-23 15:06:00,Numiga,Service Request (SR),5 days 18:59:00,472964,2 days 12:14:00,3 days 06:45:00
14,CI-8631,471896,Closed,alejandro.ruizrobles,2023-05-12 17:51:00,26/May/23 12:00 AM,2023-06-19 12:06:00,Numiga,Service Request (SR),37 days 18:15:00,471896,6 days 01:15:00,31 days 17:29:00
15,CI-8620,471645,Closed,alejandro.ruizrobles,2023-05-12 09:33:00,19/May/23 12:00 AM,2023-05-30 16:19:00,Numiga,Service Request (SR),18 days 06:46:00,471645,1 days 11:52:00,16 days 18:54:00
16,CI-8603,471072,Closed,alejandro.ruizrobles,2023-05-10 14:44:00,17/May/23 12:00 AM,2023-05-26 09:42:00,Numiga,Service Request (SR),15 days 18:58:00,471072,5 days 04:32:00,10 days 14:26:00
17,CI-8597,470604,Closed,alejandro.ruizrobles,2023-05-09 13:50:00,16/May/23 12:00 AM,2023-05-17 20:13:00,Numiga,Service Request (SR),8 days 06:23:00,470604,0 days 14:17:00,7 days 16:06:00
18,CI-8581,469414,Closed,alejandro.ruizrobles,2023-05-03 13:12:00,10/May/23 12:00 AM,2023-05-23 21:07:00,Numiga,Service Request (SR),20 days 07:55:00,469414,7 days 13:15:00,12 days 18:40:00
19,CI-8568,468149,Closed,alejandro.ruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,5 days 03:02:00,2 days 23:23:00
20,CI-8434,463294,Closed,alejandro.ruizrobles,2023-04-05 17:43:00,12/Apr/23 12:00 AM,2023-04-12 14:31:00,Numiga,Service Request (SR),6 days 20:48:00,463294,4 days 01:38:00,2 days 19:10:00
21,CI-8427,462869,Closed,alejandro.ruizrobles,2023-04-04 17:02:00,11/Apr/23 12:00 AM,2023-04-12 14:10:00,Numiga,Service Request (SR),7 days 21:08:00,462869,3 days 23:37:00,3 days 21:31:00
22,CI-8338,457190,Closed,alejandro.ruizrobles,2023-03-17 15:17:00,21/Mar/23 12:00 AM,2023-04-24 18:12:00,Numiga,Service Request (SR),38 days 02:55:00,457190,24 days 16:04:00,13 days 10:51:00
23,CI-8319,456556,Closed,alejandro.ruizrobles,2023-03-16 09:27:00,23/Mar/23 12:00 AM,2023-03-20 11:38:00,Numiga,Service Request (SR),4 days 02:11:00,456556,3 days 00:28:00,1 days 01:43:00
24,CI-8315,456393,Closed,jbonnavion,2023-03-15 15:03:00,22/Mar/23 12:00 AM,2023-04-13 14:22:00,DERPART,Service Request (SR),28 days 23:19:00,456393,2 days 20:27:00,26 days 02:52:00
25,CI-8312,456181,Closed,alejandro.ruizrobles,2023-03-15 09:51:00,22/Mar/23 12:00 AM,2023-03-29 15:51:00,Numiga,Service Request (SR),14 days 06:00:00,456181,2 days 17:17:00,11 days 13:05:00
26,CI-8299,455585,Closed,alejandro.ruizrobles,2023-03-13 17:31:00,17/Mar/23 12:00 AM,2023-03-20 09:42:00,Numiga,Service Request (SR),6 days 16:11:00,455585,3 days 18:02:00,2 days 22:09:00
27,CI-8276,453986,Closed,alejandro.ruizrobles,2023-03-07 17:24:00,14/Mar/23 12:00 AM,2023-03-14 09:47:00,Numiga,Service Request (SR),6 days 16:23:00,453986,0 days 01:19:00,6 days 15:04:00
28,CI-8260,453010,Closed,alejandro.ruizrobles,2023-03-03 17:56:00,10/Mar/23 12:00 AM,2023-03-21 10:14:00,Numiga,Service Request (SR),17 days 16:18:00,453010,0 days 06:28:00,17 days 09:50:00
29,CI-8259,453008,Closed,alejandro.ruizrobles,2023-03-03 17:46:00,10/Mar/23 12:00 AM,2023-03-13 09:49:00,Numiga,Service Request (SR),9 days 16:03:00,453008,0 days 01:08:00,9 days 14:55:00
30,CI-8247,452731,Closed,alejandro.ruizrobles,2023-03-02 16:14:00,16/Mar/23 12:00 AM,2023-03-21 17:00:00,Numiga,Service Request (SR),19 days 00:46:00,452731,1 days 07:44:00,17 days 17:38:00
31,CI-8226,450975,Closed,alejandro.ruizrobles,2023-02-23 15:50:00,02/Mar/23 12:00 AM,2023-02-27 16:42:00,Numiga,Service Request (SR),4 days 00:52:00,450975,2 days 21:20:00,1 days 03:32:00
32,CI-8178,448801,Closed,alejandro.ruizrobles,2023-02-16 10:22:00,20/Feb/23 12:00 AM,2023-02-16 18:10:00,Numiga,Service Request (SR),0 days 07:48:00,448801,0 days 00:00:00,0 days 07:48:00
33,CI-8138,447085,Closed,alejandro.ruizrobles,2023-02-08 13:54:00,15/Feb/23 12:00 AM,2023-02-22 09:22:00,Numiga,Service Request (SR),13 days 19:28:00,447085,1 days 05:28:00,12 days 14:00:00
34,CI-8136,447059,Closed,alejandro.ruizrobles,2023-02-08 13:08:00,15/Feb/23 12:00 AM,2023-02-17 10:53:00,Numiga,Service Request (SR),8 days 21:45:00,447059,0 days 06:34:00,8 days 15:11:00
35,CI-8102,446156,Closed,alejandro.ruizrobles,2023-02-03 14:28:00,10/Feb/23 12:00 AM,2023-02-09 10:45:00,Numiga,Service Request (SR),5 days 20:17:00,446156,0 days 09:33:00,5 days 10:44:00
36,CI-8093,445763,Closed,alejandro.ruizrobles,2023-02-02 08:59:00,09/Feb/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),126 days 06:07:00,445763,0 days 21:15:00,125 days 08:52:00
37,CI-8047,443341,Closed,alejandro.ruizrobles,2023-01-24 12:33:00,31/Jan/23 12:00 AM,2023-02-09 17:16:00,Numiga,Service Request (SR),16 days 04:43:00,443341,0 days 03:37:00,16 days 01:06:00
38,CI-8039,443101,Closed,alejandro.ruizrobles,2023-01-23 13:30:00,31/Jan/23 12:00 AM,2023-01-31 17:57:00,Numiga,Service Request (SR),8 days 04:27:00,443101,0 days 09:29:00,7 days 18:58:00
39,CI-8038,443091,Closed,alejandro.ruizrobles,2023-01-23 12:38:00,27/Jan/23 12:00 AM,2023-01-26 10:28:00,Numiga,Service Request (SR),2 days 21:50:00,443091,0 days 02:05:00,2 days 19:45:00
40,CI-8022,441937,Closed,alejandro.ruizrobles,2023-01-17 09:19:00,24/Jan/23 12:00 AM,2023-01-19 17:40:00,Numiga,Service Request (SR),2 days 08:21:00,441937,0 days 00:40:00,2 days 07:41:00
41,CI-8021,441934,Closed,alejandro.ruizrobles,2023-01-17 09:12:00,24/Jan/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),142 days 05:54:00,441934,0 days 21:57:00,2 days 15:55:00
42,CI-8010,441353,Closed,alejandro.ruizrobles,2023-01-13 10:38:00,20/Jan/23 12:00 AM,2023-01-20 11:17:00,Numiga,Service Request (SR),7 days 00:39:00,441353,0 days 02:49:00,6 days 21:50:00
43,CI-8009,441346,Closed,alejandro.ruizrobles,2023-01-13 10:32:00,20/Jan/23 12:00 AM,2023-01-23 09:09:00,Numiga,Service Request (SR),9 days 22:37:00,441346,0 days 01:49:00,9 days 20:48:00
44,CI-8007,441339,Closed,alejandro.ruizrobles,2023-01-13 10:14:00,20/Jan/23 12:00 AM,2023-01-20 09:09:00,Numiga,Service Request (SR),6 days 22:55:00,441339,0 days 00:54:00,6 days 22:01:00
45,CI-8000,441080,Closed,alejandro.ruizrobles,2023-01-12 10:46:00,18/Jan/23 12:00 AM,2023-01-17 12:09:00,Numiga,Service Request (SR),5 days 01:23:00,441080,0 days 01:40:00,4 days 23:43:00
46,CI-7997,441058,Closed,alejandro.ruizrobles,2023-01-12 10:21:00,18/Jan/23 12:00 AM,2023-01-20 10:56:00,Numiga,Service Request (SR),8 days 00:35:00,441058,0 days 02:37:00,7 days 21:58:00
47,CI-7990,440916,Closed,alejandro.ruizrobles,2023-01-11 16:50:00,18/Jan/23 12:00 AM,2023-03-08 16:45:00,Numiga,Service Request (SR),55 days 23:55:00,440916,1 days 02:47:00,54 days 21:08:00
48,CI-7987,440793,Closed,alejandro.ruizrobles,2023-01-11 12:47:00,18/Jan/23 12:00 AM,2023-01-24 16:06:00,Numiga,Service Request (SR),13 days 03:19:00,440793,0 days 03:25:00,12 days 23:54:00
49,CI-7986,440789,Closed,alejandro.ruizrobles,2023-01-11 12:39:00,18/Jan/23 12:00 AM,2023-01-19 17:28:00,Numiga,Service Request (SR),8 days 04:49:00,440789,0 days 03:07:00,8 days 01:42:00
50,CI-7952,438984,Closed,alejandro.ruizrobles,2023-01-04 09:45:00,11/Jan/23 12:00 AM,2023-01-18 14:19:00,Numiga,Service Request (SR),14 days 04:34:00,438984,0 days 07:07:00,13 days 21:27:00
51,CI-7948,438711,Closed,alejandro.ruizrobles,2023-01-03 10:07:00,12/Jan/23 12:00 AM,2023-01-12 11:25:00,Numiga,Service Request (SR),9 days 01:18:00,438711,6 days 18:56:00,2 days 06:22:00
52,CI-7947,438670,Closed,alejandro.ruizrobles,2023-01-02 18:00:00,09/Jan/23 12:00 AM,2023-01-05 12:27:00,Numiga,Service Request (SR),2 days 18:27:00,438670,0 days 05:21:00,2 days 13:06:00
53,CI-7876,436253,Closed,alejandro.ruizrobles,2022-12-15 17:01:00,22/Dec/22 12:00 AM,2022-12-23 13:18:00,Numiga,Service Request (SR),7 days 20:17:00,436253,0 days 04:59:00,7 days 15:18:00
54,CI-7807,432492,Closed,alejandro.ruizrobles,2022-12-03 13:20:00,15/Dec/22 12:00 AM,2023-03-21 16:54:00,Numiga,Service Request (SR),108 days 03:34:00,432492,45 days 02:37:00,63 days 00:57:00
55,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),17 days 17:44:00,432465,0 days 01:26:00,17 days 16:18:00
56,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),21 days 21:26:00,431180,4 days 03:05:00,17 days 18:21:00
57,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),41 days 19:08:00,430512,12 days 11:52:00,29 days 07:16:00
58,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),27 days 20:19:00,429541,10 days 17:48:00,17 days 02:30:00
59,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),147 days 21:14:00,428349,0 days 18:10:00,147 days 03:04:00

In [59]:
all_partners_time_on_and_outside_codebusters.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
dtype: int64

### Merge `all_tickets_time_on_and_outside_codebusters` with `all_partners_review_time` dataset

In [60]:
all_partners_with_time = pd.merge(all_partners_time_on_and_outside_codebusters, all_partners_review_time[['Issue id','time_in_review']],  how="inner",left_on = "Issue id",right_on = "Issue id")
all_partners_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,CI-8916,485057,Closed,alejandro.ruizrobles,2023-07-03 10:00:00,06/Jul/23 12:00 AM,2023-07-07 08:30:00,Numiga,Service Request (SR),3 days 22:30:00,485057,0 days 22:33:00,0 days 05:10:00,0 days 04:42:00
1,CI-8908,484613,Closed,alejandro.ruizrobles,2023-06-29 16:16:00,06/Jul/23 12:00 AM,2023-07-03 14:27:00,Numiga,Service Request (SR),3 days 22:11:00,484613,0 days 02:59:00,3 days 19:12:00,0 days 17:35:00
2,CI-8872,483676,Closed,alejandro.ruizrobles,2023-06-26 13:21:00,03/Jul/23 12:00 AM,2023-07-03 14:21:00,Numiga,Service Request (SR),7 days 01:00:00,483676,0 days 07:10:00,6 days 17:50:00,2 days 02:44:00
3,CI-8871,483671,Closed,alejandro.ruizrobles,2023-06-26 13:14:00,03/Jul/23 12:00 AM,2023-07-03 14:22:00,Numiga,Service Request (SR),7 days 01:08:00,483671,0 days 07:11:00,6 days 17:57:00,2 days 02:51:00
4,CI-8870,483664,Closed,alejandro.ruizrobles,2023-06-26 13:05:00,03/Jul/23 12:00 AM,2023-07-03 14:25:00,Numiga,Service Request (SR),7 days 01:20:00,483664,0 days 07:13:00,6 days 18:07:00,2 days 02:59:00
5,CI-8869,483660,Closed,alejandro.ruizrobles,2023-06-26 13:00:00,03/Jul/23 12:00 AM,2023-07-03 14:24:00,Numiga,Service Request (SR),7 days 01:24:00,483660,0 days 07:14:00,6 days 18:10:00,2 days 03:04:00
6,CI-8856,483291,Closed,alejandro.ruizrobles,2023-06-23 11:20:00,28/Jun/23 12:00 AM,2023-06-27 14:38:00,Numiga,Service Request (SR),4 days 03:18:00,483291,0 days 06:07:00,3 days 21:11:00,0 days 03:45:00
7,CI-8807,480768,Closed,alejandro.ruizrobles,2023-06-15 18:38:00,22/Jun/23 12:00 AM,2023-06-28 19:22:00,Numiga,Service Request (SR),13 days 00:44:00,480768,4 days 01:42:00,8 days 23:02:00,4 days 20:23:00
8,CI-8753,478233,Closed,jbonnavion,2023-06-08 16:41:00,15/Jun/23 12:00 AM,2023-07-24 15:41:00,ProcurX,Service Request (SR),45 days 23:00:00,478233,6 days 00:41:00,18 days 21:50:00,11 days 21:35:00
9,CI-8751,477625,Closed,alejandro.ruizrobles,2023-06-07 12:51:00,16/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),11 days 22:32:00,477625,2 days 20:55:00,9 days 01:37:00,8 days 03:08:00
10,CI-8750,477616,Closed,alejandro.ruizrobles,2023-06-07 12:37:00,14/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),11 days 22:46:00,477616,2 days 20:53:00,9 days 01:53:00,8 days 03:22:00
11,CI-8742,477428,Closed,alejandro.ruizrobles,2023-06-06 21:01:00,13/Jun/23 12:00 AM,2023-06-16 09:21:00,Numiga,Service Request (SR),9 days 12:20:00,477428,0 days 00:32:00,9 days 11:48:00,8 days 18:05:00
12,CI-8718,476392,Closed,alejandro.ruizrobles,2023-06-02 11:20:00,09/Jun/23 12:00 AM,2023-06-07 15:33:00,Numiga,Service Request (SR),5 days 04:13:00,476392,0 days 00:47:00,5 days 03:26:00,4 days 00:36:00
13,CI-8655,472964,Closed,alejandro.ruizrobles,2023-05-17 20:07:00,24/May/23 12:00 AM,2023-05-23 15:06:00,Numiga,Service Request (SR),5 days 18:59:00,472964,2 days 12:14:00,3 days 06:45:00,1 days 15:59:00
14,CI-8631,471896,Closed,alejandro.ruizrobles,2023-05-12 17:51:00,26/May/23 12:00 AM,2023-06-19 12:06:00,Numiga,Service Request (SR),37 days 18:15:00,471896,6 days 01:15:00,31 days 17:29:00,16 days 17:30:00
15,CI-8620,471645,Closed,alejandro.ruizrobles,2023-05-12 09:33:00,19/May/23 12:00 AM,2023-05-30 16:19:00,Numiga,Service Request (SR),18 days 06:46:00,471645,1 days 11:52:00,16 days 18:54:00,7 days 01:15:00
16,CI-8603,471072,Closed,alejandro.ruizrobles,2023-05-10 14:44:00,17/May/23 12:00 AM,2023-05-26 09:42:00,Numiga,Service Request (SR),15 days 18:58:00,471072,5 days 04:32:00,10 days 14:26:00,7 days 23:08:00
17,CI-8597,470604,Closed,alejandro.ruizrobles,2023-05-09 13:50:00,16/May/23 12:00 AM,2023-05-17 20:13:00,Numiga,Service Request (SR),8 days 06:23:00,470604,0 days 14:17:00,7 days 16:06:00,5 days 20:24:00
18,CI-8581,469414,Closed,alejandro.ruizrobles,2023-05-03 13:12:00,10/May/23 12:00 AM,2023-05-23 21:07:00,Numiga,Service Request (SR),20 days 07:55:00,469414,7 days 13:15:00,12 days 18:40:00,6 days 21:50:00
19,CI-8568,468149,Closed,alejandro.ruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),8 days 02:25:00,468149,5 days 03:02:00,2 days 23:23:00,1 days 23:16:00
20,CI-8434,463294,Closed,alejandro.ruizrobles,2023-04-05 17:43:00,12/Apr/23 12:00 AM,2023-04-12 14:31:00,Numiga,Service Request (SR),6 days 20:48:00,463294,4 days 01:38:00,2 days 19:10:00,0 days 20:30:00
21,CI-8427,462869,Closed,alejandro.ruizrobles,2023-04-04 17:02:00,11/Apr/23 12:00 AM,2023-04-12 14:10:00,Numiga,Service Request (SR),7 days 21:08:00,462869,3 days 23:37:00,3 days 21:31:00,1 days 19:59:00
22,CI-8338,457190,Closed,alejandro.ruizrobles,2023-03-17 15:17:00,21/Mar/23 12:00 AM,2023-04-24 18:12:00,Numiga,Service Request (SR),38 days 02:55:00,457190,24 days 16:04:00,13 days 10:51:00,11 days 16:37:00
23,CI-8319,456556,Closed,alejandro.ruizrobles,2023-03-16 09:27:00,23/Mar/23 12:00 AM,2023-03-20 11:38:00,Numiga,Service Request (SR),4 days 02:11:00,456556,3 days 00:28:00,1 days 01:43:00,0 days 06:01:00
24,CI-8315,456393,Closed,jbonnavion,2023-03-15 15:03:00,22/Mar/23 12:00 AM,2023-04-13 14:22:00,DERPART,Service Request (SR),28 days 23:19:00,456393,2 days 20:27:00,26 days 02:52:00,15 days 01:25:00
25,CI-8312,456181,Closed,alejandro.ruizrobles,2023-03-15 09:51:00,22/Mar/23 12:00 AM,2023-03-29 15:51:00,Numiga,Service Request (SR),14 days 06:00:00,456181,2 days 17:17:00,11 days 13:05:00,1 days 05:35:00
26,CI-8299,455585,Closed,alejandro.ruizrobles,2023-03-13 17:31:00,17/Mar/23 12:00 AM,2023-03-20 09:42:00,Numiga,Service Request (SR),6 days 16:11:00,455585,3 days 18:02:00,2 days 22:09:00,1 days 16:02:00
27,CI-8276,453986,Closed,alejandro.ruizrobles,2023-03-07 17:24:00,14/Mar/23 12:00 AM,2023-03-14 09:47:00,Numiga,Service Request (SR),6 days 16:23:00,453986,0 days 01:19:00,6 days 15:04:00,5 days 23:05:00
28,CI-8260,453010,Closed,alejandro.ruizrobles,2023-03-03 17:56:00,10/Mar/23 12:00 AM,2023-03-21 10:14:00,Numiga,Service Request (SR),17 days 16:18:00,453010,0 days 06:28:00,17 days 09:50:00,6 days 13:23:00
29,CI-8259,453008,Closed,alejandro.ruizrobles,2023-03-03 17:46:00,10/Mar/23 12:00 AM,2023-03-13 09:49:00,Numiga,Service Request (SR),9 days 16:03:00,453008,0 days 01:08:00,9 days 14:55:00,6 days 13:33:00
30,CI-8247,452731,Closed,alejandro.ruizrobles,2023-03-02 16:14:00,16/Mar/23 12:00 AM,2023-03-21 17:00:00,Numiga,Service Request (SR),19 days 00:46:00,452731,1 days 07:44:00,17 days 17:38:00,11 days 22:42:00
31,CI-8226,450975,Closed,alejandro.ruizrobles,2023-02-23 15:50:00,02/Mar/23 12:00 AM,2023-02-27 16:42:00,Numiga,Service Request (SR),4 days 00:52:00,450975,2 days 21:20:00,1 days 03:32:00,0 days 22:55:00
32,CI-8178,448801,Closed,alejandro.ruizrobles,2023-02-16 10:22:00,20/Feb/23 12:00 AM,2023-02-16 18:10:00,Numiga,Service Request (SR),0 days 07:48:00,448801,0 days 00:00:00,0 days 07:48:00,0 days 07:48:00
33,CI-8138,447085,Closed,alejandro.ruizrobles,2023-02-08 13:54:00,15/Feb/23 12:00 AM,2023-02-22 09:22:00,Numiga,Service Request (SR),13 days 19:28:00,447085,1 days 05:28:00,12 days 14:00:00,7 days 20:19:00
34,CI-8136,447059,Closed,alejandro.ruizrobles,2023-02-08 13:08:00,15/Feb/23 12:00 AM,2023-02-17 10:53:00,Numiga,Service Request (SR),8 days 21:45:00,447059,0 days 06:34:00,8 days 15:11:00,7 days 19:34:00
35,CI-8102,446156,Closed,alejandro.ruizrobles,2023-02-03 14:28:00,10/Feb/23 12:00 AM,2023-02-09 10:45:00,Numiga,Service Request (SR),5 days 20:17:00,446156,0 days 09:33:00,5 days 10:44:00,4 days 18:12:00
36,CI-8093,445763,Closed,alejandro.ruizrobles,2023-02-02 08:59:00,09/Feb/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),126 days 06:07:00,445763,0 days 21:15:00,125 days 08:52:00,124 days 04:57:00
37,CI-8047,443341,Closed,alejandro.ruizrobles,2023-01-24 12:33:00,31/Jan/23 12:00 AM,2023-02-09 17:16:00,Numiga,Service Request (SR),16 days 04:43:00,443341,0 days 03:37:00,16 days 01:06:00,15 days 20:30:00
38,CI-8039,443101,Closed,alejandro.ruizrobles,2023-01-23 13:30:00,31/Jan/23 12:00 AM,2023-01-31 17:57:00,Numiga,Service Request (SR),8 days 04:27:00,443101,0 days 09:29:00,7 days 18:58:00,2 days 18:57:00
39,CI-8038,443091,Closed,alejandro.ruizrobles,2023-01-23 12:38:00,27/Jan/23 12:00 AM,2023-01-26 10:28:00,Numiga,Service Request (SR),2 days 21:50:00,443091,0 days 02:05:00,2 days 19:45:00,0 days 22:11:00
40,CI-8022,441937,Closed,alejandro.ruizrobles,2023-01-17 09:19:00,24/Jan/23 12:00 AM,2023-01-19 17:40:00,Numiga,Service Request (SR),2 days 08:21:00,441937,0 days 00:40:00,2 days 07:41:00,2 days 03:52:00
41,CI-8021,441934,Closed,alejandro.ruizrobles,2023-01-17 09:12:00,24/Jan/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),142 days 05:54:00,441934,0 days 21:57:00,2 days 15:55:00,1 days 02:03:00
42,CI-8010,441353,Closed,alejandro.ruizrobles,2023-01-13 10:38:00,20/Jan/23 12:00 AM,2023-01-20 11:17:00,Numiga,Service Request (SR),7 days 00:39:00,441353,0 days 02:49:00,6 days 21:50:00,5 days 00:36:00
43,CI-8009,441346,Closed,alejandro.ruizrobles,2023-01-13 10:32:00,20/Jan/23 12:00 AM,2023-01-23 09:09:00,Numiga,Service Request (SR),9 days 22:37:00,441346,0 days 01:49:00,9 days 20:48:00,6 days 02:40:00
44,CI-8007,441339,Closed,alejandro.ruizrobles,2023-01-13 10:14:00,20/Jan/23 12:00 AM,2023-01-20 09:09:00,Numiga,Service Request (SR),6 days 22:55:00,441339,0 days 00:54:00,6 days 22:01:00,6 days 02:58:00
45,CI-8000,441080,Closed,alejandro.ruizrobles,2023-01-12 10:46:00,18/Jan/23 12:00 AM,2023-01-17 12:09:00,Numiga,Service Request (SR),5 days 01:23:00,441080,0 days 01:40:00,4 days 23:43:00,0 days 05:09:00
46,CI-7997,441058,Closed,alejandro.ruizrobles,2023-01-12 10:21:00,18/Jan/23 12:00 AM,2023-01-20 10:56:00,Numiga,Service Request (SR),8 days 00:35:00,441058,0 days 02:37:00,7 days 21:58:00,6 days 00:53:00
47,CI-7990,440916,Closed,alejandro.ruizrobles,2023-01-11 16:50:00,18/Jan/23 12:00 AM,2023-03-08 16:45:00,Numiga,Service Request (SR),55 days 23:55:00,440916,1 days 02:47:00,54 days 21:08:00,7 days 22:32:00
48,CI-7987,440793,Closed,alejandro.ruizrobles,2023-01-11 12:47:00,18/Jan/23 12:00 AM,2023-01-24 16:06:00,Numiga,Service Request (SR),13 days 03:19:00,440793,0 days 03:25:00,12 days 23:54:00,6 days 22:27:00
49,CI-7986,440789,Closed,alejandro.ruizrobles,2023-01-11 12:39:00,18/Jan/23 12:00 AM,2023-01-19 17:28:00,Numiga,Service Request (SR),8 days 04:49:00,440789,0 days 03:07:00,8 days 01:42:00,1 days 21:21:00
50,CI-7952,438984,Closed,alejandro.ruizrobles,2023-01-04 09:45:00,11/Jan/23 12:00 AM,2023-01-18 14:19:00,Numiga,Service Request (SR),14 days 04:34:00,438984,0 days 07:07:00,13 days 21:27:00,12 days 03:23:00
51,CI-7948,438711,Closed,alejandro.ruizrobles,2023-01-03 10:07:00,12/Jan/23 12:00 AM,2023-01-12 11:25:00,Numiga,Service Request (SR),9 days 01:18:00,438711,6 days 18:56:00,2 days 06:22:00,1 days 03:28:00
52,CI-7947,438670,Closed,alejandro.ruizrobles,2023-01-02 18:00:00,09/Jan/23 12:00 AM,2023-01-05 12:27:00,Numiga,Service Request (SR),2 days 18:27:00,438670,0 days 05:21:00,2 days 13:06:00,1 days 17:29:00
53,CI-7876,436253,Closed,alejandro.ruizrobles,2022-12-15 17:01:00,22/Dec/22 12:00 AM,2022-12-23 13:18:00,Numiga,Service Request (SR),7 days 20:17:00,436253,0 days 04:59:00,7 days 15:18:00,6 days 21:05:00
54,CI-7807,432492,Closed,alejandro.ruizrobles,2022-12-03 13:20:00,15/Dec/22 12:00 AM,2023-03-21 16:54:00,Numiga,Service Request (SR),108 days 03:34:00,432492,45 days 02:37:00,63 days 00:57:00,31 days 20:43:00
55,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),17 days 17:44:00,432465,0 days 01:26:00,17 days 16:18:00,9 days 16:43:00
56,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),21 days 21:26:00,431180,4 days 03:05:00,17 days 18:21:00,1 days 20:36:00
57,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),41 days 19:08:00,430512,12 days 11:52:00,29 days 07:16:00,14 days 16:43:00
58,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),27 days 20:19:00,429541,10 days 17:48:00,17 days 02:30:00,6 days 22:28:00
59,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),147 days 21:14:00,428349,0 days 18:10:00,147 days 03:04:00,1 days 20:51:00

Check for null values

In [61]:
all_partners_with_time.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              0
dtype: int64

In [62]:
all_partners_with_time.shape

(60, 14)

### Drop rows which contain null value

In [63]:
all_partners_with_time_without_null = all_partners_with_time.dropna()
all_partners_with_time_without_null.isnull().sum()

Issue key                   0
Issue id                    0
Status                      0
Reporter                    0
Created                     0
Due Date                    0
Resolved                    0
Customer                    0
Type of Request             0
ticket_age                  0
Parent id                   0
time_outside_codebusters    0
time_on_codebusters         0
time_in_review              0
dtype: int64

In [64]:
all_partners_with_time_without_null.shape

(60, 14)

In [65]:
# all_partners_with_time_without_null.to_csv('all_partners.csv')

## Convert `time in..` columns to minutes

Convert `timedelta` columns to float

In [66]:
all_partners_with_time_converted = all_partners_with_time_without_null
all_partners_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 60 non-null     object
 1   Issue id                  60 non-null     int64
 2   Status                    60 non-null     object
 3   Reporter                  60 non-null     object
 4   Created                   60 non-null     datetime64[ns]
 5   Due Date                  60 non-null     object
 6   Resolved                  60 non-null     datetime64[ns]
 7   Customer                  60 non-null     object
 8   Type of Request           60 non-null     object
 9   ticket_age                60 non-null     timedelta64[ns]
 10  Parent id                 60 non-null     int64
 11  time_outside_codebusters  60 non-null     timedelta64[ns]
 12  time_on_codebusters       60 non-null     timedelta64[ns]
 13  time_in_review            60 non-null     timedelta64[ns]
dtypes: datetime64[ns](2), int64(2), object(6), timedelta64[ns](4)
memory usage: 6.7+ KB

Convert `time in..` columns to minutes

In [67]:
all_partners_with_time_converted['time_in_review'] = all_partners_with_time_converted['time_in_review'].dt.total_seconds().div(60)
all_partners_with_time_converted['time_on_codebusters'] = all_partners_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
all_partners_with_time_converted['time_outside_codebusters'] = all_partners_with_time_converted['time_outside_codebusters'].dt.total_seconds().div(60)
all_partners_with_time_converted['ticket_age'] = all_partners_with_time_converted['ticket_age'].dt.total_seconds().div(60)

all_partners_with_time_converted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Issue key                 60 non-null     object
 1   Issue id                  60 non-null     int64
 2   Status                    60 non-null     object
 3   Reporter                  60 non-null     object
 4   Created                   60 non-null     datetime64[ns]
 5   Due Date                  60 non-null     object
 6   Resolved                  60 non-null     datetime64[ns]
 7   Customer                  60 non-null     object
 8   Type of Request           60 non-null     object
 9   ticket_age                60 non-null     float64
 10  Parent id                 60 non-null     int64
 11  time_outside_codebusters  60 non-null     float64
 12  time_on_codebusters       60 non-null     float64
 13  time_in_review            60 non-null     float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(6)
memory usage: 6.7+ KB

In [68]:
all_partners_with_time_converted.reset_index(inplace=True)
all_partners_with_time_converted

,index,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_outside_codebusters,time_on_codebusters,time_in_review
0,0,CI-8916,485057,Closed,alejandro.ruizrobles,2023-07-03 10:00:00,06/Jul/23 12:00 AM,2023-07-07 08:30:00,Numiga,Service Request (SR),5670.0,485057,1353.0,310.0,282.0
1,1,CI-8908,484613,Closed,alejandro.ruizrobles,2023-06-29 16:16:00,06/Jul/23 12:00 AM,2023-07-03 14:27:00,Numiga,Service Request (SR),5651.0,484613,179.0,5472.0,1055.0
2,2,CI-8872,483676,Closed,alejandro.ruizrobles,2023-06-26 13:21:00,03/Jul/23 12:00 AM,2023-07-03 14:21:00,Numiga,Service Request (SR),10140.0,483676,430.0,9710.0,3044.0
3,3,CI-8871,483671,Closed,alejandro.ruizrobles,2023-06-26 13:14:00,03/Jul/23 12:00 AM,2023-07-03 14:22:00,Numiga,Service Request (SR),10148.0,483671,431.0,9717.0,3051.0
4,4,CI-8870,483664,Closed,alejandro.ruizrobles,2023-06-26 13:05:00,03/Jul/23 12:00 AM,2023-07-03 14:25:00,Numiga,Service Request (SR),10160.0,483664,433.0,9727.0,3059.0
5,5,CI-8869,483660,Closed,alejandro.ruizrobles,2023-06-26 13:00:00,03/Jul/23 12:00 AM,2023-07-03 14:24:00,Numiga,Service Request (SR),10164.0,483660,434.0,9730.0,3064.0
6,6,CI-8856,483291,Closed,alejandro.ruizrobles,2023-06-23 11:20:00,28/Jun/23 12:00 AM,2023-06-27 14:38:00,Numiga,Service Request (SR),5958.0,483291,367.0,5591.0,225.0
7,7,CI-8807,480768,Closed,alejandro.ruizrobles,2023-06-15 18:38:00,22/Jun/23 12:00 AM,2023-06-28 19:22:00,Numiga,Service Request (SR),18764.0,480768,5862.0,12902.0,6983.0
8,8,CI-8753,478233,Closed,jbonnavion,2023-06-08 16:41:00,15/Jun/23 12:00 AM,2023-07-24 15:41:00,ProcurX,Service Request (SR),66180.0,478233,8681.0,27230.0,17135.0
9,9,CI-8751,477625,Closed,alejandro.ruizrobles,2023-06-07 12:51:00,16/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),17192.0,477625,4135.0,13057.0,11708.0
10,10,CI-8750,477616,Closed,alejandro.ruizrobles,2023-06-07 12:37:00,14/Jun/23 12:00 AM,2023-06-19 11:23:00,Numiga,Service Request (SR),17206.0,477616,4133.0,13073.0,11722.0
11,11,CI-8742,477428,Closed,alejandro.ruizrobles,2023-06-06 21:01:00,13/Jun/23 12:00 AM,2023-06-16 09:21:00,Numiga,Service Request (SR),13700.0,477428,32.0,13668.0,12605.0
12,12,CI-8718,476392,Closed,alejandro.ruizrobles,2023-06-02 11:20:00,09/Jun/23 12:00 AM,2023-06-07 15:33:00,Numiga,Service Request (SR),7453.0,476392,47.0,7406.0,5796.0
13,13,CI-8655,472964,Closed,alejandro.ruizrobles,2023-05-17 20:07:00,24/May/23 12:00 AM,2023-05-23 15:06:00,Numiga,Service Request (SR),8339.0,472964,3614.0,4725.0,2399.0
14,14,CI-8631,471896,Closed,alejandro.ruizrobles,2023-05-12 17:51:00,26/May/23 12:00 AM,2023-06-19 12:06:00,Numiga,Service Request (SR),54375.0,471896,8715.0,45689.0,24090.0
15,15,CI-8620,471645,Closed,alejandro.ruizrobles,2023-05-12 09:33:00,19/May/23 12:00 AM,2023-05-30 16:19:00,Numiga,Service Request (SR),26326.0,471645,2152.0,24174.0,10155.0
16,16,CI-8603,471072,Closed,alejandro.ruizrobles,2023-05-10 14:44:00,17/May/23 12:00 AM,2023-05-26 09:42:00,Numiga,Service Request (SR),22738.0,471072,7472.0,15266.0,11468.0
17,17,CI-8597,470604,Closed,alejandro.ruizrobles,2023-05-09 13:50:00,16/May/23 12:00 AM,2023-05-17 20:13:00,Numiga,Service Request (SR),11903.0,470604,857.0,11046.0,8424.0
18,18,CI-8581,469414,Closed,alejandro.ruizrobles,2023-05-03 13:12:00,10/May/23 12:00 AM,2023-05-23 21:07:00,Numiga,Service Request (SR),29275.0,469414,10875.0,18400.0,9950.0
19,19,CI-8568,468149,Closed,alejandro.ruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),11665.0,468149,7382.0,4283.0,2836.0
20,20,CI-8434,463294,Closed,alejandro.ruizrobles,2023-04-05 17:43:00,12/Apr/23 12:00 AM,2023-04-12 14:31:00,Numiga,Service Request (SR),9888.0,463294,5858.0,4030.0,1230.0
21,21,CI-8427,462869,Closed,alejandro.ruizrobles,2023-04-04 17:02:00,11/Apr/23 12:00 AM,2023-04-12 14:10:00,Numiga,Service Request (SR),11348.0,462869,5737.0,5611.0,2639.0
22,22,CI-8338,457190,Closed,alejandro.ruizrobles,2023-03-17 15:17:00,21/Mar/23 12:00 AM,2023-04-24 18:12:00,Numiga,Service Request (SR),54895.0,457190,35524.0,19371.0,16837.0
23,23,CI-8319,456556,Closed,alejandro.ruizrobles,2023-03-16 09:27:00,23/Mar/23 12:00 AM,2023-03-20 11:38:00,Numiga,Service Request (SR),5891.0,456556,4348.0,1543.0,361.0
24,24,CI-8315,456393,Closed,jbonnavion,2023-03-15 15:03:00,22/Mar/23 12:00 AM,2023-04-13 14:22:00,DERPART,Service Request (SR),41719.0,456393,4107.0,37612.0,21685.0
25,25,CI-8312,456181,Closed,alejandro.ruizrobles,2023-03-15 09:51:00,22/Mar/23 12:00 AM,2023-03-29 15:51:00,Numiga,Service Request (SR),20520.0,456181,3917.0,16625.0,1775.0
26,26,CI-8299,455585,Closed,alejandro.ruizrobles,2023-03-13 17:31:00,17/Mar/23 12:00 AM,2023-03-20 09:42:00,Numiga,Service Request (SR),9611.0,455585,5402.0,4209.0,2402.0
27,27,CI-8276,453986,Closed,alejandro.ruizrobles,2023-03-07 17:24:00,14/Mar/23 12:00 AM,2023-03-14 09:47:00,Numiga,Service Request (SR),9623.0,453986,79.0,9544.0,8585.0
28,28,CI-8260,453010,Closed,alejandro.ruizrobles,2023-03-03 17:56:00,10/Mar/23 12:00 AM,2023-03-21 10:14:00,Numiga,Service Request (SR),25458.0,453010,388.0,25070.0,9443.0
29,29,CI-8259,453008,Closed,alejandro.ruizrobles,2023-03-03 17:46:00,10/Mar/23 12:00 AM,2023-03-13 09:49:00,Numiga,Service Request (SR),13923.0,453008,68.0,13855.0,9453.0
30,30,CI-8247,452731,Closed,alejandro.ruizrobles,2023-03-02 16:14:00,16/Mar/23 12:00 AM,2023-03-21 17:00:00,Numiga,Service Request (SR),27406.0,452731,1904.0,25538.0,17202.0
31,31,CI-8226,450975,Closed,alejandro.ruizrobles,2023-02-23 15:50:00,02/Mar/23 12:00 AM,2023-02-27 16:42:00,Numiga,Service Request (SR),5812.0,450975,4160.0,1652.0,1375.0
32,32,CI-8178,448801,Closed,alejandro.ruizrobles,2023-02-16 10:22:00,20/Feb/23 12:00 AM,2023-02-16 18:10:00,Numiga,Service Request (SR),468.0,448801,0.0,468.0,468.0
33,33,CI-8138,447085,Closed,alejandro.ruizrobles,2023-02-08 13:54:00,15/Feb/23 12:00 AM,2023-02-22 09:22:00,Numiga,Service Request (SR),19888.0,447085,1768.0,18120.0,11299.0
34,34,CI-8136,447059,Closed,alejandro.ruizrobles,2023-02-08 13:08:00,15/Feb/23 12:00 AM,2023-02-17 10:53:00,Numiga,Service Request (SR),12825.0,447059,394.0,12431.0,11254.0
35,35,CI-8102,446156,Closed,alejandro.ruizrobles,2023-02-03 14:28:00,10/Feb/23 12:00 AM,2023-02-09 10:45:00,Numiga,Service Request (SR),8417.0,446156,573.0,7844.0,6852.0
36,36,CI-8093,445763,Closed,alejandro.ruizrobles,2023-02-02 08:59:00,09/Feb/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),181807.0,445763,1275.0,180532.0,178857.0
37,37,CI-8047,443341,Closed,alejandro.ruizrobles,2023-01-24 12:33:00,31/Jan/23 12:00 AM,2023-02-09 17:16:00,Numiga,Service Request (SR),23323.0,443341,217.0,23106.0,22830.0
38,38,CI-8039,443101,Closed,alejandro.ruizrobles,2023-01-23 13:30:00,31/Jan/23 12:00 AM,2023-01-31 17:57:00,Numiga,Service Request (SR),11787.0,443101,569.0,11218.0,4017.0
39,39,CI-8038,443091,Closed,alejandro.ruizrobles,2023-01-23 12:38:00,27/Jan/23 12:00 AM,2023-01-26 10:28:00,Numiga,Service Request (SR),4190.0,443091,125.0,4065.0,1331.0
40,40,CI-8022,441937,Closed,alejandro.ruizrobles,2023-01-17 09:19:00,24/Jan/23 12:00 AM,2023-01-19 17:40:00,Numiga,Service Request (SR),3381.0,441937,40.0,3341.0,3112.0
41,41,CI-8021,441934,Closed,alejandro.ruizrobles,2023-01-17 09:12:00,24/Jan/23 12:00 AM,2023-06-08 15:06:00,Numiga,Service Request (SR),204834.0,441934,1317.0,3835.0,1563.0
42,42,CI-8010,441353,Closed,alejandro.ruizrobles,2023-01-13 10:38:00,20/Jan/23 12:00 AM,2023-01-20 11:17:00,Numiga,Service Request (SR),10119.0,441353,169.0,9950.0,7236.0
43,43,CI-8009,441346,Closed,alejandro.ruizrobles,2023-01-13 10:32:00,20/Jan/23 12:00 AM,2023-01-23 09:09:00,Numiga,Service Request (SR),14317.0,441346,109.0,14208.0,8800.0
44,44,CI-8007,441339,Closed,alejandro.ruizrobles,2023-01-13 10:14:00,20/Jan/23 12:00 AM,2023-01-20 09:09:00,Numiga,Service Request (SR),10015.0,441339,54.0,9961.0,8818.0
45,45,CI-8000,441080,Closed,alejandro.ruizrobles,2023-01-12 10:46:00,18/Jan/23 12:00 AM,2023-01-17 12:09:00,Numiga,Service Request (SR),7283.0,441080,100.0,7183.0,309.0
46,46,CI-7997,441058,Closed,alejandro.ruizrobles,2023-01-12 10:21:00,18/Jan/23 12:00 AM,2023-01-20 10:56:00,Numiga,Service Request (SR),11555.0,441058,157.0,11398.0,8693.0
47,47,CI-7990,440916,Closed,alejandro.ruizrobles,2023-01-11 16:50:00,18/Jan/23 12:00 AM,2023-03-08 16:45:00,Numiga,Service Request (SR),80635.0,440916,1607.0,79028.0,11432.0
48,48,CI-7987,440793,Closed,alejandro.ruizrobles,2023-01-11 12:47:00,18/Jan/23 12:00 AM,2023-01-24 16:06:00,Numiga,Service Request (SR),18919.0,440793,205.0,18714.0,9987.0
49,49,CI-7986,440789,Closed,alejandro.ruizrobles,2023-01-11 12:39:00,18/Jan/23 12:00 AM,2023-01-19 17:28:00,Numiga,Service Request (SR),11809.0,440789,187.0,11622.0,2721.0
50,50,CI-7952,438984,Closed,alejandro.ruizrobles,2023-01-04 09:45:00,11/Jan/23 12:00 AM,2023-01-18 14:19:00,Numiga,Service Request (SR),20434.0,438984,427.0,20007.0,17483.0
51,51,CI-7948,438711,Closed,alejandro.ruizrobles,2023-01-03 10:07:00,12/Jan/23 12:00 AM,2023-01-12 11:25:00,Numiga,Service Request (SR),13038.0,438711,9776.0,3262.0,1648.0
52,52,CI-7947,438670,Closed,alejandro.ruizrobles,2023-01-02 18:00:00,09/Jan/23 12:00 AM,2023-01-05 12:27:00,Numiga,Service Request (SR),3987.0,438670,321.0,3666.0,2489.0
53,53,CI-7876,436253,Closed,alejandro.ruizrobles,2022-12-15 17:01:00,22/Dec/22 12:00 AM,2022-12-23 13:18:00,Numiga,Service Request (SR),11297.0,436253,299.0,10998.0,9905.0
54,54,CI-7807,432492,Closed,alejandro.ruizrobles,2022-12-03 13:20:00,15/Dec/22 12:00 AM,2023-03-21 16:54:00,Numiga,Service Request (SR),155734.0,432492,64957.0,90777.0,45883.0
55,55,CI-7806,432465,Closed,alejandro.ruizrobles,2022-12-02 16:36:00,12/Dec/22 12:00 AM,2022-12-20 10:20:00,Numiga,Service Request (SR),25544.0,432465,86.0,25458.0,13963.0
56,56,CI-7773,431180,Closed,alejandro.ruizrobles,2022-11-28 16:58:00,01/Jan/23 12:00 AM,2022-12-20 14:24:00,Numiga,Service Request (SR),31526.0,431180,5945.0,25581.0,2676.0
57,57,CI-7755,430512,Closed,alejandro.ruizrobles,2022-11-23 16:38:00,30/Nov/22 12:00 AM,2023-01-04 11:46:00,Numiga,Service Request (SR),60188.0,430512,17992.0,42196.0,21163.0
58,58,CI-7736,429541,Closed,alejandro.ruizrobles,2022-11-21 11:31:00,28/Nov/22 12:00 AM,2022-12-19 07:50:00,Numiga,Service Request (SR),40099.0,429541,15468.0,24630.0,9988.0
59,59,CI-7700,428349,Closed,alejandro.ruizrobles,2022-11-15 16:39:00,22/Nov/22 12:00 AM,2023-04-12 13:53:00,Numiga,Service Request (SR),212954.0,428349,1090.0,211864.0,2691.0

In [69]:
file_path = Path('DataSets/KPIs/all_partners_kpi.csv')
all_partners_with_time_converted.to_csv(path_or_buf=file_path)

# Investigation starts

In [70]:
all_individual_tasks_reivew[all_individual_tasks_reivew["Parent id"] == 438360]

,index,Summary,Issue id,Parent id,Created,Resolved,time_in_review
3,38,Review,438363,438360,2022-12-29 11:45:00,2022-12-29 12:21:00,0 days 00:36:00
4,40,Review,438361,438360,2022-12-29 11:30:00,2022-12-29 11:42:00,0 days 00:12:00

In [71]:
all_partners[all_partners["Issue id"] == 438360]

Empty DataFrame
Columns: [Issue key, Issue id, Status, Reporter, Created, Due Date, Resolved, Customer, Type of Request, ticket_age]
Index: []

In [72]:
null_rows

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,ticket_age,Parent id,time_in_review
0,CI-8999,489633,Closed,alejandro.ruizrobles,2023-07-24 15:46:00,31/Jul/23 12:00 AM,2023-08-02 15:37:00,ProcurX,Service Request (SR),8 days 23:51:00,NaN,NaT
1,CI-8980,488527,Closed,alejandro.ruizrobles,2023-07-18 14:31:00,21/Jul/23 12:00 AM,2023-07-20 11:58:00,Numiga,Service Request (SR),1 days 21:27:00,NaN,NaT
2,CI-8972,488119,Closed,alejandro.ruizrobles,2023-07-17 08:33:00,24/Jul/23 12:00 AM,2023-07-28 01:06:00,ProcurX,Service Request (SR),10 days 16:33:00,NaN,NaT
3,CI-8968,487949,Closed,alejandro.ruizrobles,2023-07-14 12:09:00,18/Jul/23 12:00 AM,2023-07-20 11:57:00,Numiga,Service Request (SR),5 days 23:48:00,NaN,NaT
4,CI-8956,487348,Closed,alejandro.ruizrobles,2023-07-12 11:16:00,19/Jul/23 12:00 AM,2023-07-20 11:00:00,ProcurX,Service Request (SR),7 days 23:44:00,NaN,NaT
5,CI-8947,486492,Closed,alejandro.ruizrobles,2023-07-10 10:16:00,17/Jul/23 12:00 AM,2023-08-01 10:12:00,Munckhof,Service Request (SR),21 days 23:56:00,NaN,NaT
6,CI-8946,486478,Closed,alejandro.ruizrobles,2023-07-10 09:52:00,17/Jul/23 12:00 AM,2023-07-18 16:04:00,Numiga,Service Request (SR),8 days 06:12:00,NaN,NaT
7,CI-8945,486471,Closed,alejandro.ruizrobles,2023-07-10 09:45:00,14/Jul/23 12:00 AM,2023-07-19 14:53:00,Numiga,Service Request (SR),9 days 05:08:00,NaN,NaT
8,CI-8944,486464,Closed,alejandro.ruizrobles,2023-07-10 09:42:00,14/Jul/23 12:00 AM,2023-07-24 12:39:00,Numiga,Service Request (SR),14 days 02:57:00,NaN,NaT
9,CI-8933,485825,Closed,alejandro.ruizrobles,2023-07-06 09:30:00,13/Jul/23 12:00 AM,2023-07-11 12:00:00,Numiga,Service Request (SR),5 days 02:30:00,NaN,NaT

# Investigation ends

# To Do