# Codebusters KPIs and Other Usefull Patterns

## import libraries

In [640]:
import pandas as pd
import numpy as np

Import and clean `all_tickets_2022` data set 
- remove unnecessary columns
- rename columns

# Prepare data with all tickets

In [641]:
all_tickets_origin = pd.read_csv('../../DataSets/from2022/all_tickets.csv')
all_tickets_origin

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Comment.26,Comment.27,Comment.28,Comment.29,Comment.30,Comment.31,Comment.32,Comment.33,Comment.34,Comment.35
0,egis:wrong date on export file,CI-6195,360521,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Egis: wrong date and year in export file-ITE508,CI-6203,360637,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Activate NG Calculate on Staging system: AMA-A...,CI-6206,360759,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"OGE - ITE-515 - employee group containing ""rv""",CI-6216,360851,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,luther - Validation error for meal,CI-6218,360869,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,Continental - update mileage value,CI-8286,454791,Expense Delivery,Review,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980,Implementation cE for FACT GFT wave 6 TR - Ama...,CI-6961,395599,Expense Delivery,Communicate,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,[Amadeus FACT TR] Update of the Per diem value...,CI-8287,454795,Expense Delivery,Review,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,[Amadeus New Zealand] Meal Entertainment Posti...,CI-8288,454797,Expense Delivery,Review,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,HUGO BOSS : UK - Construction Master Ticket,CI-8112,446441,Expense Delivery,Configure,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [642]:
all_tickets_maintenance = all_tickets_origin[all_tickets_origin['Custom field (Type of Request)'] != 'Project']
all_tickets_maintenance

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Comment.26,Comment.27,Comment.28,Comment.29,Comment.30,Comment.31,Comment.32,Comment.33,Comment.34,Comment.35
0,egis:wrong date on export file,CI-6195,360521,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Egis: wrong date and year in export file-ITE508,CI-6203,360637,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Activate NG Calculate on Staging system: AMA-A...,CI-6206,360759,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"OGE - ITE-515 - employee group containing ""rv""",CI-6216,360851,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,luther - Validation error for meal,CI-6218,360869,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976,Add custom logic,CI-8206,450084,Expense Delivery,Communicate,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1977,Allianz - Link & Merge activation,CI-8244,452543,Expense Delivery,Communicate,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978,Continental - Adjust the SimilarReceiptsValid...,CI-8158,447936,Expense Delivery,Import in Production,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,Continental - update mileage value,CI-8286,454791,Expense Delivery,Review,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,[Amadeus FACT TR] Update of the Per diem value...,CI-8287,454795,Expense Delivery,Review,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [643]:
all_tickets = all_tickets_maintenance[['Issue key', 'Issue id', 'Status', 'Reporter', 'Created', 'Due Date', 'Resolved', 'Custom field (Customer/s)','Custom field (Type of Request)']]
all_tickets.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

C:\Users\gmalarski\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [644]:
all_tickets

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request
0,CI-6195,360521,Closed,nsanchez,03/Jan/22 9:44 AM,06/Jan/22 12:00 AM,03/Jan/22 2:50 PM,Egis,Incident Request (IR)
1,CI-6203,360637,Closed,nsanchez,04/Jan/22 8:33 AM,10/Jan/22 12:00 AM,05/Jan/22 9:36 AM,Egis,Incident Request (IR)
2,CI-6206,360759,Closed,gangelova,04/Jan/22 1:43 PM,07/Jan/22 12:00 AM,05/Jan/22 9:47 AM,Expense Development,Service Request (SR)
3,CI-6216,360851,Closed,ngraf,04/Jan/22 11:06 PM,06/Jan/22 12:00 AM,05/Jan/22 10:20 AM,Numiga,Incident Request (IR)
4,CI-6218,360869,Closed,yutaka,05/Jan/22 6:30 AM,14/Jan/22 12:00 AM,07/Jan/22 12:49 AM,Luther,Incident Request (IR)
...,...,...,...,...,...,...,...,...,...
1976,CI-8206,450084,Communicate,mkuchciak,21/Feb/23 11:34 AM,24/Mar/23 12:00 AM,NaN,Customer not yet listed,Service Request (SR)
1977,CI-8244,452543,Communicate,ssanz,02/Mar/23 9:48 AM,09/Mar/23 12:00 AM,NaN,Allianz,Service Request (SR)
1978,CI-8158,447936,Import in Production,yutaka,13/Feb/23 12:17 PM,17/Feb/23 12:00 AM,NaN,Continental,Service Request (SR)
1979,CI-8286,454791,Review,yutaka,10/Mar/23 1:33 AM,17/Mar/23 12:00 AM,NaN,Continental,Service Request (SR)
1981,CI-8287,454795,Review,pthuaud,10/Mar/23 4:29 AM,17/Mar/23 12:00 AM,NaN,Amadeus,Service Request (SR)

In [645]:
all_tickets.reset_index(inplace=True, drop=True)
all_tickets

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request
0,CI-6195,360521,Closed,nsanchez,03/Jan/22 9:44 AM,06/Jan/22 12:00 AM,03/Jan/22 2:50 PM,Egis,Incident Request (IR)
1,CI-6203,360637,Closed,nsanchez,04/Jan/22 8:33 AM,10/Jan/22 12:00 AM,05/Jan/22 9:36 AM,Egis,Incident Request (IR)
2,CI-6206,360759,Closed,gangelova,04/Jan/22 1:43 PM,07/Jan/22 12:00 AM,05/Jan/22 9:47 AM,Expense Development,Service Request (SR)
3,CI-6216,360851,Closed,ngraf,04/Jan/22 11:06 PM,06/Jan/22 12:00 AM,05/Jan/22 10:20 AM,Numiga,Incident Request (IR)
4,CI-6218,360869,Closed,yutaka,05/Jan/22 6:30 AM,14/Jan/22 12:00 AM,07/Jan/22 12:49 AM,Luther,Incident Request (IR)
...,...,...,...,...,...,...,...,...,...
1521,CI-8206,450084,Communicate,mkuchciak,21/Feb/23 11:34 AM,24/Mar/23 12:00 AM,NaN,Customer not yet listed,Service Request (SR)
1522,CI-8244,452543,Communicate,ssanz,02/Mar/23 9:48 AM,09/Mar/23 12:00 AM,NaN,Allianz,Service Request (SR)
1523,CI-8158,447936,Import in Production,yutaka,13/Feb/23 12:17 PM,17/Feb/23 12:00 AM,NaN,Continental,Service Request (SR)
1524,CI-8286,454791,Review,yutaka,10/Mar/23 1:33 AM,17/Mar/23 12:00 AM,NaN,Continental,Service Request (SR)
1525,CI-8287,454795,Review,pthuaud,10/Mar/23 4:29 AM,17/Mar/23 12:00 AM,NaN,Amadeus,Service Request (SR)

In [646]:
all_tickets.nunique()

Issue key          1526
Issue id           1526
Status               10
Reporter             57
Created            1517
Due Date            318
Resolved           1271
Customer             87
Type of Request       2
dtype: int64

In [647]:
all_tickets.isnull().sum()

Issue key            0
Issue id             0
Status               0
Reporter             0
Created              0
Due Date             0
Resolved           145
Customer             0
Type of Request      0
dtype: int64

In [648]:
all_tickets["Created"] = pd.to_datetime(all_tickets["Created"])
all_tickets["Resolved"] = pd.to_datetime(all_tickets["Resolved"])

<ipython-input-648-60622bde9097>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_tickets["Created"] = pd.to_datetime(all_tickets["Created"])
<ipython-input-648-60622bde9097>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_tickets["Resolved"] = pd.to_datetime(all_tickets["Resolved"])

In [649]:
all_tickets.sort_values('Resolved', ascending=False)

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request
1380,CI-8006,441299,Review,yutaka,2023-01-13 07:58:00,17/Jan/23 12:00 AM,2023-03-10 01:57:00,Porsche,Service Request (SR)
1379,CI-8210,450191,Closed,mmaciejczyk,2023-02-21 14:50:00,28/Feb/23 12:00 AM,2023-03-09 17:37:00,CEPSA,Service Request (SR)
1378,CI-8275,453976,Closed,aruizrobles,2023-03-07 16:47:00,08/Mar/23 12:00 AM,2023-03-09 16:42:00,Conovum,Service Request (SR)
1377,CI-8281,454588,Closed,rohkamm,2023-03-09 11:53:00,09/Mar/23 12:00 AM,2023-03-09 13:39:00,Allianz,Incident Request (IR)
1376,CI-8213,450361,Closed,pthuaud,2023-02-22 04:53:00,24/Feb/23 12:00 AM,2023-03-09 10:44:00,Amadeus,Service Request (SR)
...,...,...,...,...,...,...,...,...,...
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR)
1522,CI-8244,452543,Communicate,ssanz,2023-03-02 09:48:00,09/Mar/23 12:00 AM,NaT,Allianz,Service Request (SR)
1523,CI-8158,447936,Import in Production,yutaka,2023-02-13 12:17:00,17/Feb/23 12:00 AM,NaT,Continental,Service Request (SR)
1524,CI-8286,454791,Review,yutaka,2023-03-10 01:33:00,17/Mar/23 12:00 AM,NaT,Continental,Service Request (SR)
1525,CI-8287,454795,Review,pthuaud,2023-03-10 04:29:00,17/Mar/23 12:00 AM,NaT,Amadeus,Service Request (SR)

In [650]:
all_tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526 entries, 0 to 1525
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        1526 non-null   object
 1   Issue id         1526 non-null   int64
 2   Status           1526 non-null   object
 3   Reporter         1526 non-null   object
 4   Created          1526 non-null   datetime64[ns]
 5   Due Date         1526 non-null   object
 6   Resolved         1381 non-null   datetime64[ns]
 7   Customer         1526 non-null   object
 8   Type of Request  1526 non-null   object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 107.4+ KB

In [651]:
1526 - 145

1381

Get only rows with

**Summary:** <br>
- tickets imported for csv file
- data filtered only collumns which will be necessary for the analysys left

# Prepare data with individuals tasks

Import and clean `all_individual_tasks` data set 
- combine data from two periods in 2022
- remove unnecessary columns
- replace missing `date` values with 0
- drop rows with "null" values

In [652]:
# individual_part_1 = pd.read_csv('individual_tasks__from_01012022_till_01072022.csv')
# individual_part_2 = pd.read_csv('individual_taks_from_01072022_till_29122022.csv')


# all_individual_tasks_2022_origin = pd.concat([individual_part_1, individual_part_2])
# all_individual_tasks_2022_origin.head()

In [653]:
# individual_part_1 = pd.read_csv('../../DataSets/from2022/individual_tasks_1.csv')
# individual_part_2 = pd.read_csv('../../DataSets/from2022/individual_tasks_2.csv')
# individual_part_3 = pd.read_csv('../../DataSets/from2022/individual_tasks_3.csv')

# all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3], axis=0)
# all_individual_tasks_combined

In [654]:
individual_part_1 = pd.read_csv('../../DataSets/from2022/from20220101_till_2022_05_31.csv')
individual_part_2 = pd.read_csv('../../DataSets/from2022/from_20220601_till_20220831.csv')
individual_part_3 = pd.read_csv('../../DataSets/from2022/from_20220901_till_20221231.csv')
individual_part_4 = pd.read_csv('../../DataSets/from2022/from20230101_till_20230310.csv')

all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3, individual_part_4], axis=0)
all_individual_tasks_combined

C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (25,29,30,31,42,43,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21,35,36,74,77,215,216,217,218,249,286,287) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (25,215,216,217,218,219,220,221,222,223,224,225) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Custom field (Which customers are affected?),Custom field (arctic Dev Findings),Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Component/s,Custom field (Customer/s),Sprint.35,Sprint.36
0,Import in Production,CI-10217127,394675,373630,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Communicate,CI-10217126,394671,389490,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Communicate,CI-10217125,394670,393625,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Configure,CI-10217121,394664,389982,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Configure,CI-10217120,394663,370941,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2183,Verify,CI-10230406,438578,436035,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2184,Import to Test System,CI-10230405,438577,436035,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2185,Configure,CI-10230404,438576,436035,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2186,Configure,CI-10230403,438573,356993,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2187,Communicate,CI-10230400,438554,436609,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [655]:
individual_part_1.shape

(4780, 309)

In [656]:
individual_part_2.shape

(2471, 288)

In [657]:
individual_part_3.shape

(3768, 302)

Select only columns needed for further calculations

In [658]:
all_individual_tasks_2022_origin = all_individual_tasks_combined[['Summary','Issue id', 'Parent id', 'Created', 'Resolved']]
all_individual_tasks_2022 = all_individual_tasks_2022_origin

Drop columns with missing values

In [659]:
all_individual_tasks_2022.isnull().sum()

Summary        0
Issue id       0
Parent id      0
Created        0
Resolved     308
dtype: int64

In [660]:
# all_individual_tasks_2022.dropna(inplace=True)

In [661]:
all_individual_tasks_2022

,Summary,Issue id,Parent id,Created,Resolved
0,Import in Production,394675,373630,30/May/22 10:30 PM,21/Jun/22 1:17 PM
1,Communicate,394671,389490,30/May/22 8:27 PM,31/May/22 9:59 AM
2,Communicate,394670,393625,30/May/22 8:27 PM,31/May/22 9:04 AM
3,Configure,394664,389982,30/May/22 6:01 PM,31/May/22 2:22 PM
4,Configure,394663,370941,30/May/22 5:43 PM,17/Jun/22 1:58 PM
...,...,...,...,...,...
2183,Verify,438578,436035,02/Jan/23 9:57 AM,31/Jan/23 10:01 PM
2184,Import to Test System,438577,436035,02/Jan/23 9:57 AM,02/Jan/23 9:57 AM
2185,Configure,438576,436035,02/Jan/23 9:57 AM,02/Jan/23 9:57 AM
2186,Configure,438573,356993,02/Jan/23 9:42 AM,12/Jan/23 9:45 AM
2187,Communicate,438554,436609,02/Jan/23 7:23 AM,02/Jan/23 8:59 AM

In [662]:
all_individual_tasks_2022.isnull().sum()

Summary        0
Issue id       0
Parent id      0
Created        0
Resolved     308
dtype: int64

In [663]:
all_individual_tasks_2022["Created"] = pd.to_datetime(all_individual_tasks_2022["Created"])
all_individual_tasks_2022["Resolved"] = pd.to_datetime(all_individual_tasks_2022["Resolved"])
all_individual_tasks_2022.info()

<ipython-input-663-00e4628fe922>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_2022["Created"] = pd.to_datetime(all_individual_tasks_2022["Created"])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13207 entries, 0 to 2187
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    13207 non-null  object
 1   Issue id   13207 non-null  int64
 2   Parent id  13207 non-null  int64
 3   Created    13207 non-null  datetime64[ns]
 4   Resolved   12899 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 619.1+ KB

<ipython-input-663-00e4628fe922>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_2022["Resolved"] = pd.to_datetime(all_individual_tasks_2022["Resolved"])

In [664]:
all_individual_tasks_2022['Summary'].value_counts()

Review                            2369
Configure                         2342
Verify                            2051
Communicate                       1874
Import to Test System             1706
Import in Production              1612
Import to Customer Test System     559
Explain                            309
Import to Staging System           161
Clarify                            152
Do                                  61
Maciej Training                      2
Marcin Training                      2
Michał Training                      2
Bartosz Training                     1
Import to Test/Staging               1
Training - Maciej                    1
CLONE - Review                       1
Training - Marcin                    1
Name: Summary, dtype: int64

### Daterminate how long each ticket was in particular individual task

- calculate time for eacch subtask
- calculate how long the ticket was in review, configure, verify, import.., communicate steps
- calcualte the total eg. sum all time spend in verify for one ticket

In [665]:
all_individual_tasks_2022

,Summary,Issue id,Parent id,Created,Resolved
0,Import in Production,394675,373630,2022-05-30 22:30:00,2022-06-21 13:17:00
1,Communicate,394671,389490,2022-05-30 20:27:00,2022-05-31 09:59:00
2,Communicate,394670,393625,2022-05-30 20:27:00,2022-05-31 09:04:00
3,Configure,394664,389982,2022-05-30 18:01:00,2022-05-31 14:22:00
4,Configure,394663,370941,2022-05-30 17:43:00,2022-06-17 13:58:00
...,...,...,...,...,...
2183,Verify,438578,436035,2023-01-02 09:57:00,2023-01-31 22:01:00
2184,Import to Test System,438577,436035,2023-01-02 09:57:00,2023-01-02 09:57:00
2185,Configure,438576,436035,2023-01-02 09:57:00,2023-01-02 09:57:00
2186,Configure,438573,356993,2023-01-02 09:42:00,2023-01-12 09:45:00
2187,Communicate,438554,436609,2023-01-02 07:23:00,2023-01-02 08:59:00

In [666]:
all_individual_tasks_2022_time_calculation = all_individual_tasks_2022
all_individual_tasks_2022_time_calculation["time_in"] = all_individual_tasks_2022_time_calculation["Resolved"] - all_individual_tasks_2022_time_calculation["Created"]

<ipython-input-666-ecf7dda40514>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_2022_time_calculation["time_in"] = all_individual_tasks_2022_time_calculation["Resolved"] - all_individual_tasks_2022_time_calculation["Created"]

In [667]:
all_individual_tasks_2022_time_calculation.loc[all_individual_tasks_2022_time_calculation["Parent id"] == 438382]

,Summary,Issue id,Parent id,Created,Resolved,time_in
25,Review,438383,438382,2022-12-29 14:47:00,2023-01-04 11:44:00,5 days 20:57:00
2070,Import in Production,439047,438382,2023-01-04 11:44:00,NaT,NaT
2071,Configure,439046,438382,2023-01-04 11:44:00,2023-01-04 11:44:00,0 days 00:00:00

In [668]:
all_individual_tasks_2022_time_calculation["Summary"].value_counts()

Review                            2369
Configure                         2342
Verify                            2051
Communicate                       1874
Import to Test System             1706
Import in Production              1612
Import to Customer Test System     559
Explain                            309
Import to Staging System           161
Clarify                            152
Do                                  61
Maciej Training                      2
Marcin Training                      2
Michał Training                      2
Bartosz Training                     1
Import to Test/Staging               1
Training - Maciej                    1
CLONE - Review                       1
Training - Marcin                    1
Name: Summary, dtype: int64

### Determinate time spent in codebusters

- calculate the total time ticket was in one of the subtask "Configure", "Review", "mport to Test System", "Import in Production", "Import to Customer Test System"
- apply the results to new dataset based on `all_tickets_2022`

In [669]:
all_individual_with_codebusters_time = all_individual_tasks_2022_time_calculation.loc[all_individual_tasks_2022_time_calculation["Summary"].isin(["Configure", "Review", "Import to Test System", "Import in Production", "Import to Customer Test System", "Import to Staging System"])]

Summarize time for each codebusters subtask

In [670]:
codebusters_time = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()

In [671]:
codebusters_time.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)

In [672]:
codebusters_time.nunique()

1906

In [673]:
codebusters_time

Parent id
174802    0 days 00:01:00
327573   16 days 00:25:00
329036   53 days 01:03:00
330489    0 days 01:04:00
330742   14 days 03:15:00
               ...
454795    0 days 00:00:00
454797    0 days 00:00:00
454808    0 days 00:00:00
454821    0 days 00:00:00
454824    0 days 00:00:00
Name: time_in, Length: 2147, dtype: timedelta64[ns]

In [674]:
codebusters_time.nunique()

1906

In [675]:
all_tickets.shape

(1526, 9)

In [676]:
all_tickets.isnull().sum()

Issue key            0
Issue id             0
Status               0
Reporter             0
Created              0
Due Date             0
Resolved           145
Customer             0
Type of Request      0
dtype: int64

Merge total time on codebusters with all jira ticekts dataset

In [677]:
all_tickets_2022_with_time = pd.merge(all_tickets, codebusters_time, how="left",left_on = "Issue id",right_on = "Parent id")

In [678]:
all_tickets_2022_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,time_in
0,CI-6195,360521,Closed,nsanchez,2022-01-03 09:44:00,06/Jan/22 12:00 AM,2022-01-03 14:50:00,Egis,Incident Request (IR),0 days 04:38:00
1,CI-6203,360637,Closed,nsanchez,2022-01-04 08:33:00,10/Jan/22 12:00 AM,2022-01-05 09:36:00,Egis,Incident Request (IR),1 days 00:40:00
2,CI-6206,360759,Closed,gangelova,2022-01-04 13:43:00,07/Jan/22 12:00 AM,2022-01-05 09:47:00,Expense Development,Service Request (SR),0 days 20:04:00
3,CI-6216,360851,Closed,ngraf,2022-01-04 23:06:00,06/Jan/22 12:00 AM,2022-01-05 10:20:00,Numiga,Incident Request (IR),0 days 10:56:00
4,CI-6218,360869,Closed,yutaka,2022-01-05 06:30:00,14/Jan/22 12:00 AM,2022-01-07 00:49:00,Luther,Incident Request (IR),0 days 07:43:00
...,...,...,...,...,...,...,...,...,...,...
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR),16 days 06:30:00
1522,CI-8244,452543,Communicate,ssanz,2023-03-02 09:48:00,09/Mar/23 12:00 AM,NaT,Allianz,Service Request (SR),7 days 08:32:00
1523,CI-8158,447936,Import in Production,yutaka,2023-02-13 12:17:00,17/Feb/23 12:00 AM,NaT,Continental,Service Request (SR),17 days 18:35:00
1524,CI-8286,454791,Review,yutaka,2023-03-10 01:33:00,17/Mar/23 12:00 AM,NaT,Continental,Service Request (SR),0 days 00:00:00
1525,CI-8287,454795,Review,pthuaud,2023-03-10 04:29:00,17/Mar/23 12:00 AM,NaT,Amadeus,Service Request (SR),0 days 00:00:00

In [679]:
all_tickets_2022_with_time.notnull().sum()

Issue key          1526
Issue id           1526
Status             1526
Reporter           1526
Created            1526
Due Date           1526
Resolved           1381
Customer           1526
Type of Request    1526
time_in            1525
dtype: int64

In [680]:
all_tickets_2022_with_time.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
all_tickets_2022_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,time_on_codebusters
0,CI-6195,360521,Closed,nsanchez,2022-01-03 09:44:00,06/Jan/22 12:00 AM,2022-01-03 14:50:00,Egis,Incident Request (IR),0 days 04:38:00
1,CI-6203,360637,Closed,nsanchez,2022-01-04 08:33:00,10/Jan/22 12:00 AM,2022-01-05 09:36:00,Egis,Incident Request (IR),1 days 00:40:00
2,CI-6206,360759,Closed,gangelova,2022-01-04 13:43:00,07/Jan/22 12:00 AM,2022-01-05 09:47:00,Expense Development,Service Request (SR),0 days 20:04:00
3,CI-6216,360851,Closed,ngraf,2022-01-04 23:06:00,06/Jan/22 12:00 AM,2022-01-05 10:20:00,Numiga,Incident Request (IR),0 days 10:56:00
4,CI-6218,360869,Closed,yutaka,2022-01-05 06:30:00,14/Jan/22 12:00 AM,2022-01-07 00:49:00,Luther,Incident Request (IR),0 days 07:43:00
...,...,...,...,...,...,...,...,...,...,...
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR),16 days 06:30:00
1522,CI-8244,452543,Communicate,ssanz,2023-03-02 09:48:00,09/Mar/23 12:00 AM,NaT,Allianz,Service Request (SR),7 days 08:32:00
1523,CI-8158,447936,Import in Production,yutaka,2023-02-13 12:17:00,17/Feb/23 12:00 AM,NaT,Continental,Service Request (SR),17 days 18:35:00
1524,CI-8286,454791,Review,yutaka,2023-03-10 01:33:00,17/Mar/23 12:00 AM,NaT,Continental,Service Request (SR),0 days 00:00:00
1525,CI-8287,454795,Review,pthuaud,2023-03-10 04:29:00,17/Mar/23 12:00 AM,NaT,Amadeus,Service Request (SR),0 days 00:00:00

In [681]:
all_tickets_2022_with_time.notnull().sum()

Issue key              1526
Issue id               1526
Status                 1526
Reporter               1526
Created                1526
Due Date               1526
Resolved               1381
Customer               1526
Type of Request        1526
time_on_codebusters    1525
dtype: int64

### Determinate time spent outside codebusters

- calculate the total time ticket was in one of the subtask "Explain", "Verify", "Clarify", "Communicate", "Import in Production", "Import to Customer Test System"
- apply the results to new dataset based on `all_tickets_2022`

In [682]:
all_individual_with_others_time = all_individual_tasks_2022_time_calculation.loc[all_individual_tasks_2022_time_calculation["Summary"].isin(["Explain", "Verify", "Clarify", "Communicate"])]

In [683]:
all_individual_with_others_time

,Summary,Issue id,Parent id,Created,Resolved,time_in
1,Communicate,394671,389490,2022-05-30 20:27:00,2022-05-31 09:59:00,0 days 13:32:00
2,Communicate,394670,393625,2022-05-30 20:27:00,2022-05-31 09:04:00,0 days 12:37:00
6,Communicate,394656,370941,2022-05-30 17:01:00,2022-05-30 17:02:00,0 days 00:01:00
8,Verify,394654,370941,2022-05-30 17:01:00,2022-05-30 17:01:00,0 days 00:00:00
10,Verify,394652,370941,2022-05-30 17:01:00,2022-05-30 17:01:00,0 days 00:00:00
...,...,...,...,...,...,...
2175,Verify,438596,437932,2023-01-02 11:29:00,2023-01-02 12:07:00,0 days 00:38:00
2181,Communicate,438581,428346,2023-01-02 10:03:00,2023-01-17 14:55:00,15 days 04:52:00
2182,Communicate,438580,428953,2023-01-02 10:03:00,2023-01-06 01:36:00,3 days 15:33:00
2183,Verify,438578,436035,2023-01-02 09:57:00,2023-01-31 22:01:00,29 days 12:04:00
2187,Communicate,438554,436609,2023-01-02 07:23:00,2023-01-02 08:59:00,0 days 01:36:00

Summarize time for each subtask outside codeubsters

In [684]:
others_time = all_individual_with_others_time.groupby("Parent id")["time_in"].sum()

Summarize time for each subtask outside codeubsters

Merge `all_tickets` with time outisde codebusters column

In [685]:
all_tickets_2022_with_time = pd.merge(all_tickets_2022_with_time, others_time, how="left",left_on = "Issue id",right_on = "Parent id")

In [686]:
all_tickets_2022_with_time.rename({"time_in": "time_outside_codebusters"},axis=1, inplace=True)
all_tickets_2022_with_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,time_on_codebusters,time_outside_codebusters
0,CI-6195,360521,Closed,nsanchez,2022-01-03 09:44:00,06/Jan/22 12:00 AM,2022-01-03 14:50:00,Egis,Incident Request (IR),0 days 04:38:00,0 days 00:28:00
1,CI-6203,360637,Closed,nsanchez,2022-01-04 08:33:00,10/Jan/22 12:00 AM,2022-01-05 09:36:00,Egis,Incident Request (IR),1 days 00:40:00,0 days 00:23:00
2,CI-6206,360759,Closed,gangelova,2022-01-04 13:43:00,07/Jan/22 12:00 AM,2022-01-05 09:47:00,Expense Development,Service Request (SR),0 days 20:04:00,0 days 00:00:00
3,CI-6216,360851,Closed,ngraf,2022-01-04 23:06:00,06/Jan/22 12:00 AM,2022-01-05 10:20:00,Numiga,Incident Request (IR),0 days 10:56:00,0 days 00:18:00
4,CI-6218,360869,Closed,yutaka,2022-01-05 06:30:00,14/Jan/22 12:00 AM,2022-01-07 00:49:00,Luther,Incident Request (IR),0 days 07:43:00,1 days 10:36:00
...,...,...,...,...,...,...,...,...,...,...,...
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR),16 days 06:30:00,0 days 00:00:00
1522,CI-8244,452543,Communicate,ssanz,2023-03-02 09:48:00,09/Mar/23 12:00 AM,NaT,Allianz,Service Request (SR),7 days 08:32:00,0 days 00:00:00
1523,CI-8158,447936,Import in Production,yutaka,2023-02-13 12:17:00,17/Feb/23 12:00 AM,NaT,Continental,Service Request (SR),17 days 18:35:00,7 days 00:51:00
1524,CI-8286,454791,Review,yutaka,2023-03-10 01:33:00,17/Mar/23 12:00 AM,NaT,Continental,Service Request (SR),0 days 00:00:00,NaT
1525,CI-8287,454795,Review,pthuaud,2023-03-10 04:29:00,17/Mar/23 12:00 AM,NaT,Amadeus,Service Request (SR),0 days 00:00:00,NaT

In [687]:
all_tickets_2022_with_time.isnull().sum()

Issue key                     0
Issue id                      0
Status                        0
Reporter                      0
Created                       0
Due Date                      0
Resolved                    145
Customer                      0
Type of Request               0
time_on_codebusters           1
time_outside_codebusters     68
dtype: int64

### Add a column to all tasks with the latest communicate step date
- count "real" close time, bease on the date when ticket was moved to `communicate` step

In [688]:
 all_individual_tasks_2022

,Summary,Issue id,Parent id,Created,Resolved,time_in
0,Import in Production,394675,373630,2022-05-30 22:30:00,2022-06-21 13:17:00,21 days 14:47:00
1,Communicate,394671,389490,2022-05-30 20:27:00,2022-05-31 09:59:00,0 days 13:32:00
2,Communicate,394670,393625,2022-05-30 20:27:00,2022-05-31 09:04:00,0 days 12:37:00
3,Configure,394664,389982,2022-05-30 18:01:00,2022-05-31 14:22:00,0 days 20:21:00
4,Configure,394663,370941,2022-05-30 17:43:00,2022-06-17 13:58:00,17 days 20:15:00
...,...,...,...,...,...,...
2183,Verify,438578,436035,2023-01-02 09:57:00,2023-01-31 22:01:00,29 days 12:04:00
2184,Import to Test System,438577,436035,2023-01-02 09:57:00,2023-01-02 09:57:00,0 days 00:00:00
2185,Configure,438576,436035,2023-01-02 09:57:00,2023-01-02 09:57:00,0 days 00:00:00
2186,Configure,438573,356993,2023-01-02 09:42:00,2023-01-12 09:45:00,10 days 00:03:00
2187,Communicate,438554,436609,2023-01-02 07:23:00,2023-01-02 08:59:00,0 days 01:36:00

In [689]:
summary_duplicates = all_individual_tasks_2022.duplicated(['Summary', 'Parent id'], keep=False)
all_individual_tasks_2022[summary_duplicates].sort_values("Parent id")

,Summary,Issue id,Parent id,Created,Resolved,time_in
448,Verify,392575,327573,2022-05-18 13:20:00,2022-05-18 13:20:00,0 days 00:00:00
2393,Verify,395426,327573,2022-06-03 13:45:00,2022-06-03 13:45:00,0 days 00:00:00
2866,Configure,372862,329036,2022-03-02 13:49:00,2022-04-20 13:03:00,48 days 23:14:00
1279,Import in Production,386022,329036,2022-04-20 13:03:00,2022-04-20 13:04:00,0 days 00:01:00
1278,Communicate,386023,329036,2022-04-20 13:04:00,2022-04-20 13:04:00,0 days 00:00:00
...,...,...,...,...,...,...
78,Verify,454198,453554,2023-03-08 14:30:00,NaT,NaT
121,Verify,453929,453848,2023-03-07 15:23:00,2023-03-07 17:05:00,0 days 01:42:00
84,Verify,454153,453848,2023-03-08 11:52:00,NaT,NaT
73,Review,454256,454255,2023-03-08 15:56:00,2023-03-09 11:23:00,0 days 19:27:00
35,Review,454591,454255,2023-03-09 11:58:00,2023-03-09 12:24:00,0 days 00:26:00

In [690]:
all_individual_tasks_2022_communicate = all_individual_tasks_2022[all_individual_tasks_2022["Summary"] == "Communicate"]
all_individual_tasks_2022_communicate.sort_values("Parent id")

,Summary,Issue id,Parent id,Created,Resolved,time_in
914,Communicate,432840,316466,2022-12-05 15:32:00,NaT,NaT
3250,Communicate,370798,324525,2022-02-18 20:16:00,NaT,NaT
3251,Communicate,370797,326547,2022-02-18 20:14:00,2022-02-18 20:16:00,00:02:00
2391,Communicate,395428,327573,2022-06-03 13:45:00,2022-06-03 13:45:00,00:00:00
1278,Communicate,386023,329036,2022-04-20 13:04:00,2022-04-20 13:04:00,00:00:00
...,...,...,...,...,...,...
275,Communicate,452730,452655,2023-03-02 16:13:00,NaT,NaT
205,Communicate,453143,452791,2023-03-06 02:29:00,NaT,NaT
91,Communicate,454094,453603,2023-03-08 09:35:00,NaT,NaT
41,Communicate,454522,453976,2023-03-09 10:37:00,2023-03-09 16:42:00,06:05:00
28,Communicate,454627,454588,2023-03-09 13:19:00,2023-03-09 13:39:00,00:20:00

In [691]:
all_individual_tasks_2022_communicate.nunique()

Summary         1
Issue id     1874
Parent id    1700
Created      1714
Resolved     1616
time_in      1120
dtype: int64

Drop rows with duplicated `Communicate` subtask and keep only the newest one

In [692]:
all_individual_tasks_2022_communicate.sort_values(["Parent id", "Created"])
all_individual_tasks_2022_communicate_no_duplicates = all_individual_tasks_2022_communicate.drop_duplicates(['Summary', 'Parent id'], keep="last")
# all_individual_tasks_2022_communicate_no_duplicates = all_individual_tasks_2022_communicate
all_individual_tasks_2022_communicate_no_duplicates

,Summary,Issue id,Parent id,Created,Resolved,time_in
2,Communicate,394670,393625,2022-05-30 20:27:00,2022-05-31 09:04:00,0 days 12:37:00
22,Communicate,394578,394215,2022-05-30 15:27:00,2022-06-03 09:53:00,3 days 18:26:00
27,Communicate,394570,393200,2022-05-30 15:09:00,2022-05-30 17:27:00,0 days 02:18:00
29,Communicate,394565,394093,2022-05-30 15:05:00,2022-06-17 03:13:00,17 days 12:08:00
30,Communicate,394559,392974,2022-05-30 14:43:00,2022-06-07 01:58:00,7 days 11:15:00
...,...,...,...,...,...,...
2152,Communicate,438633,437886,2023-01-02 14:09:00,2023-01-11 10:18:00,8 days 20:09:00
2154,Communicate,438631,437810,2023-01-02 13:26:00,2023-01-04 04:59:00,1 days 15:33:00
2181,Communicate,438581,428346,2023-01-02 10:03:00,2023-01-17 14:55:00,15 days 04:52:00
2182,Communicate,438580,428953,2023-01-02 10:03:00,2023-01-06 01:36:00,3 days 15:33:00
2187,Communicate,438554,436609,2023-01-02 07:23:00,2023-01-02 08:59:00,0 days 01:36:00

In [693]:
all_tickets_2022_with_time_and_cummunicate_date = pd.merge(all_tickets_2022_with_time, all_individual_tasks_2022_communicate_no_duplicates[['Parent id','Created']], how="left",left_on = "Issue id",right_on = "Parent id").drop(columns=["Parent id"])
all_tickets_2022_with_time_and_cummunicate_date.rename({"Created_y": "comminicate_created"},axis=1, inplace=True)
all_tickets_2022_with_time_and_cummunicate_date

,Issue key,Issue id,Status,Reporter,Created_x,Due Date,Resolved,Customer,Type of Request,time_on_codebusters,time_outside_codebusters,comminicate_created
0,CI-6195,360521,Closed,nsanchez,2022-01-03 09:44:00,06/Jan/22 12:00 AM,2022-01-03 14:50:00,Egis,Incident Request (IR),0 days 04:38:00,0 days 00:28:00,NaT
1,CI-6203,360637,Closed,nsanchez,2022-01-04 08:33:00,10/Jan/22 12:00 AM,2022-01-05 09:36:00,Egis,Incident Request (IR),1 days 00:40:00,0 days 00:23:00,2022-01-05 09:13:00
2,CI-6206,360759,Closed,gangelova,2022-01-04 13:43:00,07/Jan/22 12:00 AM,2022-01-05 09:47:00,Expense Development,Service Request (SR),0 days 20:04:00,0 days 00:00:00,2022-01-05 09:47:00
3,CI-6216,360851,Closed,ngraf,2022-01-04 23:06:00,06/Jan/22 12:00 AM,2022-01-05 10:20:00,Numiga,Incident Request (IR),0 days 10:56:00,0 days 00:18:00,2022-01-05 10:20:00
4,CI-6218,360869,Closed,yutaka,2022-01-05 06:30:00,14/Jan/22 12:00 AM,2022-01-07 00:49:00,Luther,Incident Request (IR),0 days 07:43:00,1 days 10:36:00,2022-01-05 14:13:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR),16 days 06:30:00,0 days 00:00:00,2023-03-09 18:04:00
1522,CI-8244,452543,Communicate,ssanz,2023-03-02 09:48:00,09/Mar/23 12:00 AM,NaT,Allianz,Service Request (SR),7 days 08:32:00,0 days 00:00:00,2023-03-09 18:20:00
1523,CI-8158,447936,Import in Production,yutaka,2023-02-13 12:17:00,17/Feb/23 12:00 AM,NaT,Continental,Service Request (SR),17 days 18:35:00,7 days 00:51:00,2023-03-02 14:25:00
1524,CI-8286,454791,Review,yutaka,2023-03-10 01:33:00,17/Mar/23 12:00 AM,NaT,Continental,Service Request (SR),0 days 00:00:00,NaT,NaT
1525,CI-8287,454795,Review,pthuaud,2023-03-10 04:29:00,17/Mar/23 12:00 AM,NaT,Amadeus,Service Request (SR),0 days 00:00:00,NaT,NaT

Drop rows without `communicate_create`, we are taking in to consideration only completed tickets

In [694]:
all_tickets_2022_with_time_and_cummunicate_date.isnull().sum()

Issue key                     0
Issue id                      0
Status                        0
Reporter                      0
Created_x                     0
Due Date                      0
Resolved                    145
Customer                      0
Type of Request               0
time_on_codebusters           1
time_outside_codebusters     68
comminicate_created         289
dtype: int64

In [695]:
all_tickets_2022_with_time_and_cummunicate_date.nunique()

Issue key                   1526
Issue id                    1526
Status                        10
Reporter                      57
Created_x                   1517
Due Date                     318
Resolved                    1271
Customer                      87
Type of Request                2
time_on_codebusters         1422
time_outside_codebusters    1156
comminicate_created         1177
dtype: int64

In [696]:
500 - 145

355

In [697]:
all_tickets_2022_with_time_and_cummunicate_date.dropna(subset=['comminicate_created'], how="any", inplace=True)

In [698]:
all_tickets_2022_with_time_and_cummunicate_date

,Issue key,Issue id,Status,Reporter,Created_x,Due Date,Resolved,Customer,Type of Request,time_on_codebusters,time_outside_codebusters,comminicate_created
1,CI-6203,360637,Closed,nsanchez,2022-01-04 08:33:00,10/Jan/22 12:00 AM,2022-01-05 09:36:00,Egis,Incident Request (IR),1 days 00:40:00,0 days 00:23:00,2022-01-05 09:13:00
2,CI-6206,360759,Closed,gangelova,2022-01-04 13:43:00,07/Jan/22 12:00 AM,2022-01-05 09:47:00,Expense Development,Service Request (SR),0 days 20:04:00,0 days 00:00:00,2022-01-05 09:47:00
3,CI-6216,360851,Closed,ngraf,2022-01-04 23:06:00,06/Jan/22 12:00 AM,2022-01-05 10:20:00,Numiga,Incident Request (IR),0 days 10:56:00,0 days 00:18:00,2022-01-05 10:20:00
4,CI-6218,360869,Closed,yutaka,2022-01-05 06:30:00,14/Jan/22 12:00 AM,2022-01-07 00:49:00,Luther,Incident Request (IR),0 days 07:43:00,1 days 10:36:00,2022-01-05 14:13:00
5,CI-6217,360859,Closed,yutaka,2022-01-05 03:04:00,07/Jan/22 12:00 AM,2022-01-07 10:48:00,Grupo Red Electrica,Service Request (SR),3 days 05:59:00,0 days 00:00:00,2022-01-07 10:48:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1497,CI-8223,450795,Communicate,achattopadhyay,2023-02-23 10:47:00,09/Mar/23 12:00 AM,NaT,Vaillant,Service Request (SR),13 days 20:21:00,0 days 00:43:00,2023-03-09 07:51:00
1509,CI-8163,448077,Communicate,yutaka,2023-02-14 01:54:00,21/Feb/23 12:00 AM,NaT,Continental,Service Request (SR),18 days 02:40:00,4 days 03:26:00,2023-03-06 12:52:00
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR),16 days 06:30:00,0 days 00:00:00,2023-03-09 18:04:00
1522,CI-8244,452543,Communicate,ssanz,2023-03-02 09:48:00,09/Mar/23 12:00 AM,NaT,Allianz,Service Request (SR),7 days 08:32:00,0 days 00:00:00,2023-03-09 18:20:00
1523,CI-8158,447936,Import in Production,yutaka,2023-02-13 12:17:00,17/Feb/23 12:00 AM,NaT,Continental,Service Request (SR),17 days 18:35:00,7 days 00:51:00,2023-03-02 14:25:00

**Summary:**
- rows with null value are droped
- we take into consideration only completed tickets

In [699]:
all_tickets_2022_with_time_and_cummunicate_date.sort_values('Created_x')

,Issue key,Issue id,Status,Reporter,Created_x,Due Date,Resolved,Customer,Type of Request,time_on_codebusters,time_outside_codebusters,comminicate_created
137,CI-6194,360510,Closed,nsanchez,2022-01-03 08:55:00,10/Jan/22 12:00 AM,2022-02-25 11:20:00,Allianz,Service Request (SR),10 days 05:07:00,42 days 21:18:00,2022-02-24 14:06:00
9,CI-6196,360541,Closed,aruizrobles,2022-01-03 11:09:00,10/Jan/22 12:00 AM,2022-01-12 13:05:00,Numiga,Service Request (SR),3 days 09:46:00,5 days 16:10:00,2022-01-11 13:30:00
14,CI-6198,360615,Closed,yutaka,2022-01-04 04:53:00,14/Jan/22 12:00 AM,2022-01-14 09:11:00,msg systems,Service Request (SR),1 days 21:36:00,9 days 05:30:00,2022-01-05 03:41:00
72,CI-6199,360621,Closed,yutaka,2022-01-04 05:49:00,14/Jan/22 12:00 AM,2022-02-05 02:54:00,Endress Hauser,Service Request (SR),26 days 20:43:00,5 days 00:21:00,2022-02-02 11:19:00
1,CI-6203,360637,Closed,nsanchez,2022-01-04 08:33:00,10/Jan/22 12:00 AM,2022-01-05 09:36:00,Egis,Incident Request (IR),1 days 00:40:00,0 days 00:23:00,2022-01-05 09:13:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1410,CI-8246,452655,Communicate,renukadevi,2023-03-02 12:14:00,03/Mar/23 12:00 AM,NaT,Eberspacher,Service Request (SR),0 days 03:59:00,0 days 00:00:00,2023-03-02 16:13:00
1398,CI-8251,452791,Communicate,yutaka,2023-03-03 05:27:00,10/Mar/23 12:00 AM,NaT,Endress Hauser,Service Request (SR),2 days 21:02:00,0 days 00:00:00,2023-03-06 02:29:00
1477,CI-8272,453603,Communicate,yutaka,2023-03-07 02:13:00,21/Mar/23 12:00 AM,NaT,Spiegel,Service Request (SR),1 days 07:22:00,0 days 00:00:00,2023-03-08 09:35:00
1378,CI-8275,453976,Closed,aruizrobles,2023-03-07 16:47:00,08/Mar/23 12:00 AM,2023-03-09 16:42:00,Conovum,Service Request (SR),1 days 14:09:00,0 days 09:46:00,2023-03-09 10:37:00
1377,CI-8281,454588,Closed,rohkamm,2023-03-09 11:53:00,09/Mar/23 12:00 AM,2023-03-09 13:39:00,Allianz,Incident Request (IR),0 days 01:26:00,0 days 00:20:00,2023-03-09 13:19:00

In [713]:
all_tickets_2022_with_time_and_cummunicate_date.to_csv('all_tickets_combined.csv', index=False)

In [701]:
all_individual_tasks_2022_communicate_no_duplicates.nunique()

Summary         1
Issue id     1700
Parent id    1700
Created      1555
Resolved     1464
time_in      1008
dtype: int64

## Data Analysis

### Compare the size of the created data sets
- compare the size of each datasests, in order to verify v

In [702]:
all_tickets.nunique()

Issue key          1526
Issue id           1526
Status               10
Reporter             57
Created            1517
Due Date            318
Resolved           1271
Customer             87
Type of Request       2
dtype: int64

In [703]:
all_tickets.isnull().sum()

Issue key            0
Issue id             0
Status               0
Reporter             0
Created              0
Due Date             0
Resolved           145
Customer             0
Type of Request      0
dtype: int64

In [704]:
all_resolved_null = all_tickets[all_tickets['Resolved'].isnull()]
all_resolved_null

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request
1381,CI-7788,431813,Review,yutaka,2022-12-01 01:54:00,08/Dec/22 12:00 AM,NaT,Amadeus,Service Request (SR)
1382,CI-7570,421807,Configure,salajan,2022-10-18 09:52:00,18/Oct/22 12:00 AM,NaT,i:FAO,Service Request (SR)
1383,CI-7467,417462,Configure,hilbich,2022-09-28 08:23:00,05/Oct/22 12:00 AM,NaT,Amadeus,Incident Request (IR)
1384,CI-7460,417190,Configure,hilbich,2022-09-27 08:19:00,04/Oct/22 12:00 AM,NaT,Continental,Incident Request (IR)
1385,CI-7550,420892,Review,yutaka,2022-10-12 17:05:00,19/Oct/22 12:00 AM,NaT,Hugo Boss,Service Request (SR)
...,...,...,...,...,...,...,...,...,...
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR)
1522,CI-8244,452543,Communicate,ssanz,2023-03-02 09:48:00,09/Mar/23 12:00 AM,NaT,Allianz,Service Request (SR)
1523,CI-8158,447936,Import in Production,yutaka,2023-02-13 12:17:00,17/Feb/23 12:00 AM,NaT,Continental,Service Request (SR)
1524,CI-8286,454791,Review,yutaka,2023-03-10 01:33:00,17/Mar/23 12:00 AM,NaT,Continental,Service Request (SR)
1525,CI-8287,454795,Review,pthuaud,2023-03-10 04:29:00,17/Mar/23 12:00 AM,NaT,Amadeus,Service Request (SR)

In [705]:
all_resolved_null[all_resolved_null['Issue id'] == 450084]

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR)

In [706]:
all_tickets_2022_with_time_and_cummunicate_date.nunique()

Issue key                   1237
Issue id                    1237
Status                         4
Reporter                      54
Created_x                   1232
Due Date                     298
Resolved                    1099
Customer                      84
Type of Request                2
time_on_codebusters         1202
time_outside_codebusters    1051
comminicate_created         1177
dtype: int64

In [707]:
all_tickets_2022_with_time_and_cummunicate_date[all_tickets_2022_with_time_and_cummunicate_date['Issue id'] == 450084]

,Issue key,Issue id,Status,Reporter,Created_x,Due Date,Resolved,Customer,Type of Request,time_on_codebusters,time_outside_codebusters,comminicate_created
1521,CI-8206,450084,Communicate,mkuchciak,2023-02-21 11:34:00,24/Mar/23 12:00 AM,NaT,Customer not yet listed,Service Request (SR),16 days 06:30:00,0 days,2023-03-09 18:04:00

In [708]:
all_individual_tasks_2022_communicate_no_duplicates.nunique()

Summary         1
Issue id     1700
Parent id    1700
Created      1555
Resolved     1464
time_in      1008
dtype: int64

In [709]:
all_individual_tasks_2022_origin[all_individual_tasks_2022_origin['Parent id'] == 450084]

,Summary,Issue id,Parent id,Created,Resolved,time_in
17,Communicate,454774,450084,2023-03-09 18:04:00,NaT,NaT
87,Import to Test System,454140,450084,2023-03-08 11:19:00,2023-03-09 18:04:00,1 days 06:45:00
169,Configure,453470,450084,2023-03-06 13:08:00,2023-03-08 11:19:00,1 days 22:11:00
625,Review,450085,450084,2023-02-21 11:34:00,2023-03-06 13:08:00,13 days 01:34:00

In [710]:
all_individual_tasks_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13207 entries, 0 to 2187
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    13207 non-null  object
 1   Issue id   13207 non-null  int64
 2   Parent id  13207 non-null  int64
 3   Created    13207 non-null  datetime64[ns]
 4   Resolved   12899 non-null  datetime64[ns]
 5   time_in    12899 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int64(2), object(1), timedelta64[ns](1)
memory usage: 722.3+ KB

**Summary:**
- We should receive inside `all_individual_tasks_2022_communicate_no_duplicates` 1372 rows not 1297

# To Do:
- invesitigate discrepency between datasests: `codebusters_time`(1798 rows),  `others_time` (1672 rows), `all_tickets_2022` (1699 rows)

### Investigate discrepency between size of the datases

- We should receive inside all_individual_tasks_2022_communicate_no_duplicates 1372 rows not 1297

In [711]:
duplucated_communicate = all_individual_tasks_2022_communicate.duplicated(['Summary', 'Parent id'])
all_individual_tasks_2022_communicate[duplucated_communicate]

,Summary,Issue id,Parent id,Created,Resolved,time_in
274,Communicate,393518,392675,2022-05-24 11:27:00,2022-05-26 09:57:00,1 days 22:30:00
428,Communicate,392640,386623,2022-05-18 15:46:00,2022-05-19 11:51:00,0 days 20:05:00
502,Communicate,392241,390348,2022-05-17 14:11:00,2022-05-17 14:17:00,0 days 00:06:00
542,Communicate,391728,390324,2022-05-17 01:56:00,2022-05-17 09:25:00,0 days 07:29:00
744,Communicate,389611,388774,2022-05-11 08:14:00,2022-05-11 10:59:00,0 days 02:45:00
...,...,...,...,...,...,...
2008,Communicate,439477,438853,2023-01-05 17:01:00,2023-01-09 13:04:00,3 days 20:03:00
2034,Communicate,439240,439050,2023-01-05 08:58:00,2023-01-18 17:37:00,13 days 08:39:00
2051,Communicate,439140,407702,2023-01-04 16:02:00,2023-01-17 15:55:00,12 days 23:53:00
2054,Communicate,439124,433411,2023-01-04 14:46:00,2023-01-06 01:33:00,1 days 10:47:00
2076,Communicate,439030,433426,2023-01-04 10:45:00,2023-01-19 05:41:00,14 days 18:56:00

## Investigate different columns with the tickets age

- check the useful KPIs

In [712]:
all_tickets_2022_updated.head(-5)

NameError: name 'all_tickets_2022_updated' is not defined

In [ ]:
all_tickets_2022_updated[all_tickets_2022_updated['Issue key'] == 'CI-7689']

In [ ]:
all_tickets_2022_updated['age_till_communicate_hours'].describe()

In [ ]:
all_tickets_2022_updated.to_csv('all_tickets_2022_updated.csv')