# Codebusters KPIs and Other Usefull Patterns

## import libraries

In [36]:
import pandas as pd
import numpy as np

Import and clean `all_tickets_2022` data set 
- remove unnecessary columns
- rename columns

# Prepare data with all tickets

### Import all service request

Tickets are taken from the following jira filter:<br/> `project = CI AND issuetype in (standardIssueTypes(), "Expense Delivery") AND "Epic Link" is EMPTY AND "Case Number/s" is not EMPTY AND cf[14125] in ("Service Request (SR)") AND resolved is not EMPTY AND resolutiondate >= 2022-12-19 and resolutiondate <= 2023-01-08`

In [37]:
all_sr_origin = pd.read_csv('../../DataSets/KPIs/MainTickets/all_service_requests.csv')
all_sr_origin

,Summary,Issue key,Issue id,Issue Type,Status,Project key,Project name,Project type,Project lead,Project description,...,Comment.18,Comment.19,Comment.20,Comment.21,Comment.22,Comment.23,Comment.24,Comment.25,Comment.26,Comment.27
0,Rehau - Add EDI number Airplus,CI-8574,468635,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Numiga VFL Wolfsburg - Remove a receipt,CI-8568,468149,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,oebb: correct perdiem/EMS,CI-8560,467735,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hensoldt - Update Approval notification mail,CI-8554,467243,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,vw-cso: activate bing map in itinerary section,CI-8552,467085,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,Aquila Capital - Expense issue with export and...,CI-6926,393799,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,04/Aug/22 10:36 AM;gmalarski;Export path added...,27/Jan/23 7:54 PM;raphose;SR is closed since A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,VW - Splitting of approval for expense statements,CI-6911,393585,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,Porsche - Adjustment of approval process for n...,CI-6901,393357,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,Hugo Boss - add 3 new meal receipt types for t...,CI-6825,389774,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,Replace deprecate method setReceiptTypeList in...,CI-5953,349721,Expense Delivery,Closed,CI,codebusters,software,rohkamm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Select from the dataset only columns necessary for the further analysis

In [38]:
all_sr = all_sr_origin[['Issue key', 'Issue id', 'Status', 'Reporter', 'Created', 'Due Date', 'Resolved', 'Custom field (Customer/s)','Custom field (Type of Request)']]
all_sr.rename({"Custom field (Customer/s)": "Customer", "Custom field (Type of Request)":"Type of Request"},axis=1, inplace=True)

C:\Users\gmalarski\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [39]:
all_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        314 non-null    object
 1   Issue id         314 non-null    int64
 2   Status           314 non-null    object
 3   Reporter         314 non-null    object
 4   Created          314 non-null    object
 5   Due Date         314 non-null    object
 6   Resolved         314 non-null    object
 7   Customer         314 non-null    object
 8   Type of Request  314 non-null    object
dtypes: int64(1), object(8)
memory usage: 22.2+ KB

In [40]:
all_sr.isnull().sum()

Issue key          0
Issue id           0
Status             0
Reporter           0
Created            0
Due Date           0
Resolved           0
Customer           0
Type of Request    0
dtype: int64

### Convert date table to `datetime` object

In [41]:
all_sr["Created"] = pd.to_datetime(all_sr["Created"])
all_sr["Resolved"] = pd.to_datetime(all_sr["Resolved"])

<ipython-input-41-40075430d991>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr["Created"] = pd.to_datetime(all_sr["Created"])
<ipython-input-41-40075430d991>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sr["Resolved"] = pd.to_datetime(all_sr["Resolved"])

In [42]:
all_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Issue key        314 non-null    object
 1   Issue id         314 non-null    int64
 2   Status           314 non-null    object
 3   Reporter         314 non-null    object
 4   Created          314 non-null    datetime64[ns]
 5   Due Date         314 non-null    object
 6   Resolved         314 non-null    datetime64[ns]
 7   Customer         314 non-null    object
 8   Type of Request  314 non-null    object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 22.2+ KB

**Summary**
- there is not SR ticket without `resolved` date
- there is no `null` value in any of the column
- date type columns converted to `datetime` object in order to make calculucations on these columns

# Prepare data with individuals tasks for service requests

## Import and clean `all_individual_tasks` data set 
- we are not able to downaload full data becuase of jira limitation, therefore we need to combine data from differen periods
- remove unnecessary columns
- replace missing `date` values with 0
- drop rows with "null" values

In [43]:
individual_part_1 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from20220101_till_2022_05_31.csv')
individual_part_2 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from_20220601_till_20220831.csv')
individual_part_3 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from_20220901_till_20221231.csv')
individual_part_4 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from20230101_till_20230310.csv')
individual_part_5 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from20230311_till_20230417.csv')
individual_part_5 = pd.read_csv('../../DataSets/KPIs/IndividualTasks/from20230418_till_20230511.csv')


all_individual_tasks_combined = pd.concat([individual_part_1, individual_part_2, individual_part_3, individual_part_4, individual_part_5], axis=0)
all_individual_tasks_combined

C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (25,29,30,31,42,43,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21,35,36,74,77,215,216,217,218,249,286,287) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\gmalarski\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (25,215,216,217,218,219,220,221,222,223,224,225) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Component/s,Custom field (Customer/s),Sprint.35,Sprint.36,Custom field (Priority Index),Custom field (Remaining Story Points)
0,Import in Production,CI-10217127,394675,373630,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Communicate,CI-10217126,394671,389490,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Communicate,CI-10217125,394670,393625,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Configure,CI-10217121,394664,389982,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Configure,CI-10217120,394663,370941,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,Explain,CI-10237898,465501,465496,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
861,Review,CI-10237897,465500,465499,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,Review,CI-10237896,465497,465496,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,Review,CI-10237895,465494,465493,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,Review,CI-10237894,465492,465491,Individual Task,Done,CI,codebusters,software,rohkamm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Reset indexex of a combined dataset </br>
Indexes of a new dataset are not appropriate, we need to apply `reset_index` method in order to match them with the number of rows

In [44]:
all_individual_tasks_combined.reset_index(inplace=True)
all_individual_tasks_combined

,index,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,...,Custom field (arctic QA Findings),Custom field (cytric Stability Findings),Comment,Comment.1,Component/s,Custom field (Customer/s),Sprint.35,Sprint.36,Custom field (Priority Index),Custom field (Remaining Story Points)
0,0,Import in Production,CI-10217127,394675,373630,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Communicate,CI-10217126,394671,389490,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Communicate,CI-10217125,394670,393625,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Configure,CI-10217121,394664,389982,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Configure,CI-10217120,394663,370941,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14067,860,Explain,CI-10237898,465501,465496,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14068,861,Review,CI-10237897,465500,465499,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14069,862,Review,CI-10237896,465497,465496,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14070,863,Review,CI-10237895,465494,465493,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14071,864,Review,CI-10237894,465492,465491,Individual Task,Done,CI,codebusters,software,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Filter columns and select only the ones needed for further calculations

In [45]:
all_individual_tasks_2022 = all_individual_tasks_combined[['Summary','Issue id', 'Parent id', 'Created', 'Resolved']]

Drop columns with missing values

In [46]:
# all_individual_tasks_2022.dropna(inplace=True)

### Convert date like columns to `datetime` object

In [47]:
all_individual_tasks_2022["Created"] = pd.to_datetime(all_individual_tasks_2022["Created"])
all_individual_tasks_2022["Resolved"] = pd.to_datetime(all_individual_tasks_2022["Resolved"])
all_individual_tasks_2022.info()

<ipython-input-47-00e4628fe922>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_2022["Created"] = pd.to_datetime(all_individual_tasks_2022["Created"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14072 entries, 0 to 14071
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    14072 non-null  object
 1   Issue id   14072 non-null  int64
 2   Parent id  14072 non-null  int64
 3   Created    14072 non-null  datetime64[ns]
 4   Resolved   13635 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 549.8+ KB

<ipython-input-47-00e4628fe922>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_2022["Resolved"] = pd.to_datetime(all_individual_tasks_2022["Resolved"])

In [48]:
all_individual_tasks_2022['Summary'].value_counts()

Configure                         2501
Review                            2496
Verify                            2191
Communicate                       2009
Import to Test System             1822
Import in Production              1688
Import to Customer Test System     629
Explain                            333
Import to Staging System           161
Clarify                            158
Do                                  73
Marcin Training                      2
Michał Training                      2
Maciej Training                      2
CLONE - Review                       1
Bartosz Training                     1
Training - Maciej                    1
Import to Test/Staging               1
Training - Marcin                    1
Name: Summary, dtype: int64

### Check if there are any `null` values

In [49]:
all_individual_tasks_2022.isnull().sum()

Summary        0
Issue id       0
Parent id      0
Created        0
Resolved     437
dtype: int64

### Drop all rows with null value

In [50]:
all_individual_tasks_2022.dropna(inplace=True)
all_individual_tasks_2022.isnull().sum()

<ipython-input-50-ff50a85e03df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_2022.dropna(inplace=True)

Summary      0
Issue id     0
Parent id    0
Created      0
Resolved     0
dtype: int64

**Summary:**

- We are interested only in completed tickets so we have droped rows which contain `null` in `resolved` columns
- Data is filtered and cleaned we are ready for analysis part

# Data Analysis

## Daterminate how long each ticket was in particular individual task

- calculate time for eacch subtask
- calculate how long the ticket was in review, configure, verify, import.., communicate steps
- calcualte the total eg. sum all time spend in verify for one ticket

### Calculate time spent for each of the subtask

In [51]:
all_individual_tasks_2022_time_calculation = all_individual_tasks_2022
all_individual_tasks_2022_time_calculation["time_in"] = all_individual_tasks_2022_time_calculation["Resolved"] - all_individual_tasks_2022_time_calculation["Created"]

<ipython-input-51-ecf7dda40514>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_individual_tasks_2022_time_calculation["time_in"] = all_individual_tasks_2022_time_calculation["Resolved"] - all_individual_tasks_2022_time_calculation["Created"]

In [52]:
all_individual_tasks_2022_time_calculation.loc[all_individual_tasks_2022_time_calculation["Parent id"] == 438382]

,Summary,Issue id,Parent id,Created,Resolved,time_in
7276,Review,438383,438382,2022-12-29 14:47:00,2023-01-04 11:44:00,5 days 20:57:00
13090,Configure,439046,438382,2023-01-04 11:44:00,2023-01-04 11:44:00,0 days 00:00:00

### List all available statuses of the CI ticket subtask

In [53]:
all_individual_tasks_2022_time_calculation["Summary"].value_counts()

Configure                         2449
Review                            2356
Verify                            2116
Communicate                       1914
Import to Test System             1812
Import in Production              1666
Import to Customer Test System     608
Explain                            327
Import to Staging System           161
Clarify                            153
Do                                  63
Marcin Training                      2
Michał Training                      2
Maciej Training                      2
Bartosz Training                     1
Training - Maciej                    1
Import to Test/Staging               1
Training - Marcin                    1
Name: Summary, dtype: int64

### Calculate time ticket was in review step

In [54]:
all_individual_tasks_reivew_time = all_individual_tasks_2022[all_individual_tasks_2022['Summary'] == 'Review']
all_individual_tasks_reivew_time

,Summary,Issue id,Parent id,Created,Resolved,time_in
5,Review,394662,370941,2022-05-30 17:42:00,2022-05-30 17:43:00,0 days 00:01:00
49,Review,394479,394478,2022-05-30 10:37:00,2022-06-01 15:58:00,2 days 05:21:00
70,Review,394391,394390,2022-05-30 04:46:00,2022-05-31 08:28:00,1 days 03:42:00
77,Review,394271,394270,2022-05-27 14:42:00,2022-05-27 16:12:00,0 days 01:30:00
89,Review,394220,394219,2022-05-27 13:03:00,2022-05-27 13:59:00,0 days 00:56:00
...,...,...,...,...,...,...
14066,Review,465502,465496,2023-04-18 04:34:00,2023-04-18 04:35:00,0 days 00:01:00
14068,Review,465500,465499,2023-04-18 04:31:00,2023-04-18 04:36:00,0 days 00:05:00
14069,Review,465497,465496,2023-04-18 04:16:00,2023-04-18 04:31:00,0 days 00:15:00
14070,Review,465494,465493,2023-04-18 02:16:00,2023-05-09 18:08:00,21 days 15:52:00
14071,Review,465492,465491,2023-04-18 01:18:00,2023-05-03 09:14:00,15 days 07:56:00

### Grup tickets by the `Parent id` and sum total time spent in this subtask

In [57]:
all_individual_tasks_reivew_no_null.loc[all_individual_tasks_reivew_no_null["Parent id"] == 345462]

,Summary,Issue id,Parent id,Created,Resolved,time_in_review
2906,Review,372651,345462,2022-03-02 02:19:00,2022-03-07 09:30:00,5 days 07:11:00
2994,Review,372082,345462,2022-02-25 15:05:00,2022-02-28 09:17:00,2 days 18:12:00

### Check on the particular ticket if the total time is summed correctly

In [79]:
all_individual_tasks_reivew_no_null.groupby("Parent id").count()

           Summary  Issue id  Created  Resolved  time_in_review
Parent id
174802           1         1        1         1               1
329036           1         1        1         1               1
336670           1         1        1         1               1
338553           1         1        1         1               1
345462           2         2        2         2               2
...            ...       ...      ...       ...             ...
471134           1         1        1         1               1
471138           1         1        1         1               1
471236           1         1        1         1               1
471244           1         1        1         1               1
471309           1         1        1         1               1

[2061 rows x 5 columns]

In [59]:
all_individual_tasks_reivew_no_null_sum = all_individual_tasks_reivew_no_null.groupby("Parent id")["time_in_review"].sum()
all_individual_tasks_reivew_no_null_sum

Parent id
174802     0 days 00:01:00
329036     0 days 00:00:00
336670     0 days 00:01:00
338553   238 days 13:36:00
345462     8 days 01:23:00
                ...
471134     0 days 18:55:00
471138     0 days 19:37:00
471236     0 days 00:21:00
471244     0 days 00:01:00
471309     0 days 00:00:00
Name: time_in_review, Length: 2061, dtype: timedelta64[ns]

In [76]:
all_individual_tasks_reivew_no_null_sum_df = all_individual_tasks_reivew_no_null_sum.to_frame()
all_individual_tasks_reivew_no_null_sum_df.reset_index(inplace=True)
all_individual_tasks_reivew_no_null_sum_df

      Parent id    time_in_review
0        174802   0 days 00:01:00
1        329036   0 days 00:00:00
2        336670   0 days 00:01:00
3        338553 238 days 13:36:00
4        345462   8 days 01:23:00
...         ...               ...
2056     471134   0 days 18:55:00
2057     471138   0 days 19:37:00
2058     471236   0 days 00:21:00
2059     471244   0 days 00:01:00
2060     471309   0 days 00:00:00

[2061 rows x 2 columns]

In [77]:
all_individual_tasks_reivew_no_null_sum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Parent id       2061 non-null   int64
 1   time_in_review  2061 non-null   timedelta64[ns]
dtypes: int64(1), timedelta64[ns](1)
memory usage: 32.3 KB

In [78]:
all_individual_tasks_reivew_no_null_sum_df.loc[all_individual_tasks_reivew_no_null_sum_df["Parent id"] == 345462]

   Parent id  time_in_review
4     345462 8 days 01:23:00

In [80]:
all_individual_tasks_reivew_no_null_sum_df.rename({"time_in": "time_in_review"},axis=1, inplace=True)

In [81]:
all_individual_tasks_reivew_no_null_sum_df

      Parent id    time_in_review
0        174802   0 days 00:01:00
1        329036   0 days 00:00:00
2        336670   0 days 00:01:00
3        338553 238 days 13:36:00
4        345462   8 days 01:23:00
...         ...               ...
2056     471134   0 days 18:55:00
2057     471138   0 days 19:37:00
2058     471236   0 days 00:21:00
2059     471244   0 days 00:01:00
2060     471309   0 days 00:00:00

[2061 rows x 2 columns]

In [82]:
all_sr_review_time = pd.merge(all_sr, all_individual_tasks_reivew_no_null_sum_df[['Parent id', 'time_in_review']], how="left",left_on = "Issue id",right_on = "Parent id")
all_sr_review_time

,Issue key,Issue id,Status,Reporter,Created,Due Date,Resolved,Customer,Type of Request,Parent id,time_in_review
0,CI-8574,468635,Closed,yutaka,2023-04-28 03:47:00,01/May/23 12:00 AM,2023-05-08 16:08:00,Rehau,Service Request (SR),468635.0,0 days 00:24:00
1,CI-8568,468149,Closed,aruizrobles,2023-04-26 15:30:00,03/May/23 12:00 AM,2023-05-04 17:55:00,Numiga,Service Request (SR),468149.0,1 days 23:16:00
2,CI-8560,467735,Closed,nsanchez,2023-04-25 11:57:00,08/May/23 12:00 AM,2023-05-08 14:02:00,OBB,Service Request (SR),467735.0,6 days 20:24:00
3,CI-8554,467243,Closed,yutaka,2023-04-24 06:44:00,08/May/23 12:00 AM,2023-05-10 04:06:00,Hensoldt,Service Request (SR),467243.0,0 days 00:00:00
4,CI-8552,467085,Closed,nsanchez,2023-04-21 14:58:00,27/Apr/23 12:00 AM,2023-05-08 13:46:00,VW,Service Request (SR),467085.0,6 days 21:53:00
...,...,...,...,...,...,...,...,...,...,...,...
309,CI-6926,393799,Closed,aklabisz,2022-05-25 12:42:00,12/Jul/22 12:00 AM,2023-01-27 19:53:00,Aquila Capital,Service Request (SR),393799.0,38 days 18:52:00
310,CI-6911,393585,Closed,aklabisz,2022-05-24 15:11:00,11/Aug/22 12:00 AM,2023-01-24 10:33:00,VW,Service Request (SR),393585.0,24 days 12:21:00
311,CI-6901,393357,Closed,aklabisz,2022-05-23 13:21:00,30/May/22 12:00 AM,2023-03-21 13:06:00,Porsche,Service Request (SR),393357.0,28 days 01:38:00
312,CI-6825,389774,Closed,aklabisz,2022-05-11 11:16:00,16/May/22 12:00 AM,2023-01-24 12:32:00,Hugo Boss,Service Request (SR),389774.0,8 days 14:12:00
313,CI-5953,349721,Closed,wiedenroth,2021-11-05 17:04:00,03/Dec/21 12:00 AM,2023-04-11 09:04:00,Allianz,Service Request (SR),349721.0,0 days 00:02:00

In [83]:
all_sr_review_time.isnull().sum()

Issue key           0
Issue id            0
Status              0
Reporter            0
Created             0
Due Date            0
Resolved            0
Customer            0
Type of Request     0
Parent id          66
time_in_review     66
dtype: int64

# TO DO
- investigate ticket with null rows

### Determinate time spent on codebusters

- calculate the total time ticket was in subtasks "Configure", "Review", "mport to Test System", "Import in Production", "Import to Customer Test System"
- apply the results to new dataset based on `all_tickets_2022`

In [ ]:
all_individual_with_codebusters_time = all_individual_tasks_2022_time_calculation.loc[all_individual_tasks_2022_time_calculation["Summary"].isin(["Configure", "Review", "Import to Test System", "Import in Production", "Import to Customer Test System", "Import to Test", "Import to Staging System"])]

Summarize time for each codebusters subtask

In [ ]:
codebusters_time = all_individual_with_codebusters_time.groupby("Parent id")["time_in"].sum()

In [ ]:
codebusters_time.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)

In [ ]:
codebusters_time

In [ ]:
codebusters_time.isnull().sum()

In [ ]:
all_tickets.shape

In [ ]:
all_tickets.isnull().sum()

Merge total time on codebusters with all jira ticekts dataset

In [ ]:
all_tickets_with_codebusters_time = pd.merge(all_tickets_without_null, codebusters_time, how="left",left_on = "Issue id",right_on = "Parent id")

In [ ]:
all_tickets_with_codebusters_time

In [ ]:
all_tickets_with_codebusters_time.rename({"time_in": "time_on_codebusters"},axis=1, inplace=True)
all_tickets_with_codebusters_time

In [ ]:
all_tickets_with_codebusters_time.notnull().sum()

### Determinate time spent outside codebusters

- calculate the total time ticket was in one of the subtask "Explain", "Verify", "Clarify", "Communicate", "Import in Production", "Import to Customer Test System"
- apply the results to new dataset based on `all_tickets_2022`

In [ ]:
all_individual_with_others_time = all_individual_tasks_2022_time_calculation.loc[all_individual_tasks_2022_time_calculation["Summary"].isin(["Explain", "Verify", "Clarify", "Communicate"])]

In [ ]:
all_individual_with_others_time

Summarize time for each subtask outside codeubsters

In [ ]:
others_time = all_individual_with_others_time.groupby("Parent id")["time_in"].sum()

Summarize time for each subtask outside codeubsters

Merge `all_tickets` with time outisde codebusters column

In [ ]:
all_tickets_with_outside_codebusters_time = pd.merge(all_tickets_without_null, others_time, how="left",left_on = "Issue id",right_on = "Parent id")

In [ ]:
all_tickets_with_outside_codebusters_time.rename({"time_in": "time_outside_codebusters"},axis=1, inplace=True)
all_tickets_with_outside_codebusters_time

### Merge all dataframes together

Merge df containing "review" time with df containg "time on codebusters"

In [ ]:
all_tickets_with_time = pd.merge(all_tickets_with_review_time, all_tickets_with_codebusters_time[['Issue id','time_on_codebusters']],  how="left",left_on = "Issue id",right_on = "Issue id")

Merge df containing "review" and "time on codebusters" time with df containg "time outside codebusters"

In [ ]:
all_tickets_with_time = pd.merge(all_tickets_with_time, all_tickets_with_outside_codebusters_time[['Issue id','time_outside_codebusters']],  how="left",left_on = "Issue id",right_on = "Issue id")

In [ ]:
all_tickets_with_time

### Convert `time in..` columns to minutes

Convert `timedelta` columns to float

In [ ]:
all_tickets_with_time_converted = all_tickets_with_time
all_tickets_with_time_converted.info()

Convert `time in..` columns to minutes

In [ ]:
all_tickets_with_time_converted['time_in_review'] = all_tickets_with_time_converted['time_in_review'].dt.total_seconds().div(60)
all_tickets_with_time_converted

In [ ]:
all_tickets_with_time_converted['time_on_codebusters'] = all_tickets_with_time_converted['time_on_codebusters'].dt.total_seconds().div(60)
all_tickets_with_time_converted

In [ ]:
all_tickets_with_time_converted['time_outside_codebusters'] = all_tickets_with_time['time_outside_codebusters'].dt.total_seconds().div(60)
all_tickets_with_time_converted

In [ ]:
all_tickets_with_time_converted.isnull().sum()

In [ ]:
all_tickets_with_time_converted.dropna(subset=['time_in_review'], how="any", inplace=True)
all_tickets_with_time_converted.isnull().sum()

## Save data for KPIs purposes

In [ ]:
all_tickets_with_time_converted.to_csv('all_partners.csv', index=False)

### Add a column to all tasks with the latest communicate step date
- count "real" close time, bease on the date when ticket was moved to `communicate` step

In [ ]:
all_individual_tasks_2022

In [ ]:
summary_duplicates = all_individual_tasks_2022.duplicated(['Summary', 'Parent id'], keep=False)
all_individual_tasks_2022[summary_duplicates].sort_values("Parent id")

In [ ]:
all_individual_tasks_2022_communicate = all_individual_tasks_2022[all_individual_tasks_2022["Summary"] == "Communicate"]
all_individual_tasks_2022_communicate.sort_values("Parent id")

In [ ]:
all_individual_tasks_2022_communicate.nunique()

Drop rows with duplicated `Communicate` subtask and keep only the newest one

In [ ]:
all_individual_tasks_2022_communicate.sort_values(["Parent id", "Created"])
all_individual_tasks_2022_communicate_no_duplicates = all_individual_tasks_2022_communicate.drop_duplicates(['Summary', 'Parent id'], keep="last")
# all_individual_tasks_2022_communicate_no_duplicates = all_individual_tasks_2022_communicate
all_individual_tasks_2022_communicate_no_duplicates

In [ ]:
all_tickets_with_time_and_cummunicate_date = pd.merge(all_tickets_with_time_converted, all_individual_tasks_2022_communicate_no_duplicates[['Parent id','Created']], how="left",left_on = "Issue id",right_on = "Parent id").drop(columns=["Parent id"])
all_tickets_with_time_and_cummunicate_date.rename({"Created_y": "comminicate_created"},axis=1, inplace=True)
all_tickets_with_time_and_cummunicate_date

Drop rows without `communicate_create`, we are taking in to consideration only completed tickets

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.isnull().sum()

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.nunique()

In [ ]:
500 - 145

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.dropna(subset=['comminicate_created'], how="any", inplace=True)

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date

**Summary:**
- rows with null value are droped
- we take into consideration only completed tickets

### Save data to csv file

In [ ]:
all_tickets_2022_with_time_and_cummunicate_date.to_csv('all_tickets_combined.csv', index=False)

In [ ]:
all_individual_tasks_2022_communicate_no_duplicates.nunique()

## Data Analysis

### Compare the size of the created data sets
- compare the size of each datasests, in order to verify v

In [ ]:
all_individual_tasks_2022_origin[all_individual_tasks_2022_origin['Parent id'] == 450084]

In [ ]:
all_individual_tasks_2022.info()

**Summary:**
- We should receive inside `all_individual_tasks_2022_communicate_no_duplicates` 1372 rows not 1297

# To Do:
- invesitigate discrepency between datasests: `codebusters_time`(1798 rows),  `others_time` (1672 rows), `all_tickets_2022` (1699 rows)

In [ ]:
duplucated_communicate = all_individual_tasks_2022_communicate.duplicated(['Summary', 'Parent id'])
all_individual_tasks_2022_communicate[duplucated_communicate]

In [ ]:
codebusters_time.shape

In [ ]:
others_time.shape

In [ ]:
all_tickets.shape

## Investigate different columns with the tickets age

- check the useful KPIs

In [ ]:
all_tickets_2022_updated.head(-5)

In [ ]:
all_tickets_2022_updated[all_tickets_2022_updated['Issue key'] == 'CI-7689']

In [ ]:
all_tickets_2022_updated['age_till_communicate_hours'].describe()

In [ ]:
# all_tickets_2022_updated.to_csv('all_tickets_2022_updated.csv')